examples/Action Batches - Clone a Switch.json
[
    {
        "id": "164b7b30.2e5df5",
        "type": "comment",
        "z": "98d8dab.c757228",
        "name": "Clone a Switch using Action Batches",
        "info": "",
        "x": 170,
        "y": 1420,
        "wires": []
    },
    {
        "id": "cf894cec.d1862",
        "type": "meraki-dashboard-api",
        "z": "98d8dab.c757228",
        "service": "",
        "name": "getDeviceSwitchPorts",
        "selectedGroup": "Switch ports",
        "selectedMethod": "getDeviceSwitchPorts",
        "filteredMethods": [
            {
                "methodGroup": "Switch ports",
                "methodName": "getDeviceSwitchPorts",
                "parameters": [
                    {
                        "camelCaseName": "serial"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getDeviceSwitchPorts_serial\"><label for=\"node-input-getDeviceSwitchPorts_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getDeviceSwitchPorts_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getDeviceSwitchPorts_serialType\" value=\"string\" ></div>",
                "example": "[\n  [\n    {\n      \"number\": 1,\n      \"name\": \"My switch port\",\n      \"tags\": \"tag1 tag2\",\n      \"enabled\": true,\n      \"poeEnabled\": true,\n      \"type\": \"access\",\n      \"vlan\": 10,\n      \"voiceVlan\": 20,\n      \"isolationEnabled\": false,\n      \"rstpEnabled\": true,\n      \"stpGuard\": \"disabled\",\n      \"accessPolicyNumber\": \"1234\",\n      \"linkNegotiation\": \"Auto negotiate\",\n      \"portScheduleId\": \"1234\",\n      \"udld\": \"Alert only\",\n      \"macWhitelist\": [\n        \"34:56:fe:ce:8e:b0\",\n        \"34:56:fe:ce:8e:b1\"\n      ],\n      \"stickyMacWhitelist\": [\n        \"34:56:fe:ce:8e:b0\",\n        \"34:56:fe:ce:8e:b1\"\n      ],\n      \"stickyMacWhitelistLimit\": 5\n    }\n  ]\n]",
                "summary": "List the switch ports for a switch"
            },
            {
                "methodGroup": "Switch ports",
                "methodName": "getDeviceSwitchPort",
                "parameters": [
                    {
                        "camelCaseName": "serial"
                    },
                    {
                        "camelCaseName": "number"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getDeviceSwitchPort_serial\"><label for=\"node-input-getDeviceSwitchPort_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getDeviceSwitchPort_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getDeviceSwitchPort_serialType\" value=\"string\" ></div><div class=\"form-row\" id=\"getDeviceSwitchPort_number\"><label for=\"node-input-getDeviceSwitchPort_number\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>number<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getDeviceSwitchPort_number\" placeholder=\"msg.number\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getDeviceSwitchPort_numberType\" value=\"string\" ></div>",
                "example": "[\n  {\n    \"number\": 1,\n    \"name\": \"My switch port\",\n    \"tags\": \"tag1 tag2\",\n    \"enabled\": true,\n    \"poeEnabled\": true,\n    \"type\": \"access\",\n    \"vlan\": 10,\n    \"voiceVlan\": 20,\n    \"isolationEnabled\": false,\n    \"rstpEnabled\": true,\n    \"stpGuard\": \"disabled\",\n    \"accessPolicyNumber\": \"1234\",\n    \"linkNegotiation\": \"Auto negotiate\",\n    \"portScheduleId\": \"1234\",\n    \"udld\": \"Alert only\",\n    \"macWhitelist\": [\n      \"34:56:fe:ce:8e:b0\",\n      \"34:56:fe:ce:8e:b1\"\n    ],\n    \"stickyMacWhitelist\": [\n      \"34:56:fe:ce:8e:b0\",\n      \"34:56:fe:ce:8e:b1\"\n    ],\n    \"stickyMacWhitelistLimit\": 5\n  }\n]",
                "summary": "Return a switch port"
            },
            {
                "methodGroup": "Switch ports",
                "methodName": "updateDeviceSwitchPort",
                "parameters": [
                    {
                        "camelCaseName": "serial"
                    },
                    {
                        "camelCaseName": "number"
                    },
                    {
                        "camelCaseName": "updateDeviceSwitchPort"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"updateDeviceSwitchPort_serial\"><label for=\"node-input-updateDeviceSwitchPort_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-updateDeviceSwitchPort_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateDeviceSwitchPort_serialType\" value=\"string\" ></div><div class=\"form-row\" id=\"updateDeviceSwitchPort_number\"><label for=\"node-input-updateDeviceSwitchPort_number\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>number<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-updateDeviceSwitchPort_number\" placeholder=\"msg.number\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateDeviceSwitchPort_numberType\" value=\"string\" ></div><div class=\"form-row\" id=\"updateDeviceSwitchPort_updateDeviceSwitchPort\"><label for=\"node-input-updateDeviceSwitchPort_updateDeviceSwitchPort\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>updateDeviceSwitchPort</b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-updateDeviceSwitchPort_updateDeviceSwitchPort\" placeholder=\"msg.updateDeviceSwitchPort\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateDeviceSwitchPort_updateDeviceSwitchPortType\" value=\"\" ></div>",
                "example": "[\n  {\n    \"number\": 1,\n    \"name\": \"My switch port\",\n    \"tags\": \"tag1 tag2\",\n    \"enabled\": true,\n    \"poeEnabled\": true,\n    \"type\": \"access\",\n    \"vlan\": 10,\n    \"voiceVlan\": 20,\n    \"isolationEnabled\": false,\n    \"rstpEnabled\": true,\n    \"stpGuard\": \"disabled\",\n    \"accessPolicyNumber\": \"1234\",\n    \"linkNegotiation\": \"Auto negotiate\",\n    \"portScheduleId\": \"1234\",\n    \"udld\": \"Alert only\",\n    \"macWhitelist\": [\n      \"34:56:fe:ce:8e:b0\",\n      \"34:56:fe:ce:8e:b1\"\n    ],\n    \"stickyMacWhitelist\": [\n      \"34:56:fe:ce:8e:b0\",\n      \"34:56:fe:ce:8e:b1\"\n    ],\n    \"stickyMacWhitelistLimit\": 5\n  }\n]",
                "summary": "Update a switch port"
            }
        ],
        "storedParams": [],
        "formHtml": "",
        "method": "getDeviceSwitchPorts",
        "x": 620,
        "y": 1500,
        "wires": [
            [
                "c3939cf9.e2eee"
            ]
        ]
    },
    {
        "id": "3949e5c1.de33ba",
        "type": "inject",
        "z": "98d8dab.c757228",
        "name": "Switch Port Cloner",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 170,
        "y": 1460,
        "wires": [
            [
                "53a840f1.ed11d"
            ]
        ]
    },
    {
        "id": "4e46c771.bde398",
        "type": "change",
        "z": "98d8dab.c757228",
        "name": "UPDATE: Source Serial",
        "rules": [
            {
                "t": "set",
                "p": "serial",
                "pt": "msg",
                "to": "QBS2-FKXH-6RYD",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 1500,
        "wires": [
            [
                "cf894cec.d1862"
            ]
        ]
    },
    {
        "id": "3f9318e8.45f808",
        "type": "debug",
        "z": "98d8dab.c757228",
        "name": "Switch Ports",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1270,
        "y": 1500,
        "wires": []
    },
    {
        "id": "9d3ffbcd.734708",
        "type": "meraki-dashboard-api",
        "z": "98d8dab.c757228",
        "service": "",
        "name": "createOrganizationActionBatch",
        "selectedGroup": "Action batches",
        "selectedMethod": "createOrganizationActionBatch",
        "filteredMethods": [
            {
                "methodGroup": "Action batches",
                "methodName": "createOrganizationActionBatch",
                "parameters": [
                    {
                        "camelCaseName": "organizationId"
                    },
                    {
                        "camelCaseName": "createOrganizationActionBatch"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"createOrganizationActionBatch_organizationId\"><label for=\"node-input-createOrganizationActionBatch_organizationId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>organizationId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-createOrganizationActionBatch_organizationId\" placeholder=\"msg.organizationId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-createOrganizationActionBatch_organizationIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"createOrganizationActionBatch_createOrganizationActionBatch\"><label for=\"node-input-createOrganizationActionBatch_createOrganizationActionBatch\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>createOrganizationActionBatch<span style=\"color:red;\"> *</span></b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-createOrganizationActionBatch_createOrganizationActionBatch\" placeholder=\"msg.createOrganizationActionBatch\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-createOrganizationActionBatch_createOrganizationActionBatchType\" value=\"\" ></div>",
                "example": "[\n  {\n    \"id\": \"123\",\n    \"organizationId\": \"2930418\",\n    \"confirmed\": true,\n    \"synchronous\": false,\n    \"status\": {\n      \"completed\": false,\n      \"failed\": false,\n      \"errors\": []\n    },\n    \"actions\": [\n      {\n        \"resource\": \"/devices/QXXX-XXXX-XXXX/switchPorts/3\",\n        \"operation\": \"update\",\n        \"body\": {\n          \"enabled\": false\n        }\n      }\n    ]\n  }\n]",
                "summary": "Create an action batch"
            },
            {
                "methodGroup": "Action batches",
                "methodName": "getOrganizationActionBatches",
                "parameters": [
                    {
                        "camelCaseName": "organizationId"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getOrganizationActionBatches_organizationId\"><label for=\"node-input-getOrganizationActionBatches_organizationId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>organizationId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getOrganizationActionBatches_organizationId\" placeholder=\"msg.organizationId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganizationActionBatches_organizationIdType\" value=\"string\" ></div>",
                "example": "[\n  [\n    {\n      \"id\": \"123\",\n      \"organizationId\": \"2930418\",\n      \"confirmed\": true,\n      \"synchronous\": false,\n      \"status\": {\n        \"completed\": false,\n        \"failed\": false,\n        \"errors\": []\n      },\n      \"actions\": [\n        {\n          \"resource\": \"/devices/QXXX-XXXX-XXXX/switchPorts/3\",\n          \"operation\": \"update\",\n          \"body\": {\n            \"enabled\": false\n          }\n        }\n      ]\n    }\n  ]\n]",
                "summary": "Return the list of action batches in the organization"
            },
            {
                "methodGroup": "Action batches",
                "methodName": "getOrganizationActionBatch",
                "parameters": [
                    {
                        "camelCaseName": "organizationId"
                    },
                    {
                        "camelCaseName": "actionBatchId"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getOrganizationActionBatch_organizationId\"><label for=\"node-input-getOrganizationActionBatch_organizationId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>organizationId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getOrganizationActionBatch_organizationId\" placeholder=\"msg.organizationId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganizationActionBatch_organizationIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getOrganizationActionBatch_actionBatchId\"><label for=\"node-input-getOrganizationActionBatch_actionBatchId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>actionBatchId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getOrganizationActionBatch_actionBatchId\" placeholder=\"msg.actionBatchId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganizationActionBatch_actionBatchIdType\" value=\"string\" ></div>",
                "example": "[\n  {\n    \"id\": \"123\",\n    \"organizationId\": \"2930418\",\n    \"confirmed\": true,\n    \"synchronous\": false,\n    \"status\": {\n      \"completed\": false,\n      \"failed\": false,\n      \"errors\": []\n    },\n    \"actions\": [\n      {\n        \"resource\": \"/devices/QXXX-XXXX-XXXX/switchPorts/3\",\n        \"operation\": \"update\",\n        \"body\": {\n          \"enabled\": false\n        }\n      }\n    ]\n  }\n]",
                "summary": "Return an action batch"
            },
            {
                "methodGroup": "Action batches",
                "methodName": "deleteOrganizationActionBatch",
                "parameters": [
                    {
                        "camelCaseName": "organizationId"
                    },
                    {
                        "camelCaseName": "actionBatchId"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"deleteOrganizationActionBatch_organizationId\"><label for=\"node-input-deleteOrganizationActionBatch_organizationId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>organizationId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-deleteOrganizationActionBatch_organizationId\" placeholder=\"msg.organizationId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-deleteOrganizationActionBatch_organizationIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"deleteOrganizationActionBatch_actionBatchId\"><label for=\"node-input-deleteOrganizationActionBatch_actionBatchId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>actionBatchId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-deleteOrganizationActionBatch_actionBatchId\" placeholder=\"msg.actionBatchId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-deleteOrganizationActionBatch_actionBatchIdType\" value=\"string\" ></div>",
                "example": "[]",
                "summary": "Delete an action batch"
            },
            {
                "methodGroup": "Action batches",
                "methodName": "updateOrganizationActionBatch",
                "parameters": [
                    {
                        "camelCaseName": "organizationId"
                    },
                    {
                        "camelCaseName": "actionBatchId"
                    },
                    {
                        "camelCaseName": "updateOrganizationActionBatch"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"updateOrganizationActionBatch_organizationId\"><label for=\"node-input-updateOrganizationActionBatch_organizationId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>organizationId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-updateOrganizationActionBatch_organizationId\" placeholder=\"msg.organizationId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateOrganizationActionBatch_organizationIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"updateOrganizationActionBatch_actionBatchId\"><label for=\"node-input-updateOrganizationActionBatch_actionBatchId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>actionBatchId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-updateOrganizationActionBatch_actionBatchId\" placeholder=\"msg.actionBatchId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateOrganizationActionBatch_actionBatchIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"updateOrganizationActionBatch_updateOrganizationActionBatch\"><label for=\"node-input-updateOrganizationActionBatch_updateOrganizationActionBatch\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>updateOrganizationActionBatch</b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-updateOrganizationActionBatch_updateOrganizationActionBatch\" placeholder=\"msg.updateOrganizationActionBatch\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateOrganizationActionBatch_updateOrganizationActionBatchType\" value=\"\" ></div>",
                "example": "[\n  {\n    \"id\": \"123\",\n    \"organizationId\": \"2930418\",\n    \"confirmed\": true,\n    \"synchronous\": false,\n    \"status\": {\n      \"completed\": false,\n      \"failed\": false,\n      \"errors\": []\n    },\n    \"actions\": [\n      {\n        \"resource\": \"/devices/QXXX-XXXX-XXXX/switchPorts/3\",\n        \"operation\": \"update\",\n        \"body\": {\n          \"enabled\": false\n        }\n      }\n    ]\n  }\n]",
                "summary": "Update an action batch"
            }
        ],
        "currentParams": [
            {
                "methodName": "createOrganizationActionBatch",
                "camelCaseName": "organizationId",
                "type": "str",
                "value": ""
            }
        ],
        "storedParams": [
            {
                "methodName": "createOrganizationActionBatch",
                "camelCaseName": "organizationId",
                "type": "str",
                "value": ""
            }
        ],
        "formHtml": "",
        "method": "createOrganizationActionBatch",
        "x": 610,
        "y": 1700,
        "wires": [
            [
                "4bb2fd3d.e1b044",
                "72ecf14.7d6ab1"
            ]
        ]
    },
    {
        "id": "481bddd6.26c334",
        "type": "function",
        "z": "98d8dab.c757228",
        "name": "Build Actions",
        "func": "\nvar serial = msg.serial\nvar switchPorts = msg.switchPorts;\n\n\n// Action Batch object\nvar actionBatch = {\n  \"confirmed\": true,\n  \"synchronous\": false,\n  \"actions\":[]\n}\n\n// Loop through each port number\nswitchPorts.forEach(port =>{\n   // if(port.number > 24){return} // hard code test\n// Create a copy of port configs\n    let configs = {};\n    Object.assign(configs, port)\n    // Remove params not required in body\n    delete configs.number;\n    delete configs.macWhitelist;\n    delete configs.stickyMacWhitelist;\n    delete configs.stickyMacWhitelistLimit\n// Create action \nvar action = {\n    \"resource\": `/devices/${serial}/switchPorts/${port.number}`,\n    \"operation\": \"update\",\n    \"body\": configs//{\"tags\":\"api nr\"}\n    // \"body\":{\n    //     \"name\": null,\n    //     \"tags\": \"api nr\",\n    //     \"enabled\": true,\n    //     \"poeEnabled\": true,\n    //     \"type\": \"trunk\",\n    //     \"vlan\": 1,\n    //     \"voiceVlan\": null,\n    //     \"allowedVlans\": \"all\",\n    //     \"isolationEnabled\": false,\n    //     \"rstpEnabled\": true,\n    //     \"stpGuard\": \"disabled\",\n    //     \"accessPolicyNumber\": null,\n    //     \"linkNegotiation\": \"Auto negotiate\",\n    //     \"portScheduleId\": null,\n    //     \"udld\": \"Alert only\",\n    //    //\"macWhitelist\": null,\n    //    //\"stickyMacWhitelist\": null,\n    //    // \"stickyMacWhitelistLimit\": null\n   // }\n  }\n// Append action to the action batch\nactionBatch.actions.push(action)\n});\n\n    \n// Send actionBatch to Meraki\nmsg.payload = actionBatch;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 930,
        "y": 1640,
        "wires": [
            [
                "9d3ffbcd.734708"
            ]
        ]
    },
    {
        "id": "4bb2fd3d.e1b044",
        "type": "debug",
        "z": "98d8dab.c757228",
        "name": "Create Action Batch",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "x": 920,
        "y": 1700,
        "wires": []
    },
    {
        "id": "9559eb2e.4c3a18",
        "type": "delay",
        "z": "98d8dab.c757228",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 420,
        "y": 1820,
        "wires": [
            [
                "1f68ed84.7db482"
            ]
        ]
    },
    {
        "id": "1bb52f8b.a0f86",
        "type": "debug",
        "z": "98d8dab.c757228",
        "name": "Return Action Batch",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "x": 1220,
        "y": 1820,
        "wires": []
    },
    {
        "id": "72ecf14.7d6ab1",
        "type": "function",
        "z": "98d8dab.c757228",
        "name": "Get batch ID",
        "func": "msg.actionBatchId = msg.payload.id;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 1780,
        "wires": [
            [
                "9559eb2e.4c3a18",
                "eac6e99a.5c9328"
            ]
        ]
    },
    {
        "id": "20cb9879.8021b8",
        "type": "inject",
        "z": "98d8dab.c757228",
        "name": "Get Action Batch Status",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 190,
        "y": 1880,
        "wires": [
            [
                "3460e5fd.a7815a"
            ]
        ]
    },
    {
        "id": "eac6e99a.5c9328",
        "type": "change",
        "z": "98d8dab.c757228",
        "name": "store actionBatchId to state",
        "rules": [
            {
                "t": "set",
                "p": "actionBatchId",
                "pt": "flow",
                "to": "actionBatchId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "organizationId",
                "pt": "flow",
                "to": "organizationId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 1780,
        "wires": [
            []
        ]
    },
    {
        "id": "3460e5fd.a7815a",
        "type": "change",
        "z": "98d8dab.c757228",
        "name": "get actionBatchId from state",
        "rules": [
            {
                "t": "set",
                "p": "actionBatchId",
                "pt": "msg",
                "to": "actionBatchId",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "organizationId",
                "pt": "msg",
                "to": "organizationId",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 1880,
        "wires": [
            [
                "1f68ed84.7db482"
            ]
        ]
    },
    {
        "id": "1f68ed84.7db482",
        "type": "meraki-dashboard-api",
        "z": "98d8dab.c757228",
        "service": "",
        "name": "getOrganizationActionBatch",
        "selectedGroup": "Action batches",
        "selectedMethod": "getOrganizationActionBatch",
        "filteredMethods": [
            {
                "methodGroup": "Action batches",
                "methodName": "createOrganizationActionBatch",
                "parameters": [
                    {
                        "camelCaseName": "organizationId"
                    },
                    {
                        "camelCaseName": "createOrganizationActionBatch"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"createOrganizationActionBatch_organizationId\"><label for=\"node-input-createOrganizationActionBatch_organizationId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>organizationId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-createOrganizationActionBatch_organizationId\" placeholder=\"msg.organizationId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-createOrganizationActionBatch_organizationIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"createOrganizationActionBatch_createOrganizationActionBatch\"><label for=\"node-input-createOrganizationActionBatch_createOrganizationActionBatch\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>createOrganizationActionBatch<span style=\"color:red;\"> *</span></b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-createOrganizationActionBatch_createOrganizationActionBatch\" placeholder=\"msg.createOrganizationActionBatch\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-createOrganizationActionBatch_createOrganizationActionBatchType\" value=\"\" ></div>",
                "example": "[\n  {\n    \"id\": \"123\",\n    \"organizationId\": \"2930418\",\n    \"confirmed\": true,\n    \"synchronous\": false,\n    \"status\": {\n      \"completed\": false,\n      \"failed\": false,\n      \"errors\": []\n    },\n    \"actions\": [\n      {\n        \"resource\": \"/devices/QXXX-XXXX-XXXX/switchPorts/3\",\n        \"operation\": \"update\",\n        \"body\": {\n          \"enabled\": false\n        }\n      }\n    ]\n  }\n]",
                "summary": "Create an action batch"
            },
            {
                "methodGroup": "Action batches",
                "methodName": "getOrganizationActionBatches",
                "parameters": [
                    {
                        "camelCaseName": "organizationId"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getOrganizationActionBatches_organizationId\"><label for=\"node-input-getOrganizationActionBatches_organizationId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>organizationId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getOrganizationActionBatches_organizationId\" placeholder=\"msg.organizationId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganizationActionBatches_organizationIdType\" value=\"string\" ></div>",
                "example": "[\n  [\n    {\n      \"id\": \"123\",\n      \"organizationId\": \"2930418\",\n      \"confirmed\": true,\n      \"synchronous\": false,\n      \"status\": {\n        \"completed\": false,\n        \"failed\": false,\n        \"errors\": []\n      },\n      \"actions\": [\n        {\n          \"resource\": \"/devices/QXXX-XXXX-XXXX/switchPorts/3\",\n          \"operation\": \"update\",\n          \"body\": {\n            \"enabled\": false\n          }\n        }\n      ]\n    }\n  ]\n]",
                "summary": "Return the list of action batches in the organization"
            },
            {
                "methodGroup": "Action batches",
                "methodName": "getOrganizationActionBatch",
                "parameters": [
                    {
                        "camelCaseName": "organizationId"
                    },
                    {
                        "camelCaseName": "actionBatchId"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getOrganizationActionBatch_organizationId\"><label for=\"node-input-getOrganizationActionBatch_organizationId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>organizationId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getOrganizationActionBatch_organizationId\" placeholder=\"msg.organizationId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganizationActionBatch_organizationIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getOrganizationActionBatch_actionBatchId\"><label for=\"node-input-getOrganizationActionBatch_actionBatchId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>actionBatchId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getOrganizationActionBatch_actionBatchId\" placeholder=\"msg.actionBatchId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganizationActionBatch_actionBatchIdType\" value=\"string\" ></div>",
                "example": "[\n  {\n    \"id\": \"123\",\n    \"organizationId\": \"2930418\",\n    \"confirmed\": true,\n    \"synchronous\": false,\n    \"status\": {\n      \"completed\": false,\n      \"failed\": false,\n      \"errors\": []\n    },\n    \"actions\": [\n      {\n        \"resource\": \"/devices/QXXX-XXXX-XXXX/switchPorts/3\",\n        \"operation\": \"update\",\n        \"body\": {\n          \"enabled\": false\n        }\n      }\n    ]\n  }\n]",
                "summary": "Return an action batch"
            },
            {
                "methodGroup": "Action batches",
                "methodName": "deleteOrganizationActionBatch",
                "parameters": [
                    {
                        "camelCaseName": "organizationId"
                    },
                    {
                        "camelCaseName": "actionBatchId"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"deleteOrganizationActionBatch_organizationId\"><label for=\"node-input-deleteOrganizationActionBatch_organizationId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>organizationId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-deleteOrganizationActionBatch_organizationId\" placeholder=\"msg.organizationId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-deleteOrganizationActionBatch_organizationIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"deleteOrganizationActionBatch_actionBatchId\"><label for=\"node-input-deleteOrganizationActionBatch_actionBatchId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>actionBatchId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-deleteOrganizationActionBatch_actionBatchId\" placeholder=\"msg.actionBatchId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-deleteOrganizationActionBatch_actionBatchIdType\" value=\"string\" ></div>",
                "example": "[]",
                "summary": "Delete an action batch"
            },
            {
                "methodGroup": "Action batches",
                "methodName": "updateOrganizationActionBatch",
                "parameters": [
                    {
                        "camelCaseName": "organizationId"
                    },
                    {
                        "camelCaseName": "actionBatchId"
                    },
                    {
                        "camelCaseName": "updateOrganizationActionBatch"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"updateOrganizationActionBatch_organizationId\"><label for=\"node-input-updateOrganizationActionBatch_organizationId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>organizationId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-updateOrganizationActionBatch_organizationId\" placeholder=\"msg.organizationId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateOrganizationActionBatch_organizationIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"updateOrganizationActionBatch_actionBatchId\"><label for=\"node-input-updateOrganizationActionBatch_actionBatchId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>actionBatchId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-updateOrganizationActionBatch_actionBatchId\" placeholder=\"msg.actionBatchId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateOrganizationActionBatch_actionBatchIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"updateOrganizationActionBatch_updateOrganizationActionBatch\"><label for=\"node-input-updateOrganizationActionBatch_updateOrganizationActionBatch\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>updateOrganizationActionBatch</b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-updateOrganizationActionBatch_updateOrganizationActionBatch\" placeholder=\"msg.updateOrganizationActionBatch\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateOrganizationActionBatch_updateOrganizationActionBatchType\" value=\"\" ></div>",
                "example": "[\n  {\n    \"id\": \"123\",\n    \"organizationId\": \"2930418\",\n    \"confirmed\": true,\n    \"synchronous\": false,\n    \"status\": {\n      \"completed\": false,\n      \"failed\": false,\n      \"errors\": []\n    },\n    \"actions\": [\n      {\n        \"resource\": \"/devices/QXXX-XXXX-XXXX/switchPorts/3\",\n        \"operation\": \"update\",\n        \"body\": {\n          \"enabled\": false\n        }\n      }\n    ]\n  }\n]",
                "summary": "Update an action batch"
            }
        ],
        "storedParams": [],
        "formHtml": "",
        "method": "getOrganizationActionBatch",
        "x": 820,
        "y": 1820,
        "wires": [
            [
                "fc43cc64.caa6e"
            ]
        ]
    },
    {
        "id": "53a840f1.ed11d",
        "type": "change",
        "z": "98d8dab.c757228",
        "name": "UPDATE: Org ID",
        "rules": [
            {
                "t": "set",
                "p": "organizationId",
                "pt": "msg",
                "to": "643451796760560086",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 1460,
        "wires": [
            [
                "4b3d2d9b.3bc174"
            ]
        ]
    },
    {
        "id": "d5d65132.57de1",
        "type": "function",
        "z": "98d8dab.c757228",
        "name": "UPDATE: Destination Serials",
        "func": "// destination switch serials to clone to\nmsg.payload = [\"QBS2-8Z8Y-UXPE\", \"QBS2-N47Q-S5HR\"]\n\n// non matching demo\n//msg.payload = [\"QBS2-8Z8Y-UXPE\", \"QBS2-8ANU-MY84\"]\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 1540,
        "wires": [
            [
                "f27dbaab.790a58"
            ]
        ]
    },
    {
        "id": "4b3d2d9b.3bc174",
        "type": "meraki-dashboard-api",
        "z": "98d8dab.c757228",
        "service": "",
        "name": "getOrganizationDevices",
        "selectedGroup": "Devices",
        "selectedMethod": "getOrganizationDevices",
        "filteredMethods": [
            {
                "methodGroup": "Devices",
                "methodName": "getNetworkDevices",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkDevices_networkId\"><label for=\"node-input-getNetworkDevices_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkDevices_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDevices_networkIdType\" value=\"string\" ></div>",
                "example": "[\n  [\n    {\n      \"name\": \"My AP\",\n      \"lat\": 37.4180951010362,\n      \"lng\": -122.098531723022,\n      \"serial\": \"Q234-ABCD-5678\",\n      \"mac\": \"00:11:22:33:44:55\",\n      \"model\": \"MR34\",\n      \"address\": \"1600 Pennsylvania Ave\",\n      \"notes\": \"My AP's note\",\n      \"lanIp\": \"1.2.3.4\",\n      \"tags\": \" recently-added \",\n      \"networkId\": \"N_24329156\",\n      \"beaconIdParams\": {\n        \"uuid\": \"00000000-0000-0000-0000-000000000000\",\n        \"major\": 5,\n        \"minor\": 3\n      },\n      \"firmware\": \"wireless-25-14\"\n    }\n  ]\n]",
                "summary": "List the devices in a network"
            },
            {
                "methodGroup": "Devices",
                "methodName": "claimNetworkDevices",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "claimNetworkDevices"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"claimNetworkDevices_networkId\"><label for=\"node-input-claimNetworkDevices_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-claimNetworkDevices_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-claimNetworkDevices_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"claimNetworkDevices_claimNetworkDevices\"><label for=\"node-input-claimNetworkDevices_claimNetworkDevices\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>claimNetworkDevices<span style=\"color:red;\"> *</span></b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-claimNetworkDevices_claimNetworkDevices\" placeholder=\"msg.claimNetworkDevices\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-claimNetworkDevices_claimNetworkDevicesType\" value=\"\" ></div>",
                "example": "[]",
                "summary": "Claim a device into a network"
            },
            {
                "methodGroup": "Devices",
                "methodName": "getNetworkDevice",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "serial"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkDevice_networkId\"><label for=\"node-input-getNetworkDevice_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkDevice_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDevice_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkDevice_serial\"><label for=\"node-input-getNetworkDevice_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkDevice_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDevice_serialType\" value=\"string\" ></div>",
                "example": "[\n  {\n    \"name\": \"My AP\",\n    \"lat\": 37.4180951010362,\n    \"lng\": -122.098531723022,\n    \"serial\": \"Q234-ABCD-5678\",\n    \"mac\": \"00:11:22:33:44:55\",\n    \"model\": \"MR34\",\n    \"address\": \"1600 Pennsylvania Ave\",\n    \"notes\": \"My AP's note\",\n    \"lanIp\": \"1.2.3.4\",\n    \"tags\": \" recently-added \",\n    \"networkId\": \"N_24329156\",\n    \"beaconIdParams\": {\n      \"uuid\": \"00000000-0000-0000-0000-000000000000\",\n      \"major\": 5,\n      \"minor\": 3\n    },\n    \"firmware\": \"wireless-25-14\"\n  }\n]",
                "summary": "Return a single device"
            },
            {
                "methodGroup": "Devices",
                "methodName": "updateNetworkDevice",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "serial"
                    },
                    {
                        "camelCaseName": "updateNetworkDevice"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"updateNetworkDevice_networkId\"><label for=\"node-input-updateNetworkDevice_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-updateNetworkDevice_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateNetworkDevice_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"updateNetworkDevice_serial\"><label for=\"node-input-updateNetworkDevice_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-updateNetworkDevice_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateNetworkDevice_serialType\" value=\"string\" ></div><div class=\"form-row\" id=\"updateNetworkDevice_updateNetworkDevice\"><label for=\"node-input-updateNetworkDevice_updateNetworkDevice\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>updateNetworkDevice</b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-updateNetworkDevice_updateNetworkDevice\" placeholder=\"msg.updateNetworkDevice\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateNetworkDevice_updateNetworkDeviceType\" value=\"\" ></div>",
                "example": "[\n  {\n    \"name\": \"My AP\",\n    \"lat\": 37.4180951010362,\n    \"lng\": -122.098531723022,\n    \"serial\": \"Q234-ABCD-5678\",\n    \"mac\": \"00:11:22:33:44:55\",\n    \"model\": \"MR34\",\n    \"address\": \"1600 Pennsylvania Ave\",\n    \"notes\": \"My AP's note\",\n    \"lanIp\": \"1.2.3.4\",\n    \"tags\": \" recently-added \",\n    \"networkId\": \"N_24329156\",\n    \"beaconIdParams\": {\n      \"uuid\": \"00000000-0000-0000-0000-000000000000\",\n      \"major\": 5,\n      \"minor\": 3\n    },\n    \"firmware\": \"wireless-25-14\"\n  }\n]",
                "summary": "Update the attributes of a device"
            },
            {
                "methodGroup": "Devices",
                "methodName": "blinkNetworkDeviceLeds",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "serial"
                    },
                    {
                        "camelCaseName": "blinkNetworkDeviceLeds"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"blinkNetworkDeviceLeds_networkId\"><label for=\"node-input-blinkNetworkDeviceLeds_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-blinkNetworkDeviceLeds_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-blinkNetworkDeviceLeds_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"blinkNetworkDeviceLeds_serial\"><label for=\"node-input-blinkNetworkDeviceLeds_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-blinkNetworkDeviceLeds_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-blinkNetworkDeviceLeds_serialType\" value=\"string\" ></div><div class=\"form-row\" id=\"blinkNetworkDeviceLeds_blinkNetworkDeviceLeds\"><label for=\"node-input-blinkNetworkDeviceLeds_blinkNetworkDeviceLeds\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>blinkNetworkDeviceLeds</b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-blinkNetworkDeviceLeds_blinkNetworkDeviceLeds\" placeholder=\"msg.blinkNetworkDeviceLeds\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-blinkNetworkDeviceLeds_blinkNetworkDeviceLedsType\" value=\"\" ></div>",
                "example": "[\n  {\n    \"sentToDevice\": true\n  }\n]",
                "summary": "Blink the LEDs on a device"
            },
            {
                "methodGroup": "Devices",
                "methodName": "getNetworkDeviceLldp_cdp",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "serial"
                    },
                    {
                        "camelCaseName": "timespan"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkDeviceLldp_cdp_networkId\"><label for=\"node-input-getNetworkDeviceLldp_cdp_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkDeviceLldp_cdp_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDeviceLldp_cdp_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkDeviceLldp_cdp_serial\"><label for=\"node-input-getNetworkDeviceLldp_cdp_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkDeviceLldp_cdp_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDeviceLldp_cdp_serialType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkDeviceLldp_cdp_timespan\"><label for=\"node-input-getNetworkDeviceLldp_cdp_timespan\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>timespan</b> <i>&nbspinteger</i></span></label><p>The timespan for which LLDP and CDP information will be fetched. Must be in seconds and less than or equal to a month (2592000 seconds). LLDP and CDP information is sent to the Meraki dashboard every 10 minutes. In instances where this LLDP and CDP information matches an existing entry in the Meraki dashboard, the data is updated once every two hours. Meraki recommends querying LLDP and CDP information at an interval slightly greater than two hours, to ensure that unchanged CDP / LLDP information can be queried consistently.</p><input type=\"text\" id=\"node-input-getNetworkDeviceLldp_cdp_timespan\" placeholder=\"msg.timespan\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDeviceLldp_cdp_timespanType\" value=\"integer\" ></div>",
                "example": "[\n  {\n    \"sourceMac\": \"00:11:22:33:44:55\",\n    \"ports\": {\n      \"8\": {\n        \"cdp\": {\n          \"deviceId\": \"e0553d8cdf53\",\n          \"portId\": \"Port 10\",\n          \"address\": \"00:11:22:33:44:55\",\n          \"sourcePort\": \"8\"\n        }\n      },\n      \"12\": {\n        \"cdp\": {\n          \"deviceId\": \"e0553d8cdf53\",\n          \"portId\": \"Port 11\",\n          \"address\": \"00:11:22:33:44:55\",\n          \"sourcePort\": \"12\"\n        },\n        \"lldp\": {\n          \"systemName\": \"Meraki MS350-24X - Phineas\",\n          \"portId\": \"11\",\n          \"managementAddress\": \"00:11:22:33:44:55\",\n          \"sourcePort\": \"12\"\n        }\n      }\n    }\n  }\n]",
                "summary": "List LLDP and CDP information for a device"
            },
            {
                "methodGroup": "Devices",
                "methodName": "getNetworkDeviceLossAndLatencyHistory",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "serial"
                    },
                    {
                        "camelCaseName": "t0"
                    },
                    {
                        "camelCaseName": "t1"
                    },
                    {
                        "camelCaseName": "timespan"
                    },
                    {
                        "camelCaseName": "resolution"
                    },
                    {
                        "camelCaseName": "uplink"
                    },
                    {
                        "camelCaseName": "ip"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkDeviceLossAndLatencyHistory_networkId\"><label for=\"node-input-getNetworkDeviceLossAndLatencyHistory_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkDeviceLossAndLatencyHistory_serial\"><label for=\"node-input-getNetworkDeviceLossAndLatencyHistory_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_serialType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkDeviceLossAndLatencyHistory_t0\"><label for=\"node-input-getNetworkDeviceLossAndLatencyHistory_t0\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>t0</b> <i>&nbspstring</i></span></label><p>The beginning of the timespan for the data. The maximum lookback period is 365 days from today.</p><input type=\"text\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_t0\" placeholder=\"msg.t0\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_t0Type\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkDeviceLossAndLatencyHistory_t1\"><label for=\"node-input-getNetworkDeviceLossAndLatencyHistory_t1\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>t1</b> <i>&nbspstring</i></span></label><p>The end of the timespan for the data. t1 can be a maximum of 31 days after t0.</p><input type=\"text\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_t1\" placeholder=\"msg.t1\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_t1Type\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkDeviceLossAndLatencyHistory_timespan\"><label for=\"node-input-getNetworkDeviceLossAndLatencyHistory_timespan\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>timespan</b> <i>&nbspinteger</i></span></label><p>The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 31 days. The default is 1 day.</p><input type=\"text\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_timespan\" placeholder=\"msg.timespan\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_timespanType\" value=\"integer\" ></div><div class=\"form-row\" id=\"getNetworkDeviceLossAndLatencyHistory_resolution\"><label for=\"node-input-getNetworkDeviceLossAndLatencyHistory_resolution\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>resolution</b> <i>&nbspinteger</i></span></label><p>The time resolution in seconds for returned data. The valid resolutions are: 60, 600, 3600, 86400. The default is 60.</p><input type=\"text\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_resolution\" placeholder=\"msg.resolution\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_resolutionType\" value=\"integer\" ></div><div class=\"form-row\" id=\"getNetworkDeviceLossAndLatencyHistory_uplink\"><label for=\"node-input-getNetworkDeviceLossAndLatencyHistory_uplink\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>uplink</b> <i>&nbspstring</i></span></label><p>The WAN uplink used to obtain the requested stats. Valid uplinks are wan1, wan2, cellular. The default is wan1.</p><input type=\"text\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_uplink\" placeholder=\"msg.uplink\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_uplinkType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkDeviceLossAndLatencyHistory_ip\"><label for=\"node-input-getNetworkDeviceLossAndLatencyHistory_ip\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>ip<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p>The destination IP used to obtain the requested stats. This is required.</p><input type=\"text\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_ip\" placeholder=\"msg.ip\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_ipType\" value=\"string\" ></div>",
                "example": "[\n  [\n    {\n      \"startTime\": \"2018-10-09T22:18:27Z\",\n      \"endTime\": \"2018-10-09T22:19:27Z\",\n      \"lossPercent\": 5,\n      \"latencyMs\": 324\n    },\n    {\n      \"startTime\": \"2018-10-09T22:19:27Z\",\n      \"endTime\": \"2018-10-09T22:20:27Z\",\n      \"lossPercent\": 1,\n      \"latencyMs\": 43\n    },\n    {\n      \"startTime\": \"2018-10-09T22:20:27Z\",\n      \"endTime\": \"2018-10-09T22:21:27Z\",\n      \"lossPercent\": 0,\n      \"latencyMs\": 44\n    }\n  ]\n]",
                "summary": "Get the uplink loss percentage and latency in milliseconds for a wired network device."
            },
            {
                "methodGroup": "Devices",
                "methodName": "getNetworkDevicePerformance",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "serial"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkDevicePerformance_networkId\"><label for=\"node-input-getNetworkDevicePerformance_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkDevicePerformance_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDevicePerformance_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkDevicePerformance_serial\"><label for=\"node-input-getNetworkDevicePerformance_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkDevicePerformance_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDevicePerformance_serialType\" value=\"string\" ></div>",
                "example": "[\n  {\n    \"perfScore\": 10\n  }\n]",
                "summary": "Return the performance score for a single device. Only primary MX devices supported. If no data is available a 204 error code is returned."
            },
            {
                "methodGroup": "Devices",
                "methodName": "rebootNetworkDevice",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "serial"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"rebootNetworkDevice_networkId\"><label for=\"node-input-rebootNetworkDevice_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-rebootNetworkDevice_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-rebootNetworkDevice_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"rebootNetworkDevice_serial\"><label for=\"node-input-rebootNetworkDevice_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-rebootNetworkDevice_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-rebootNetworkDevice_serialType\" value=\"string\" ></div>",
                "example": "[\n  {\n    \"success\": true\n  }\n]",
                "summary": "Reboot a device"
            },
            {
                "methodGroup": "Devices",
                "methodName": "removeNetworkDevice",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "serial"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"removeNetworkDevice_networkId\"><label for=\"node-input-removeNetworkDevice_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-removeNetworkDevice_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-removeNetworkDevice_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"removeNetworkDevice_serial\"><label for=\"node-input-removeNetworkDevice_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-removeNetworkDevice_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-removeNetworkDevice_serialType\" value=\"string\" ></div>",
                "example": "[]",
                "summary": "Remove a single device"
            },
            {
                "methodGroup": "Devices",
                "methodName": "getNetworkDeviceUplink",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "serial"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkDeviceUplink_networkId\"><label for=\"node-input-getNetworkDeviceUplink_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkDeviceUplink_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDeviceUplink_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkDeviceUplink_serial\"><label for=\"node-input-getNetworkDeviceUplink_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkDeviceUplink_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDeviceUplink_serialType\" value=\"string\" ></div>",
                "example": "[\n  [\n    {\n      \"interface\": \"WAN 1\",\n      \"status\": \"Active\",\n      \"ip\": \"1.2.3.4\",\n      \"gateway\": \"1.2.3.5\",\n      \"publicIp\": \"123.123.123.1\",\n      \"dns\": \"8.8.8.8, 8.8.4.4\",\n      \"usingStaticIp\": false\n    }\n  ]\n]",
                "summary": "Return the uplink information for a device."
            },
            {
                "methodGroup": "Devices",
                "methodName": "getOrganizationDevices",
                "parameters": [
                    {
                        "camelCaseName": "organizationId"
                    },
                    {
                        "camelCaseName": "perPage"
                    },
                    {
                        "camelCaseName": "startingAfter"
                    },
                    {
                        "camelCaseName": "endingBefore"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getOrganizationDevices_organizationId\"><label for=\"node-input-getOrganizationDevices_organizationId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>organizationId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getOrganizationDevices_organizationId\" placeholder=\"msg.organizationId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganizationDevices_organizationIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getOrganizationDevices_perPage\"><label for=\"node-input-getOrganizationDevices_perPage\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>perPage</b> <i>&nbspinteger</i></span></label><p>The number of entries per page returned. Acceptable range is 3 - 1000. Default is 1000.</p><input type=\"text\" id=\"node-input-getOrganizationDevices_perPage\" placeholder=\"msg.perPage\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganizationDevices_perPageType\" value=\"integer\" ></div><div class=\"form-row\" id=\"getOrganizationDevices_startingAfter\"><label for=\"node-input-getOrganizationDevices_startingAfter\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>startingAfter</b> <i>&nbspstring</i></span></label><p>A token used by the server to indicate the start of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.</p><input type=\"text\" id=\"node-input-getOrganizationDevices_startingAfter\" placeholder=\"msg.startingAfter\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganizationDevices_startingAfterType\" value=\"string\" ></div><div class=\"form-row\" id=\"getOrganizationDevices_endingBefore\"><label for=\"node-input-getOrganizationDevices_endingBefore\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>endingBefore</b> <i>&nbspstring</i></span></label><p>A token used by the server to indicate the end of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.</p><input type=\"text\" id=\"node-input-getOrganizationDevices_endingBefore\" placeholder=\"msg.endingBefore\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganizationDevices_endingBeforeType\" value=\"string\" ></div>",
                "example": "[\n  {\n    \"name\": \"My AP\",\n    \"lat\": 37.4180951010362,\n    \"lng\": -122.098531723022,\n    \"address\": \"1600 Pennsylvania Ave\",\n    \"notes\": \"My AP's note\",\n    \"tags\": \" recently-added \",\n    \"networkId\": \"N_24329156\",\n    \"serial\": \"Q234-ABCD-5678\",\n    \"model\": \"MR34\",\n    \"mac\": \"00:11:22:33:44:55\",\n    \"lanIp\": \"1.2.3.4\"\n  }\n]",
                "summary": "List the devices in an organization"
            }
        ],
        "storedParams": [],
        "formHtml": "",
        "method": "getOrganizationDevices",
        "x": 630,
        "y": 1460,
        "wires": [
            [
                "9dbbd226.8ca66"
            ]
        ]
    },
    {
        "id": "ecf500e4.4f715",
        "type": "debug",
        "z": "98d8dab.c757228",
        "name": "Org Devices",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1270,
        "y": 1460,
        "wires": []
    },
    {
        "id": "f27dbaab.790a58",
        "type": "split",
        "z": "98d8dab.c757228",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 410,
        "y": 1640,
        "wires": [
            [
                "3c8550c6.1ddd"
            ]
        ]
    },
    {
        "id": "4d3d38a8.1ddde8",
        "type": "function",
        "z": "98d8dab.c757228",
        "name": "Adjust params",
        "func": "// assign serial param from split serials\nmsg.serial = msg.payload;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 760,
        "y": 1640,
        "wires": [
            [
                "481bddd6.26c334"
            ]
        ]
    },
    {
        "id": "c3939cf9.e2eee",
        "type": "function",
        "z": "98d8dab.c757228",
        "name": "msg.switchPorts = msg.payload;",
        "func": "msg.switchPorts = msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 900,
        "y": 1500,
        "wires": [
            [
                "d5d65132.57de1",
                "3f9318e8.45f808"
            ]
        ]
    },
    {
        "id": "9dbbd226.8ca66",
        "type": "function",
        "z": "98d8dab.c757228",
        "name": "Set Devices Serial Map",
        "func": "var devices = {};\n\nmsg.payload.forEach(d =>\n{\n    devices[d.serial] = d;\n})\n\nflow.set('devicesBySerial', devices)\nmsg.payload = devices;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 870,
        "y": 1460,
        "wires": [
            [
                "e887e493.89e5d8"
            ]
        ]
    },
    {
        "id": "3c8550c6.1ddd",
        "type": "function",
        "z": "98d8dab.c757228",
        "name": "Models Match?",
        "func": "var devices = flow.get('devicesBySerial');\n\nvar srcSerial = msg.serial;\nvar dstSerial = msg.payload;\n\nif(devices[srcSerial].model !== devices[dstSerial].model){\n    node.status({fill:\"red\",shape:\"ring\",text:\"models do not match\"});\n}else{\n    node.status({fill:\"green\",shape:\"ring\",text:\"models match\"});\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 1640,
        "wires": [
            [
                "4d3d38a8.1ddde8"
            ]
        ]
    },
    {
        "id": "e887e493.89e5d8",
        "type": "function",
        "z": "98d8dab.c757228",
        "name": "clear payload",
        "func": "msg.payload = {};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1080,
        "y": 1460,
        "wires": [
            [
                "ecf500e4.4f715",
                "4e46c771.bde398"
            ]
        ]
    },
    {
        "id": "e3bffe6f.968",
        "type": "comment",
        "z": "98d8dab.c757228",
        "name": "Creates Action Batch for each switch serial",
        "info": "",
        "x": 500,
        "y": 1600,
        "wires": []
    },
    {
        "id": "2d9f204e.20df",
        "type": "comment",
        "z": "98d8dab.c757228",
        "name": "Gets Action Batch status",
        "info": "",
        "x": 450,
        "y": 1740,
        "wires": []
    },
    {
        "id": "fc43cc64.caa6e",
        "type": "function",
        "z": "98d8dab.c757228",
        "name": "status",
        "func": "msg.payload = msg.payload.status\n\nif(msg.payload.completed){\n    node.status({fill:\"green\",shape:\"ring\",text:\"completed\"});\n}else{\n    node.status({fill:\"yellow\",shape:\"ring\",text:\"in progress\"});\n    return msg;\n}\n\nif(msg.payload.error){\n    node.status({fill:\"red\",shape:\"ring\",text:\"error\"});\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1010,
        "y": 1820,
        "wires": [
            [
                "1bb52f8b.a0f86",
                "5489490b.571298"
            ]
        ]
    },
    {
        "id": "5489490b.571298",
        "type": "switch",
        "z": "98d8dab.c757228",
        "name": "completed?",
        "property": "payload.completed",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1010,
        "y": 1880,
        "wires": [
            [
                "9559eb2e.4c3a18"
            ]
        ]
    },
    {
        "id": "245a0719.fd51f8",
        "type": "comment",
        "z": "98d8dab.c757228",
        "name": "If not completed, request status again",
        "info": "",
        "x": 1090,
        "y": 1780,
        "wires": []
    }
]