examples/Basics.json
[
    {
        "id": "7eca7832.89df18",
        "type": "inject",
        "z": "f4572282.d383",
        "name": "Organizations",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 100,
        "wires": [
            [
                "ccd6f080.fb7de"
            ]
        ]
    },
    {
        "id": "51b4bd63.70c5b4",
        "type": "debug",
        "z": "f4572282.d383",
        "name": "Organizations",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 980,
        "y": 100,
        "wires": []
    },
    {
        "id": "66440539.2cea0c",
        "type": "inject",
        "z": "f4572282.d383",
        "name": "Networks",
        "topic": "",
        "payload": "{\"organizationId\": \"306267\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 180,
        "wires": [
            [
                "478b6cb4.0eeb14"
            ]
        ]
    },
    {
        "id": "b869d461.509f88",
        "type": "debug",
        "z": "f4572282.d383",
        "name": "Networks",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1000,
        "y": 180,
        "wires": []
    },
    {
        "id": "5117f7b6.6207a8",
        "type": "inject",
        "z": "f4572282.d383",
        "name": "Organization",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 140,
        "wires": [
            [
                "1e9e1f3b.50ce51"
            ]
        ]
    },
    {
        "id": "573609f4.b3ef18",
        "type": "debug",
        "z": "f4572282.d383",
        "name": "Organization",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 990,
        "y": 140,
        "wires": []
    },
    {
        "id": "853d0d7a.1a61c",
        "type": "inject",
        "z": "f4572282.d383",
        "name": "BluetoothNetClients",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 260,
        "wires": [
            [
                "9a7e6d76.41787"
            ]
        ]
    },
    {
        "id": "ccd6f080.fb7de",
        "type": "meraki-dashboard-api",
        "z": "f4572282.d383",
        "service": "d7e7692b.e5f0c8",
        "name": "getOrganizations",
        "selectedGroup": "Organizations",
        "selectedMethod": "getOrganizations",
        "filteredMethods": [
            {
                "methodGroup": "Organizations",
                "methodName": "getOrganizations",
                "parameters": [],
                "formHtml": "<h4>Parameters</h4>",
                "example": "[\n  [\n    {\n      \"id\": \"2930418\",\n      \"name\": \"My organization\"\n    }\n  ]\n]",
                "summary": "List the organizations that the user has privileges on"
            },
            {
                "methodGroup": "Organizations",
                "methodName": "createOrganization",
                "parameters": [
                    {
                        "camelCaseName": "createOrganization"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"createOrganization_createOrganization\"><label for=\"node-input-createOrganization_createOrganization\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>createOrganization<span style=\"color:red;\"> *</span></b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-createOrganization_createOrganization\" placeholder=\"msg.createOrganization\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-createOrganization_createOrganizationType\" value=\"\" ></div>",
                "example": "[\n  {\n    \"id\": \"2930418\",\n    \"name\": \"My organization\"\n  }\n]",
                "summary": "Create a new organization"
            },
            {
                "methodGroup": "Organizations",
                "methodName": "getOrganization",
                "parameters": [
                    {
                        "camelCaseName": "organizationId"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getOrganization_organizationId\"><label for=\"node-input-getOrganization_organizationId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>organizationId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getOrganization_organizationId\" placeholder=\"msg.organizationId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganization_organizationIdType\" value=\"string\" ></div>",
                "example": "[\n  {\n    \"id\": \"2930418\",\n    \"name\": \"My organization\"\n  }\n]",
                "summary": "Return an organization"
            },
            {
                "methodGroup": "Organizations",
                "methodName": "updateOrganization",
                "parameters": [
                    {
                        "camelCaseName": "organizationId"
                    },
                    {
                        "camelCaseName": "updateOrganization"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"updateOrganization_organizationId\"><label for=\"node-input-updateOrganization_organizationId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>organizationId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-updateOrganization_organizationId\" placeholder=\"msg.organizationId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateOrganization_organizationIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"updateOrganization_updateOrganization\"><label for=\"node-input-updateOrganization_updateOrganization\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>updateOrganization</b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-updateOrganization_updateOrganization\" placeholder=\"msg.updateOrganization\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateOrganization_updateOrganizationType\" value=\"\" ></div>",
                "example": "[\n  {\n    \"id\": \"2930418\",\n    \"name\": \"My organization\"\n  }\n]",
                "summary": "Update an organization"
            },
            {
                "methodGroup": "Organizations",
                "methodName": "deleteOrganization",
                "parameters": [
                    {
                        "camelCaseName": "organizationId"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"deleteOrganization_organizationId\"><label for=\"node-input-deleteOrganization_organizationId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>organizationId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-deleteOrganization_organizationId\" placeholder=\"msg.organizationId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-deleteOrganization_organizationIdType\" value=\"string\" ></div>",
                "example": "[]",
                "summary": "Delete an organization"
            },
            {
                "methodGroup": "Organizations",
                "methodName": "claimOrganization",
                "parameters": [
                    {
                        "camelCaseName": "organizationId"
                    },
                    {
                        "camelCaseName": "claimOrganization"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"claimOrganization_organizationId\"><label for=\"node-input-claimOrganization_organizationId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>organizationId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-claimOrganization_organizationId\" placeholder=\"msg.organizationId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-claimOrganization_organizationIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"claimOrganization_claimOrganization\"><label for=\"node-input-claimOrganization_claimOrganization\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>claimOrganization</b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-claimOrganization_claimOrganization\" placeholder=\"msg.claimOrganization\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-claimOrganization_claimOrganizationType\" value=\"\" ></div>",
                "example": "[\n  {\n    \"orders\": [\n      \"4CXXXXXXX\"\n    ],\n    \"serials\": [\n      \"Q234-ABCD-5678\"\n    ],\n    \"licenses\": [\n      {\n        \"key\": \"Z2XXXXXXXXXX\",\n        \"mode\": \"addDevices\"\n      }\n    ]\n  }\n]",
                "summary": "Claim a list of devices licenses and/or orders into an organization. When claiming by order all devices and licenses in the order will be claimed; licenses will be added to the organization and devices will be placed in the organizations inventory."
            },
            {
                "methodGroup": "Organizations",
                "methodName": "cloneOrganization",
                "parameters": [
                    {
                        "camelCaseName": "organizationId"
                    },
                    {
                        "camelCaseName": "cloneOrganization"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"cloneOrganization_organizationId\"><label for=\"node-input-cloneOrganization_organizationId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>organizationId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-cloneOrganization_organizationId\" placeholder=\"msg.organizationId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-cloneOrganization_organizationIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"cloneOrganization_cloneOrganization\"><label for=\"node-input-cloneOrganization_cloneOrganization\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>cloneOrganization<span style=\"color:red;\"> *</span></b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-cloneOrganization_cloneOrganization\" placeholder=\"msg.cloneOrganization\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-cloneOrganization_cloneOrganizationType\" value=\"\" ></div>",
                "example": "[\n  {\n    \"id\": \"2930418\",\n    \"name\": \"My organization\"\n  }\n]",
                "summary": "Create a new organization by cloning the addressed organization"
            },
            {
                "methodGroup": "Organizations",
                "methodName": "getOrganizationDeviceStatuses",
                "parameters": [
                    {
                        "camelCaseName": "organizationId"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getOrganizationDeviceStatuses_organizationId\"><label for=\"node-input-getOrganizationDeviceStatuses_organizationId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>organizationId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getOrganizationDeviceStatuses_organizationId\" placeholder=\"msg.organizationId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganizationDeviceStatuses_organizationIdType\" value=\"string\" ></div>",
                "example": "[\n  [\n    {\n      \"name\": \"My AP\",\n      \"serial\": \"Q234-ABCD-5678\",\n      \"mac\": \"00:11:22:33:44:55\",\n      \"status\": \"online\",\n      \"lanIp\": \"1.2.3.4\",\n      \"publicIp\": \"123.123.123.1\",\n      \"networkId\": \"N_24329156\"\n    }\n  ]\n]",
                "summary": "List the status of every Meraki device in the organization"
            },
            {
                "methodGroup": "Organizations",
                "methodName": "getOrganizationInventory",
                "parameters": [
                    {
                        "camelCaseName": "organizationId"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getOrganizationInventory_organizationId\"><label for=\"node-input-getOrganizationInventory_organizationId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>organizationId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getOrganizationInventory_organizationId\" placeholder=\"msg.organizationId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganizationInventory_organizationIdType\" value=\"string\" ></div>",
                "example": "[\n  [\n    {\n      \"mac\": \"00:11:22:33:44:55\",\n      \"serial\": \"Q234-ABCD-5678\",\n      \"networkId\": \"N_24329156\",\n      \"model\": \"MR34\",\n      \"claimedAt\": 1518365681,\n      \"publicIp\": \"123.123.123.1\",\n      \"name\": \"My AP\"\n    }\n  ]\n]",
                "summary": "Return the inventory for an organization"
            },
            {
                "methodGroup": "Organizations",
                "methodName": "getOrganizationLicenseState",
                "parameters": [
                    {
                        "camelCaseName": "organizationId"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getOrganizationLicenseState_organizationId\"><label for=\"node-input-getOrganizationLicenseState_organizationId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>organizationId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getOrganizationLicenseState_organizationId\" placeholder=\"msg.organizationId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganizationLicenseState_organizationIdType\" value=\"string\" ></div>",
                "example": "[\n  {\n    \"status\": \"OK\",\n    \"expirationDate\": \"Feb 8, 2020 UTC\",\n    \"licensedDeviceCounts\": {\n      \"MS\": 100\n    }\n  }\n]",
                "summary": "Return the license state for an organization"
            },
            {
                "methodGroup": "Organizations",
                "methodName": "getOrganizationThirdPartyVPNPeers",
                "parameters": [
                    {
                        "camelCaseName": "organizationId"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getOrganizationThirdPartyVPNPeers_organizationId\"><label for=\"node-input-getOrganizationThirdPartyVPNPeers_organizationId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>organizationId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getOrganizationThirdPartyVPNPeers_organizationId\" placeholder=\"msg.organizationId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganizationThirdPartyVPNPeers_organizationIdType\" value=\"string\" ></div>",
                "example": "[\n  [\n    {\n      \"name\": \"My peer 1\",\n      \"publicIp\": \"123.123.123.1\",\n      \"privateSubnets\": [\n        \"192.168.1.0/24\",\n        \"192.168.128.0/24\"\n      ],\n      \"secret\": \"asdf1234\",\n      \"ipsecPolicies\": {\n        \"ikeCipherAlgo\": [\n          \"tripledes\"\n        ],\n        \"ikeAuthAlgo\": [\n          \"sha1\"\n        ],\n        \"ikeDiffieHellmanGroup\": [\n          \"group2\"\n        ],\n        \"ikeLifetime\": 28800,\n        \"childCipherAlgo\": [\n          \"aes128\"\n        ],\n        \"childAuthAlgo\": [\n          \"sha1\"\n        ],\n        \"childPfsGroup\": [\n          \"disabled\"\n        ],\n        \"childLifetime\": 28800\n      }\n    },\n    {\n      \"name\": \"My peer 2\",\n      \"publicIp\": \"123.123.123.2\",\n      \"privateSubnets\": [\n        \"192.168.2.0/24\",\n        \"192.168.129.0/24\"\n      ],\n      \"secret\": \"asdf56785678567856785678\",\n      \"ipsecPoliciesPreset\": \"default\"\n    }\n  ]\n]",
                "summary": "Return the third party VPN peers for an organization"
            },
            {
                "methodGroup": "Organizations",
                "methodName": "updateOrganizationThirdPartyVPNPeers",
                "parameters": [
                    {
                        "camelCaseName": "organizationId"
                    },
                    {
                        "camelCaseName": "updateOrganizationThirdPartyVpnPeers"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"updateOrganizationThirdPartyVPNPeers_organizationId\"><label for=\"node-input-updateOrganizationThirdPartyVPNPeers_organizationId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>organizationId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-updateOrganizationThirdPartyVPNPeers_organizationId\" placeholder=\"msg.organizationId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateOrganizationThirdPartyVPNPeers_organizationIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"updateOrganizationThirdPartyVPNPeers_updateOrganizationThirdPartyVpnPeers\"><label for=\"node-input-updateOrganizationThirdPartyVPNPeers_updateOrganizationThirdPartyVpnPeers\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>updateOrganizationThirdPartyVpnPeers<span style=\"color:red;\"> *</span></b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-updateOrganizationThirdPartyVPNPeers_updateOrganizationThirdPartyVpnPeers\" placeholder=\"msg.updateOrganizationThirdPartyVpnPeers\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateOrganizationThirdPartyVPNPeers_updateOrganizationThirdPartyVpnPeersType\" value=\"\" ></div>",
                "example": "[\n  [\n    {\n      \"name\": \"My peer 1\",\n      \"publicIp\": \"123.123.123.1\",\n      \"privateSubnets\": [\n        \"192.168.1.0/24\",\n        \"192.168.128.0/24\"\n      ],\n      \"secret\": \"asdf1234\",\n      \"ipsecPolicies\": {\n        \"ikeCipherAlgo\": [\n          \"tripledes\"\n        ],\n        \"ikeAuthAlgo\": [\n          \"sha1\"\n        ],\n        \"ikeDiffieHellmanGroup\": [\n          \"group2\"\n        ],\n        \"ikeLifetime\": 28800,\n        \"childCipherAlgo\": [\n          \"aes128\"\n        ],\n        \"childAuthAlgo\": [\n          \"sha1\"\n        ],\n        \"childPfsGroup\": [\n          \"disabled\"\n        ],\n        \"childLifetime\": 28800\n      }\n    },\n    {\n      \"name\": \"My peer 2\",\n      \"publicIp\": \"123.123.123.2\",\n      \"privateSubnets\": [\n        \"192.168.2.0/24\",\n        \"192.168.129.0/24\"\n      ],\n      \"secret\": \"asdf56785678567856785678\",\n      \"ipsecPoliciesPreset\": \"default\"\n    }\n  ]\n]",
                "summary": "Update the third party VPN peers for an organization"
            },
            {
                "methodGroup": "Organizations",
                "methodName": "getOrganizationUplinksLossAndLatency",
                "parameters": [
                    {
                        "camelCaseName": "organizationId"
                    },
                    {
                        "camelCaseName": "t0"
                    },
                    {
                        "camelCaseName": "t1"
                    },
                    {
                        "camelCaseName": "timespan"
                    },
                    {
                        "camelCaseName": "uplink"
                    },
                    {
                        "camelCaseName": "ip"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getOrganizationUplinksLossAndLatency_organizationId\"><label for=\"node-input-getOrganizationUplinksLossAndLatency_organizationId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>organizationId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getOrganizationUplinksLossAndLatency_organizationId\" placeholder=\"msg.organizationId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganizationUplinksLossAndLatency_organizationIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getOrganizationUplinksLossAndLatency_t0\"><label for=\"node-input-getOrganizationUplinksLossAndLatency_t0\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>t0</b> <i>&nbspstring</i></span></label><p>The beginning of the timespan for the data. The maximum lookback period is 365 days from today.</p><input type=\"text\" id=\"node-input-getOrganizationUplinksLossAndLatency_t0\" placeholder=\"msg.t0\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganizationUplinksLossAndLatency_t0Type\" value=\"string\" ></div><div class=\"form-row\" id=\"getOrganizationUplinksLossAndLatency_t1\"><label for=\"node-input-getOrganizationUplinksLossAndLatency_t1\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>t1</b> <i>&nbspstring</i></span></label><p>The end of the timespan for the data. t1 can be a maximum of 5 minutes after t0. The latest possible time that t1 can be is 2 minutes into the past.</p><input type=\"text\" id=\"node-input-getOrganizationUplinksLossAndLatency_t1\" placeholder=\"msg.t1\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganizationUplinksLossAndLatency_t1Type\" value=\"string\" ></div><div class=\"form-row\" id=\"getOrganizationUplinksLossAndLatency_timespan\"><label for=\"node-input-getOrganizationUplinksLossAndLatency_timespan\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>timespan</b> <i>&nbspinteger</i></span></label><p>The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 5 minutes. The default is 5 minutes.</p><input type=\"text\" id=\"node-input-getOrganizationUplinksLossAndLatency_timespan\" placeholder=\"msg.timespan\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganizationUplinksLossAndLatency_timespanType\" value=\"integer\" ></div><div class=\"form-row\" id=\"getOrganizationUplinksLossAndLatency_uplink\"><label for=\"node-input-getOrganizationUplinksLossAndLatency_uplink\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>uplink</b> <i>&nbspstring</i></span></label><p>Optional filter for a specific WAN uplink. Valid uplinks are wan1, wan2, cellular. Default will return all uplinks.</p><input type=\"text\" id=\"node-input-getOrganizationUplinksLossAndLatency_uplink\" placeholder=\"msg.uplink\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganizationUplinksLossAndLatency_uplinkType\" value=\"string\" ></div><div class=\"form-row\" id=\"getOrganizationUplinksLossAndLatency_ip\"><label for=\"node-input-getOrganizationUplinksLossAndLatency_ip\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>ip</b> <i>&nbspstring</i></span></label><p>Optional filter for a specific destination IP. Default will return all destination IPs.</p><input type=\"text\" id=\"node-input-getOrganizationUplinksLossAndLatency_ip\" placeholder=\"msg.ip\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganizationUplinksLossAndLatency_ipType\" value=\"string\" ></div>",
                "example": "[\n  [\n    {\n      \"networkId\": \"N_12345\",\n      \"serial\": \"Q2AB-CDEF-GHIJ\",\n      \"uplink\": \"wan1\",\n      \"ip\": \"8.8.8.8\",\n      \"timeSeries\": [\n        {\n          \"ts\": \"2019-01-31T18:46:13Z\",\n          \"lossPercent\": 5.3,\n          \"latencyMs\": 194.9\n        }\n      ]\n    }\n  ]\n]",
                "summary": "Return the uplink loss and latency for every MX in the organization from at latest 2 minutes ago"
            }
        ],
        "storedParams": [],
        "formHtml": "",
        "method": "getOrganizations",
        "x": 670,
        "y": 100,
        "wires": [
            [
                "51b4bd63.70c5b4"
            ]
        ]
    },
    {
        "id": "478b6cb4.0eeb14",
        "type": "meraki-dashboard-api",
        "z": "f4572282.d383",
        "service": "d7e7692b.e5f0c8",
        "name": "getOrganizationNetworks",
        "selectedGroup": "Networks",
        "selectedMethod": "getOrganizationNetworks",
        "filteredMethods": [
            {
                "methodGroup": "Networks",
                "methodName": "getNetwork",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getNetwork_networkId\"><label for=\"node-input-getNetwork_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetwork_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetwork_networkIdType\" value=\"string\" ></div>",
                "example": "[\n  {\n    \"id\": \"L_123456\",\n    \"organizationId\": \"2930418\",\n    \"name\": \"Long Island Office\",\n    \"timeZone\": \"America/Los_Angeles\",\n    \"tags\": \" tag1 tag2 \",\n    \"type\": \"combined\",\n    \"disableMyMerakiCom\": false\n  }\n]",
                "summary": "Return a network"
            },
            {
                "methodGroup": "Networks",
                "methodName": "updateNetwork",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "updateNetwork"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"updateNetwork_networkId\"><label for=\"node-input-updateNetwork_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-updateNetwork_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateNetwork_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"updateNetwork_updateNetwork\"><label for=\"node-input-updateNetwork_updateNetwork\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>updateNetwork</b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-updateNetwork_updateNetwork\" placeholder=\"msg.updateNetwork\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateNetwork_updateNetworkType\" value=\"\" ></div>",
                "example": "[\n  {\n    \"id\": \"L_123456\",\n    \"organizationId\": \"2930418\",\n    \"name\": \"Long Island Office\",\n    \"timeZone\": \"America/Los_Angeles\",\n    \"tags\": \" tag1 tag2 \",\n    \"type\": \"combined\",\n    \"disableMyMerakiCom\": false\n  }\n]",
                "summary": "Update a network"
            },
            {
                "methodGroup": "Networks",
                "methodName": "deleteNetwork",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"deleteNetwork_networkId\"><label for=\"node-input-deleteNetwork_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-deleteNetwork_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-deleteNetwork_networkIdType\" value=\"string\" ></div>",
                "example": "[]",
                "summary": "Delete a network"
            },
            {
                "methodGroup": "Networks",
                "methodName": "getNetworkAccessPolicies",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkAccessPolicies_networkId\"><label for=\"node-input-getNetworkAccessPolicies_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkAccessPolicies_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkAccessPolicies_networkIdType\" value=\"string\" ></div>",
                "example": "[\n  [\n    {\n      \"number\": 1,\n      \"name\": \"My access policy\",\n      \"accessType\": \"8021.x\",\n      \"guestVlan\": 3700,\n      \"radiusServers\": [\n        {\n          \"ip\": \"1.2.3.4\",\n          \"port\": 1337\n        },\n        {\n          \"ip\": \"2.3.4.5\",\n          \"port\": 1337\n        }\n      ]\n    }\n  ]\n]",
                "summary": "List the access policies for this network. Only valid for MS networks."
            },
            {
                "methodGroup": "Networks",
                "methodName": "getNetworkAirMarshal",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "t0"
                    },
                    {
                        "camelCaseName": "timespan"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkAirMarshal_networkId\"><label for=\"node-input-getNetworkAirMarshal_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkAirMarshal_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkAirMarshal_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkAirMarshal_t0\"><label for=\"node-input-getNetworkAirMarshal_t0\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>t0</b> <i>&nbspstring</i></span></label><p>The beginning of the timespan for the data. The maximum lookback period is 31 days from today.</p><input type=\"text\" id=\"node-input-getNetworkAirMarshal_t0\" placeholder=\"msg.t0\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkAirMarshal_t0Type\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkAirMarshal_timespan\"><label for=\"node-input-getNetworkAirMarshal_timespan\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>timespan</b> <i>&nbspinteger</i></span></label><p>The timespan for which the information will be fetched. If specifying timespan, do not specify parameter t0. The value must be in seconds and be less than or equal to 31 days. The default is 7 days.</p><input type=\"text\" id=\"node-input-getNetworkAirMarshal_timespan\" placeholder=\"msg.timespan\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkAirMarshal_timespanType\" value=\"integer\" ></div>",
                "example": "[\n  [\n    {\n      \"ssid\": \"linksys\",\n      \"bssids\": [\n        {\n          \"bssid\": \"00:11:22:33:44:55\",\n          \"contained\": false,\n          \"detectedBy\": [\n            {\n              \"device\": \"Q234-ABCD-5678\",\n              \"rssi\": 17\n            }\n          ]\n        }\n      ],\n      \"channels\": [\n        36,\n        40\n      ],\n      \"firstSeen\": 1518365681,\n      \"lastSeen\": 1526087474,\n      \"wiredMacs\": [\n        \"00:11:22:33:44:55\"\n      ],\n      \"wiredVlans\": [\n        0,\n        108\n      ],\n      \"wiredLastSeen\": 1526087474\n    }\n  ]\n]",
                "summary": "List Air Marshal scan results from a network"
            },
            {
                "methodGroup": "Networks",
                "methodName": "bindNetwork",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "bindNetwork"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"bindNetwork_networkId\"><label for=\"node-input-bindNetwork_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-bindNetwork_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-bindNetwork_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"bindNetwork_bindNetwork\"><label for=\"node-input-bindNetwork_bindNetwork\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>bindNetwork<span style=\"color:red;\"> *</span></b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-bindNetwork_bindNetwork\" placeholder=\"msg.bindNetwork\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-bindNetwork_bindNetworkType\" value=\"\" ></div>",
                "example": "[]",
                "summary": "Bind a network to a template."
            },
            {
                "methodGroup": "Networks",
                "methodName": "getNetworkBluetoothSettings",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkBluetoothSettings_networkId\"><label for=\"node-input-getNetworkBluetoothSettings_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkBluetoothSettings_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkBluetoothSettings_networkIdType\" value=\"string\" ></div>",
                "example": "[\n  {\n    \"scanningEnabled\": true,\n    \"advertisingEnabled\": true,\n    \"uuid\": \"00000000-0000-0000-000-000000000000\",\n    \"majorMinorAssignmentMode\": \"Non-unique\",\n    \"major\": 1\n  }\n]",
                "summary": "Return the Bluetooth settings for a network. <a href=https://documentation.meraki.com/MR/Bluetooth/Bluetooth_Low_Energy_(BLE)>Bluetooth settings</a> must be enabled on the network."
            },
            {
                "methodGroup": "Networks",
                "methodName": "updateNetworkBluetoothSettings",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "updateNetworkBluetoothSettings"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"updateNetworkBluetoothSettings_networkId\"><label for=\"node-input-updateNetworkBluetoothSettings_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-updateNetworkBluetoothSettings_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateNetworkBluetoothSettings_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"updateNetworkBluetoothSettings_updateNetworkBluetoothSettings\"><label for=\"node-input-updateNetworkBluetoothSettings_updateNetworkBluetoothSettings\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>updateNetworkBluetoothSettings</b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-updateNetworkBluetoothSettings_updateNetworkBluetoothSettings\" placeholder=\"msg.updateNetworkBluetoothSettings\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateNetworkBluetoothSettings_updateNetworkBluetoothSettingsType\" value=\"\" ></div>",
                "example": "[\n  {\n    \"scanningEnabled\": true,\n    \"advertisingEnabled\": true,\n    \"uuid\": \"00000000-0000-0000-000-000000000000\",\n    \"majorMinorAssignmentMode\": \"Non-unique\",\n    \"major\": 1\n  }\n]",
                "summary": "Update the Bluetooth settings for a network. See the docs page for <a href=https://documentation.meraki.com/MR/Bluetooth/Bluetooth_Low_Energy_(BLE)>Bluetooth settings</a>."
            },
            {
                "methodGroup": "Networks",
                "methodName": "getNetworkSiteToSiteVpn",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkSiteToSiteVpn_networkId\"><label for=\"node-input-getNetworkSiteToSiteVpn_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkSiteToSiteVpn_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkSiteToSiteVpn_networkIdType\" value=\"string\" ></div>",
                "example": "[\n  {\n    \"mode\": \"spoke\",\n    \"hubs\": [\n      {\n        \"hubId\": \"N_4901849\",\n        \"useDefaultRoute\": true\n      },\n      {\n        \"hubId\": \"N_1892489\",\n        \"useDefaultRoute\": false\n      }\n    ],\n    \"subnets\": [\n      {\n        \"localSubnet\": \"192.168.1.0/24\",\n        \"useVpn\": true\n      },\n      {\n        \"localSubnet\": \"192.168.128.0/24\",\n        \"useVpn\": true\n      }\n    ]\n  }\n]",
                "summary": "Return the site-to-site VPN settings of a network. Only valid for MX networks."
            },
            {
                "methodGroup": "Networks",
                "methodName": "updateNetworkSiteToSiteVpn",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "updateNetworkSiteToSiteVpn"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"updateNetworkSiteToSiteVpn_networkId\"><label for=\"node-input-updateNetworkSiteToSiteVpn_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-updateNetworkSiteToSiteVpn_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateNetworkSiteToSiteVpn_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"updateNetworkSiteToSiteVpn_updateNetworkSiteToSiteVpn\"><label for=\"node-input-updateNetworkSiteToSiteVpn_updateNetworkSiteToSiteVpn\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>updateNetworkSiteToSiteVpn</b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-updateNetworkSiteToSiteVpn_updateNetworkSiteToSiteVpn\" placeholder=\"msg.updateNetworkSiteToSiteVpn\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateNetworkSiteToSiteVpn_updateNetworkSiteToSiteVpnType\" value=\"\" ></div>",
                "example": "[\n  {\n    \"mode\": \"spoke\",\n    \"hubs\": [\n      {\n        \"hubId\": \"N_4901849\",\n        \"useDefaultRoute\": true\n      },\n      {\n        \"hubId\": \"N_1892489\",\n        \"useDefaultRoute\": false\n      }\n    ],\n    \"subnets\": [\n      {\n        \"localSubnet\": \"192.168.1.0/24\",\n        \"useVpn\": true\n      },\n      {\n        \"localSubnet\": \"192.168.128.0/24\",\n        \"useVpn\": true\n      }\n    ]\n  }\n]",
                "summary": "Update the site-to-site VPN settings of a network. Only valid for MX networks in NAT mode."
            },
            {
                "methodGroup": "Networks",
                "methodName": "splitNetwork",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"splitNetwork_networkId\"><label for=\"node-input-splitNetwork_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-splitNetwork_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-splitNetwork_networkIdType\" value=\"string\" ></div>",
                "example": "[\n  {\n    \"resultingNetworks\": [\n      {\n        \"id\": \"N_1234\",\n        \"organizationId\": \"2930418\",\n        \"name\": \"Long Island Office - switch\",\n        \"timeZone\": \"America/Los_Angeles\",\n        \"tags\": \" tag1 tag2 \",\n        \"type\": \"switch\",\n        \"disableMyMerakiCom\": false\n      },\n      {\n        \"id\": \"N_5678\",\n        \"organizationId\": \"2930418\",\n        \"name\": \"Long Island Office - wireless\",\n        \"timeZone\": \"America/Los_Angeles\",\n        \"tags\": \" tag1 tag2 \",\n        \"type\": \"wireless\",\n        \"disableMyMerakiCom\": false\n      }\n    ]\n  }\n]",
                "summary": "Split a combined network into individual networks for each type of device"
            },
            {
                "methodGroup": "Networks",
                "methodName": "getNetworkTraffic",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "timespan"
                    },
                    {
                        "camelCaseName": "deviceType"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkTraffic_networkId\"><label for=\"node-input-getNetworkTraffic_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkTraffic_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkTraffic_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkTraffic_timespan\"><label for=\"node-input-getNetworkTraffic_timespan\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>timespan<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p>The timespan for the data. Must be an integer representing a duration in seconds between two hours and one month. (Mandatory.)</p><input type=\"text\" id=\"node-input-getNetworkTraffic_timespan\" placeholder=\"msg.timespan\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkTraffic_timespanType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkTraffic_deviceType\"><label for=\"node-input-getNetworkTraffic_deviceType\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>deviceType</b> <i>&nbspstring</i></span></label><p>Filter the data by device type: combined (default), wireless, switch, appliance. When using combined, for each rule the data will come from the device type with the most usage.</p><input type=\"text\" id=\"node-input-getNetworkTraffic_deviceType\" placeholder=\"msg.deviceType\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkTraffic_deviceTypeType\" value=\"string\" ></div>",
                "example": "[\n  [\n    {\n      \"application\": \"Gmail\",\n      \"destination\": null,\n      \"protocol\": \"TCP\",\n      \"port\": 443,\n      \"sent\": 138,\n      \"recv\": 61,\n      \"numClients\": 7,\n      \"activeTime\": 77000,\n      \"flows\": 300\n    }\n  ]\n]",
                "summary": "The traffic analysis data for this network.\n<a href=https://documentation.meraki.com/MR/Monitoring_and_Reporting/Hostname_Visibility>Traffic Analysis with Hostname Visibility</a> must be enabled on the network.\n"
            },
            {
                "methodGroup": "Networks",
                "methodName": "unbindNetwork",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"unbindNetwork_networkId\"><label for=\"node-input-unbindNetwork_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-unbindNetwork_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-unbindNetwork_networkIdType\" value=\"string\" ></div>",
                "example": "[]",
                "summary": "Unbind a network from a template."
            },
            {
                "methodGroup": "Networks",
                "methodName": "getOrganizationNetworks",
                "parameters": [
                    {
                        "camelCaseName": "organizationId"
                    },
                    {
                        "camelCaseName": "configTemplateId"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getOrganizationNetworks_organizationId\"><label for=\"node-input-getOrganizationNetworks_organizationId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>organizationId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getOrganizationNetworks_organizationId\" placeholder=\"msg.organizationId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganizationNetworks_organizationIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getOrganizationNetworks_configTemplateId\"><label for=\"node-input-getOrganizationNetworks_configTemplateId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>configTemplateId</b> <i>&nbspstring</i></span></label><p>An optional parameter that is the ID of a config template. Will return all networks bound to that template.</p><input type=\"text\" id=\"node-input-getOrganizationNetworks_configTemplateId\" placeholder=\"msg.configTemplateId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganizationNetworks_configTemplateIdType\" value=\"string\" ></div>",
                "example": "[\n  [\n    {\n      \"id\": \"L_123456\",\n      \"organizationId\": \"2930418\",\n      \"name\": \"Long Island Office\",\n      \"timeZone\": \"America/Los_Angeles\",\n      \"tags\": \" tag1 tag2 \",\n      \"type\": \"combined\",\n      \"disableMyMerakiCom\": false\n    }\n  ]\n]",
                "summary": "List the networks in an organization"
            },
            {
                "methodGroup": "Networks",
                "methodName": "createOrganizationNetwork",
                "parameters": [
                    {
                        "camelCaseName": "organizationId"
                    },
                    {
                        "camelCaseName": "createOrganizationNetwork"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"createOrganizationNetwork_organizationId\"><label for=\"node-input-createOrganizationNetwork_organizationId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>organizationId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-createOrganizationNetwork_organizationId\" placeholder=\"msg.organizationId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-createOrganizationNetwork_organizationIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"createOrganizationNetwork_createOrganizationNetwork\"><label for=\"node-input-createOrganizationNetwork_createOrganizationNetwork\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>createOrganizationNetwork<span style=\"color:red;\"> *</span></b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-createOrganizationNetwork_createOrganizationNetwork\" placeholder=\"msg.createOrganizationNetwork\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-createOrganizationNetwork_createOrganizationNetworkType\" value=\"\" ></div>",
                "example": "[\n  {\n    \"id\": \"L_123456\",\n    \"organizationId\": \"2930418\",\n    \"name\": \"Long Island Office\",\n    \"timeZone\": \"America/Los_Angeles\",\n    \"tags\": \" tag1 tag2 \",\n    \"type\": \"combined\",\n    \"disableMyMerakiCom\": false\n  }\n]",
                "summary": "Create a network"
            },
            {
                "methodGroup": "Networks",
                "methodName": "combineOrganizationNetworks",
                "parameters": [
                    {
                        "camelCaseName": "organizationId"
                    },
                    {
                        "camelCaseName": "combineOrganizationNetworks"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"combineOrganizationNetworks_organizationId\"><label for=\"node-input-combineOrganizationNetworks_organizationId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>organizationId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-combineOrganizationNetworks_organizationId\" placeholder=\"msg.organizationId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-combineOrganizationNetworks_organizationIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"combineOrganizationNetworks_combineOrganizationNetworks\"><label for=\"node-input-combineOrganizationNetworks_combineOrganizationNetworks\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>combineOrganizationNetworks<span style=\"color:red;\"> *</span></b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-combineOrganizationNetworks_combineOrganizationNetworks\" placeholder=\"msg.combineOrganizationNetworks\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-combineOrganizationNetworks_combineOrganizationNetworksType\" value=\"\" ></div>",
                "example": "[\n  {\n    \"resultingNetwork\": {\n      \"id\": \"L_123456\",\n      \"organizationId\": \"2930418\",\n      \"name\": \"Long Island Office\",\n      \"timeZone\": \"America/Los_Angeles\",\n      \"tags\": \" tag1 tag2 \",\n      \"type\": \"combined\",\n      \"disableMyMerakiCom\": false\n    }\n  }\n]",
                "summary": "Combine multiple networks into a single network"
            }
        ],
        "currentParams": [
            {
                "methodName": "getOrganizationNetworks",
                "camelCaseName": "organizationId",
                "type": "str",
                "value": "549236"
            }
        ],
        "storedParams": [
            {
                "methodName": "getOrganizationNetworks",
                "camelCaseName": "organizationId",
                "type": "str",
                "value": "549236"
            }
        ],
        "formHtml": "",
        "method": "getOrganizationNetworks",
        "x": 690,
        "y": 180,
        "wires": [
            [
                "b869d461.509f88"
            ]
        ]
    },
    {
        "id": "9a7e6d76.41787",
        "type": "meraki-dashboard-api",
        "z": "f4572282.d383",
        "service": "d7e7692b.e5f0c8",
        "name": "getNetworkBluetoothClients",
        "selectedGroup": "Bluetooth clients",
        "selectedMethod": "getNetworkBluetoothClients",
        "filteredMethods": [
            {
                "methodGroup": "Bluetooth clients",
                "methodName": "getNetworkBluetoothClients",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "perPage"
                    },
                    {
                        "camelCaseName": "startingAfter"
                    },
                    {
                        "camelCaseName": "endingBefore"
                    },
                    {
                        "camelCaseName": "timespan"
                    },
                    {
                        "camelCaseName": "includeConnectivityHistory"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkBluetoothClients_networkId\"><label for=\"node-input-getNetworkBluetoothClients_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkBluetoothClients_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkBluetoothClients_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkBluetoothClients_perPage\"><label for=\"node-input-getNetworkBluetoothClients_perPage\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>perPage</b> <i>&nbspinteger</i></span></label><p>The number of entries per page returned. Acceptable range is 5 - 1000. Default is 10.</p><input type=\"text\" id=\"node-input-getNetworkBluetoothClients_perPage\" placeholder=\"msg.perPage\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkBluetoothClients_perPageType\" value=\"integer\" ></div><div class=\"form-row\" id=\"getNetworkBluetoothClients_startingAfter\"><label for=\"node-input-getNetworkBluetoothClients_startingAfter\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>startingAfter</b> <i>&nbspstring</i></span></label><p>A token used by the server to indicate the start of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.</p><input type=\"text\" id=\"node-input-getNetworkBluetoothClients_startingAfter\" placeholder=\"msg.startingAfter\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkBluetoothClients_startingAfterType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkBluetoothClients_endingBefore\"><label for=\"node-input-getNetworkBluetoothClients_endingBefore\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>endingBefore</b> <i>&nbspstring</i></span></label><p>A token used by the server to indicate the end of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.</p><input type=\"text\" id=\"node-input-getNetworkBluetoothClients_endingBefore\" placeholder=\"msg.endingBefore\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkBluetoothClients_endingBeforeType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkBluetoothClients_timespan\"><label for=\"node-input-getNetworkBluetoothClients_timespan\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>timespan</b> <i>&nbspinteger</i></span></label><p>The timespan, in seconds, used to look back from now for bluetooth clients</p><input type=\"text\" id=\"node-input-getNetworkBluetoothClients_timespan\" placeholder=\"msg.timespan\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkBluetoothClients_timespanType\" value=\"integer\" ></div><div class=\"form-row\" id=\"getNetworkBluetoothClients_includeConnectivityHistory\"><label for=\"node-input-getNetworkBluetoothClients_includeConnectivityHistory\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>includeConnectivityHistory</b> <i>&nbspboolean</i></span></label><p>Include the connectivity history for this client</p><input type=\"text\" id=\"node-input-getNetworkBluetoothClients_includeConnectivityHistory\" placeholder=\"msg.includeConnectivityHistory\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkBluetoothClients_includeConnectivityHistoryType\" value=\"boolean\" ></div>",
                "example": "[\n  [\n    {\n      \"mac\": \"00:11:22:33:44:55\",\n      \"networkId\": \"N_24329156\"\n    }\n  ]\n]",
                "summary": "List the Bluetooth clients seen by APs in this network"
            },
            {
                "methodGroup": "Bluetooth clients",
                "methodName": "getNetworkBluetoothClient",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "bluetoothClientId"
                    },
                    {
                        "camelCaseName": "includeConnectivityHistory"
                    },
                    {
                        "camelCaseName": "connectivityHistoryTimespan"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkBluetoothClient_networkId\"><label for=\"node-input-getNetworkBluetoothClient_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkBluetoothClient_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkBluetoothClient_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkBluetoothClient_bluetoothClientId\"><label for=\"node-input-getNetworkBluetoothClient_bluetoothClientId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>bluetoothClientId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkBluetoothClient_bluetoothClientId\" placeholder=\"msg.bluetoothClientId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkBluetoothClient_bluetoothClientIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkBluetoothClient_includeConnectivityHistory\"><label for=\"node-input-getNetworkBluetoothClient_includeConnectivityHistory\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>includeConnectivityHistory</b> <i>&nbspboolean</i></span></label><p>Include the connectivity history for this client</p><input type=\"text\" id=\"node-input-getNetworkBluetoothClient_includeConnectivityHistory\" placeholder=\"msg.includeConnectivityHistory\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkBluetoothClient_includeConnectivityHistoryType\" value=\"boolean\" ></div><div class=\"form-row\" id=\"getNetworkBluetoothClient_connectivityHistoryTimespan\"><label for=\"node-input-getNetworkBluetoothClient_connectivityHistoryTimespan\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>connectivityHistoryTimespan</b> <i>&nbspinteger</i></span></label><p>The timespan, in seconds, for the connectivityHistory data. By default 1 day, 86400, will be used.</p><input type=\"text\" id=\"node-input-getNetworkBluetoothClient_connectivityHistoryTimespan\" placeholder=\"msg.connectivityHistoryTimespan\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkBluetoothClient_connectivityHistoryTimespanType\" value=\"integer\" ></div>",
                "example": "[\n  {\n    \"mac\": \"00:11:22:33:44:55\",\n    \"networkId\": \"N_24329156\"\n  }\n]",
                "summary": "Return a Bluetooth client. Bluetooth clients can be identified by their ID or their MAC."
            }
        ],
        "currentParams": [
            {
                "methodName": "getNetworkBluetoothClients",
                "camelCaseName": "networkId",
                "type": "str",
                "value": "L_643451796760561416"
            }
        ],
        "storedParams": [
            {
                "methodName": "getNetworkBluetoothClients",
                "camelCaseName": "networkId",
                "type": "str",
                "value": "L_643451796760561416"
            }
        ],
        "formHtml": "",
        "method": "getNetworkBluetoothClients",
        "x": 700,
        "y": 260,
        "wires": [
            [
                "42720c2.5d25ff4"
            ]
        ]
    },
    {
        "id": "42720c2.5d25ff4",
        "type": "debug",
        "z": "f4572282.d383",
        "name": "BLE clients",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 990,
        "y": 260,
        "wires": []
    },
    {
        "id": "1e9e1f3b.50ce51",
        "type": "meraki-dashboard-api",
        "z": "f4572282.d383",
        "service": "d7e7692b.e5f0c8",
        "name": "getOrganization",
        "selectedGroup": "Organizations",
        "selectedMethod": "getOrganization",
        "filteredMethods": [
            {
                "methodGroup": "Organizations",
                "methodName": "getOrganizations",
                "parameters": [],
                "formHtml": "<h4>Parameters</h4>",
                "example": "[\n  [\n    {\n      \"id\": \"2930418\",\n      \"name\": \"My organization\"\n    }\n  ]\n]",
                "summary": "List the organizations that the user has privileges on"
            },
            {
                "methodGroup": "Organizations",
                "methodName": "createOrganization",
                "parameters": [
                    {
                        "camelCaseName": "createOrganization"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"createOrganization_createOrganization\"><label for=\"node-input-createOrganization_createOrganization\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>createOrganization<span style=\"color:red;\"> *</span></b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-createOrganization_createOrganization\" placeholder=\"msg.createOrganization\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-createOrganization_createOrganizationType\" value=\"\" ></div>",
                "example": "[\n  {\n    \"id\": \"2930418\",\n    \"name\": \"My organization\"\n  }\n]",
                "summary": "Create a new organization"
            },
            {
                "methodGroup": "Organizations",
                "methodName": "getOrganization",
                "parameters": [
                    {
                        "camelCaseName": "organizationId"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getOrganization_organizationId\"><label for=\"node-input-getOrganization_organizationId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>organizationId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getOrganization_organizationId\" placeholder=\"msg.organizationId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganization_organizationIdType\" value=\"string\" ></div>",
                "example": "[\n  {\n    \"id\": \"2930418\",\n    \"name\": \"My organization\"\n  }\n]",
                "summary": "Return an organization"
            },
            {
                "methodGroup": "Organizations",
                "methodName": "updateOrganization",
                "parameters": [
                    {
                        "camelCaseName": "organizationId"
                    },
                    {
                        "camelCaseName": "updateOrganization"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"updateOrganization_organizationId\"><label for=\"node-input-updateOrganization_organizationId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>organizationId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-updateOrganization_organizationId\" placeholder=\"msg.organizationId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateOrganization_organizationIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"updateOrganization_updateOrganization\"><label for=\"node-input-updateOrganization_updateOrganization\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>updateOrganization</b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-updateOrganization_updateOrganization\" placeholder=\"msg.updateOrganization\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateOrganization_updateOrganizationType\" value=\"\" ></div>",
                "example": "[\n  {\n    \"id\": \"2930418\",\n    \"name\": \"My organization\"\n  }\n]",
                "summary": "Update an organization"
            },
            {
                "methodGroup": "Organizations",
                "methodName": "deleteOrganization",
                "parameters": [
                    {
                        "camelCaseName": "organizationId"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"deleteOrganization_organizationId\"><label for=\"node-input-deleteOrganization_organizationId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>organizationId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-deleteOrganization_organizationId\" placeholder=\"msg.organizationId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-deleteOrganization_organizationIdType\" value=\"string\" ></div>",
                "example": "[]",
                "summary": "Delete an organization"
            },
            {
                "methodGroup": "Organizations",
                "methodName": "claimOrganization",
                "parameters": [
                    {
                        "camelCaseName": "organizationId"
                    },
                    {
                        "camelCaseName": "claimOrganization"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"claimOrganization_organizationId\"><label for=\"node-input-claimOrganization_organizationId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>organizationId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-claimOrganization_organizationId\" placeholder=\"msg.organizationId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-claimOrganization_organizationIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"claimOrganization_claimOrganization\"><label for=\"node-input-claimOrganization_claimOrganization\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>claimOrganization</b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-claimOrganization_claimOrganization\" placeholder=\"msg.claimOrganization\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-claimOrganization_claimOrganizationType\" value=\"\" ></div>",
                "example": "[\n  {\n    \"orders\": [\n      \"4CXXXXXXX\"\n    ],\n    \"serials\": [\n      \"Q234-ABCD-5678\"\n    ],\n    \"licenses\": [\n      {\n        \"key\": \"Z2XXXXXXXXXX\",\n        \"mode\": \"addDevices\"\n      }\n    ]\n  }\n]",
                "summary": "Claim a list of devices licenses and/or orders into an organization. When claiming by order all devices and licenses in the order will be claimed; licenses will be added to the organization and devices will be placed in the organizations inventory."
            },
            {
                "methodGroup": "Organizations",
                "methodName": "cloneOrganization",
                "parameters": [
                    {
                        "camelCaseName": "organizationId"
                    },
                    {
                        "camelCaseName": "cloneOrganization"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"cloneOrganization_organizationId\"><label for=\"node-input-cloneOrganization_organizationId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>organizationId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-cloneOrganization_organizationId\" placeholder=\"msg.organizationId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-cloneOrganization_organizationIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"cloneOrganization_cloneOrganization\"><label for=\"node-input-cloneOrganization_cloneOrganization\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>cloneOrganization<span style=\"color:red;\"> *</span></b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-cloneOrganization_cloneOrganization\" placeholder=\"msg.cloneOrganization\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-cloneOrganization_cloneOrganizationType\" value=\"\" ></div>",
                "example": "[\n  {\n    \"id\": \"2930418\",\n    \"name\": \"My organization\"\n  }\n]",
                "summary": "Create a new organization by cloning the addressed organization"
            },
            {
                "methodGroup": "Organizations",
                "methodName": "getOrganizationDeviceStatuses",
                "parameters": [
                    {
                        "camelCaseName": "organizationId"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getOrganizationDeviceStatuses_organizationId\"><label for=\"node-input-getOrganizationDeviceStatuses_organizationId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>organizationId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getOrganizationDeviceStatuses_organizationId\" placeholder=\"msg.organizationId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganizationDeviceStatuses_organizationIdType\" value=\"string\" ></div>",
                "example": "[\n  [\n    {\n      \"name\": \"My AP\",\n      \"serial\": \"Q234-ABCD-5678\",\n      \"mac\": \"00:11:22:33:44:55\",\n      \"status\": \"online\",\n      \"lanIp\": \"1.2.3.4\",\n      \"publicIp\": \"123.123.123.1\",\n      \"networkId\": \"N_24329156\"\n    }\n  ]\n]",
                "summary": "List the status of every Meraki device in the organization"
            },
            {
                "methodGroup": "Organizations",
                "methodName": "getOrganizationInventory",
                "parameters": [
                    {
                        "camelCaseName": "organizationId"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getOrganizationInventory_organizationId\"><label for=\"node-input-getOrganizationInventory_organizationId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>organizationId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getOrganizationInventory_organizationId\" placeholder=\"msg.organizationId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganizationInventory_organizationIdType\" value=\"string\" ></div>",
                "example": "[\n  [\n    {\n      \"mac\": \"00:11:22:33:44:55\",\n      \"serial\": \"Q234-ABCD-5678\",\n      \"networkId\": \"N_24329156\",\n      \"model\": \"MR34\",\n      \"claimedAt\": 1518365681,\n      \"publicIp\": \"123.123.123.1\",\n      \"name\": \"My AP\"\n    }\n  ]\n]",
                "summary": "Return the inventory for an organization"
            },
            {
                "methodGroup": "Organizations",
                "methodName": "getOrganizationLicenseState",
                "parameters": [
                    {
                        "camelCaseName": "organizationId"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getOrganizationLicenseState_organizationId\"><label for=\"node-input-getOrganizationLicenseState_organizationId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>organizationId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getOrganizationLicenseState_organizationId\" placeholder=\"msg.organizationId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganizationLicenseState_organizationIdType\" value=\"string\" ></div>",
                "example": "[\n  {\n    \"status\": \"OK\",\n    \"expirationDate\": \"Feb 8, 2020 UTC\",\n    \"licensedDeviceCounts\": {\n      \"MS\": 100\n    }\n  }\n]",
                "summary": "Return the license state for an organization"
            },
            {
                "methodGroup": "Organizations",
                "methodName": "getOrganizationThirdPartyVPNPeers",
                "parameters": [
                    {
                        "camelCaseName": "organizationId"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getOrganizationThirdPartyVPNPeers_organizationId\"><label for=\"node-input-getOrganizationThirdPartyVPNPeers_organizationId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>organizationId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getOrganizationThirdPartyVPNPeers_organizationId\" placeholder=\"msg.organizationId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganizationThirdPartyVPNPeers_organizationIdType\" value=\"string\" ></div>",
                "example": "[\n  [\n    {\n      \"name\": \"My peer 1\",\n      \"publicIp\": \"123.123.123.1\",\n      \"privateSubnets\": [\n        \"192.168.1.0/24\",\n        \"192.168.128.0/24\"\n      ],\n      \"secret\": \"asdf1234\",\n      \"ipsecPolicies\": {\n        \"ikeCipherAlgo\": [\n          \"tripledes\"\n        ],\n        \"ikeAuthAlgo\": [\n          \"sha1\"\n        ],\n        \"ikeDiffieHellmanGroup\": [\n          \"group2\"\n        ],\n        \"ikeLifetime\": 28800,\n        \"childCipherAlgo\": [\n          \"aes128\"\n        ],\n        \"childAuthAlgo\": [\n          \"sha1\"\n        ],\n        \"childPfsGroup\": [\n          \"disabled\"\n        ],\n        \"childLifetime\": 28800\n      }\n    },\n    {\n      \"name\": \"My peer 2\",\n      \"publicIp\": \"123.123.123.2\",\n      \"privateSubnets\": [\n        \"192.168.2.0/24\",\n        \"192.168.129.0/24\"\n      ],\n      \"secret\": \"asdf56785678567856785678\",\n      \"ipsecPoliciesPreset\": \"default\"\n    }\n  ]\n]",
                "summary": "Return the third party VPN peers for an organization"
            },
            {
                "methodGroup": "Organizations",
                "methodName": "updateOrganizationThirdPartyVPNPeers",
                "parameters": [
                    {
                        "camelCaseName": "organizationId"
                    },
                    {
                        "camelCaseName": "updateOrganizationThirdPartyVpnPeers"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"updateOrganizationThirdPartyVPNPeers_organizationId\"><label for=\"node-input-updateOrganizationThirdPartyVPNPeers_organizationId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>organizationId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-updateOrganizationThirdPartyVPNPeers_organizationId\" placeholder=\"msg.organizationId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateOrganizationThirdPartyVPNPeers_organizationIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"updateOrganizationThirdPartyVPNPeers_updateOrganizationThirdPartyVpnPeers\"><label for=\"node-input-updateOrganizationThirdPartyVPNPeers_updateOrganizationThirdPartyVpnPeers\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>updateOrganizationThirdPartyVpnPeers<span style=\"color:red;\"> *</span></b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-updateOrganizationThirdPartyVPNPeers_updateOrganizationThirdPartyVpnPeers\" placeholder=\"msg.updateOrganizationThirdPartyVpnPeers\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateOrganizationThirdPartyVPNPeers_updateOrganizationThirdPartyVpnPeersType\" value=\"\" ></div>",
                "example": "[\n  [\n    {\n      \"name\": \"My peer 1\",\n      \"publicIp\": \"123.123.123.1\",\n      \"privateSubnets\": [\n        \"192.168.1.0/24\",\n        \"192.168.128.0/24\"\n      ],\n      \"secret\": \"asdf1234\",\n      \"ipsecPolicies\": {\n        \"ikeCipherAlgo\": [\n          \"tripledes\"\n        ],\n        \"ikeAuthAlgo\": [\n          \"sha1\"\n        ],\n        \"ikeDiffieHellmanGroup\": [\n          \"group2\"\n        ],\n        \"ikeLifetime\": 28800,\n        \"childCipherAlgo\": [\n          \"aes128\"\n        ],\n        \"childAuthAlgo\": [\n          \"sha1\"\n        ],\n        \"childPfsGroup\": [\n          \"disabled\"\n        ],\n        \"childLifetime\": 28800\n      }\n    },\n    {\n      \"name\": \"My peer 2\",\n      \"publicIp\": \"123.123.123.2\",\n      \"privateSubnets\": [\n        \"192.168.2.0/24\",\n        \"192.168.129.0/24\"\n      ],\n      \"secret\": \"asdf56785678567856785678\",\n      \"ipsecPoliciesPreset\": \"default\"\n    }\n  ]\n]",
                "summary": "Update the third party VPN peers for an organization"
            },
            {
                "methodGroup": "Organizations",
                "methodName": "getOrganizationUplinksLossAndLatency",
                "parameters": [
                    {
                        "camelCaseName": "organizationId"
                    },
                    {
                        "camelCaseName": "t0"
                    },
                    {
                        "camelCaseName": "t1"
                    },
                    {
                        "camelCaseName": "timespan"
                    },
                    {
                        "camelCaseName": "uplink"
                    },
                    {
                        "camelCaseName": "ip"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getOrganizationUplinksLossAndLatency_organizationId\"><label for=\"node-input-getOrganizationUplinksLossAndLatency_organizationId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>organizationId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getOrganizationUplinksLossAndLatency_organizationId\" placeholder=\"msg.organizationId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganizationUplinksLossAndLatency_organizationIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getOrganizationUplinksLossAndLatency_t0\"><label for=\"node-input-getOrganizationUplinksLossAndLatency_t0\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>t0</b> <i>&nbspstring</i></span></label><p>The beginning of the timespan for the data. The maximum lookback period is 365 days from today.</p><input type=\"text\" id=\"node-input-getOrganizationUplinksLossAndLatency_t0\" placeholder=\"msg.t0\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganizationUplinksLossAndLatency_t0Type\" value=\"string\" ></div><div class=\"form-row\" id=\"getOrganizationUplinksLossAndLatency_t1\"><label for=\"node-input-getOrganizationUplinksLossAndLatency_t1\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>t1</b> <i>&nbspstring</i></span></label><p>The end of the timespan for the data. t1 can be a maximum of 5 minutes after t0. The latest possible time that t1 can be is 2 minutes into the past.</p><input type=\"text\" id=\"node-input-getOrganizationUplinksLossAndLatency_t1\" placeholder=\"msg.t1\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganizationUplinksLossAndLatency_t1Type\" value=\"string\" ></div><div class=\"form-row\" id=\"getOrganizationUplinksLossAndLatency_timespan\"><label for=\"node-input-getOrganizationUplinksLossAndLatency_timespan\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>timespan</b> <i>&nbspinteger</i></span></label><p>The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 5 minutes. The default is 5 minutes.</p><input type=\"text\" id=\"node-input-getOrganizationUplinksLossAndLatency_timespan\" placeholder=\"msg.timespan\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganizationUplinksLossAndLatency_timespanType\" value=\"integer\" ></div><div class=\"form-row\" id=\"getOrganizationUplinksLossAndLatency_uplink\"><label for=\"node-input-getOrganizationUplinksLossAndLatency_uplink\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>uplink</b> <i>&nbspstring</i></span></label><p>Optional filter for a specific WAN uplink. Valid uplinks are wan1, wan2, cellular. Default will return all uplinks.</p><input type=\"text\" id=\"node-input-getOrganizationUplinksLossAndLatency_uplink\" placeholder=\"msg.uplink\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganizationUplinksLossAndLatency_uplinkType\" value=\"string\" ></div><div class=\"form-row\" id=\"getOrganizationUplinksLossAndLatency_ip\"><label for=\"node-input-getOrganizationUplinksLossAndLatency_ip\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>ip</b> <i>&nbspstring</i></span></label><p>Optional filter for a specific destination IP. Default will return all destination IPs.</p><input type=\"text\" id=\"node-input-getOrganizationUplinksLossAndLatency_ip\" placeholder=\"msg.ip\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganizationUplinksLossAndLatency_ipType\" value=\"string\" ></div>",
                "example": "[\n  [\n    {\n      \"networkId\": \"N_12345\",\n      \"serial\": \"Q2AB-CDEF-GHIJ\",\n      \"uplink\": \"wan1\",\n      \"ip\": \"8.8.8.8\",\n      \"timeSeries\": [\n        {\n          \"ts\": \"2019-01-31T18:46:13Z\",\n          \"lossPercent\": 5.3,\n          \"latencyMs\": 194.9\n        }\n      ]\n    }\n  ]\n]",
                "summary": "Return the uplink loss and latency for every MX in the organization from at latest 2 minutes ago"
            }
        ],
        "currentParams": [
            {
                "methodName": "getOrganization",
                "camelCaseName": "organizationId",
                "type": "str",
                "value": "549236"
            }
        ],
        "storedParams": [
            {
                "methodName": "getOrganization",
                "camelCaseName": "organizationId",
                "type": "str",
                "value": "549236"
            }
        ],
        "formHtml": "",
        "method": "getOrganization",
        "x": 660,
        "y": 140,
        "wires": [
            [
                "573609f4.b3ef18"
            ]
        ]
    },
    {
        "id": "73e12b18.f2df64",
        "type": "inject",
        "z": "f4572282.d383",
        "name": "Devices",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 220,
        "wires": [
            [
                "358d031e.b6f5bc"
            ]
        ]
    },
    {
        "id": "358d031e.b6f5bc",
        "type": "meraki-dashboard-api",
        "z": "f4572282.d383",
        "service": "d7e7692b.e5f0c8",
        "name": "getOrganizationDevices",
        "selectedGroup": "Devices",
        "selectedMethod": "getOrganizationDevices",
        "filteredMethods": [
            {
                "methodGroup": "Devices",
                "methodName": "getNetworkDevices",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkDevices_networkId\"><label for=\"node-input-getNetworkDevices_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkDevices_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDevices_networkIdType\" value=\"string\" ></div>",
                "example": "[\n  [\n    {\n      \"name\": \"My AP\",\n      \"lat\": 37.4180951010362,\n      \"lng\": -122.098531723022,\n      \"serial\": \"Q234-ABCD-5678\",\n      \"mac\": \"00:11:22:33:44:55\",\n      \"model\": \"MR34\",\n      \"address\": \"1600 Pennsylvania Ave\",\n      \"notes\": \"My AP's note\",\n      \"lanIp\": \"1.2.3.4\",\n      \"tags\": \" recently-added \",\n      \"networkId\": \"N_24329156\",\n      \"beaconIdParams\": {\n        \"uuid\": \"00000000-0000-0000-0000-000000000000\",\n        \"major\": 5,\n        \"minor\": 3\n      },\n      \"firmware\": \"wireless-25-14\"\n    }\n  ]\n]",
                "summary": "List the devices in a network"
            },
            {
                "methodGroup": "Devices",
                "methodName": "claimNetworkDevices",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "claimNetworkDevices"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"claimNetworkDevices_networkId\"><label for=\"node-input-claimNetworkDevices_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-claimNetworkDevices_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-claimNetworkDevices_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"claimNetworkDevices_claimNetworkDevices\"><label for=\"node-input-claimNetworkDevices_claimNetworkDevices\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>claimNetworkDevices<span style=\"color:red;\"> *</span></b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-claimNetworkDevices_claimNetworkDevices\" placeholder=\"msg.claimNetworkDevices\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-claimNetworkDevices_claimNetworkDevicesType\" value=\"\" ></div>",
                "example": "[]",
                "summary": "Claim a device into a network"
            },
            {
                "methodGroup": "Devices",
                "methodName": "getNetworkDevice",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "serial"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkDevice_networkId\"><label for=\"node-input-getNetworkDevice_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkDevice_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDevice_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkDevice_serial\"><label for=\"node-input-getNetworkDevice_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkDevice_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDevice_serialType\" value=\"string\" ></div>",
                "example": "[\n  {\n    \"name\": \"My AP\",\n    \"lat\": 37.4180951010362,\n    \"lng\": -122.098531723022,\n    \"serial\": \"Q234-ABCD-5678\",\n    \"mac\": \"00:11:22:33:44:55\",\n    \"model\": \"MR34\",\n    \"address\": \"1600 Pennsylvania Ave\",\n    \"notes\": \"My AP's note\",\n    \"lanIp\": \"1.2.3.4\",\n    \"tags\": \" recently-added \",\n    \"networkId\": \"N_24329156\",\n    \"beaconIdParams\": {\n      \"uuid\": \"00000000-0000-0000-0000-000000000000\",\n      \"major\": 5,\n      \"minor\": 3\n    },\n    \"firmware\": \"wireless-25-14\"\n  }\n]",
                "summary": "Return a single device"
            },
            {
                "methodGroup": "Devices",
                "methodName": "updateNetworkDevice",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "serial"
                    },
                    {
                        "camelCaseName": "updateNetworkDevice"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"updateNetworkDevice_networkId\"><label for=\"node-input-updateNetworkDevice_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-updateNetworkDevice_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateNetworkDevice_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"updateNetworkDevice_serial\"><label for=\"node-input-updateNetworkDevice_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-updateNetworkDevice_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateNetworkDevice_serialType\" value=\"string\" ></div><div class=\"form-row\" id=\"updateNetworkDevice_updateNetworkDevice\"><label for=\"node-input-updateNetworkDevice_updateNetworkDevice\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>updateNetworkDevice</b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-updateNetworkDevice_updateNetworkDevice\" placeholder=\"msg.updateNetworkDevice\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateNetworkDevice_updateNetworkDeviceType\" value=\"\" ></div>",
                "example": "[\n  {\n    \"name\": \"My AP\",\n    \"lat\": 37.4180951010362,\n    \"lng\": -122.098531723022,\n    \"serial\": \"Q234-ABCD-5678\",\n    \"mac\": \"00:11:22:33:44:55\",\n    \"model\": \"MR34\",\n    \"address\": \"1600 Pennsylvania Ave\",\n    \"notes\": \"My AP's note\",\n    \"lanIp\": \"1.2.3.4\",\n    \"tags\": \" recently-added \",\n    \"networkId\": \"N_24329156\",\n    \"beaconIdParams\": {\n      \"uuid\": \"00000000-0000-0000-0000-000000000000\",\n      \"major\": 5,\n      \"minor\": 3\n    },\n    \"firmware\": \"wireless-25-14\"\n  }\n]",
                "summary": "Update the attributes of a device"
            },
            {
                "methodGroup": "Devices",
                "methodName": "blinkNetworkDeviceLeds",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "serial"
                    },
                    {
                        "camelCaseName": "blinkNetworkDeviceLeds"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"blinkNetworkDeviceLeds_networkId\"><label for=\"node-input-blinkNetworkDeviceLeds_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-blinkNetworkDeviceLeds_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-blinkNetworkDeviceLeds_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"blinkNetworkDeviceLeds_serial\"><label for=\"node-input-blinkNetworkDeviceLeds_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-blinkNetworkDeviceLeds_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-blinkNetworkDeviceLeds_serialType\" value=\"string\" ></div><div class=\"form-row\" id=\"blinkNetworkDeviceLeds_blinkNetworkDeviceLeds\"><label for=\"node-input-blinkNetworkDeviceLeds_blinkNetworkDeviceLeds\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>blinkNetworkDeviceLeds</b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-blinkNetworkDeviceLeds_blinkNetworkDeviceLeds\" placeholder=\"msg.blinkNetworkDeviceLeds\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-blinkNetworkDeviceLeds_blinkNetworkDeviceLedsType\" value=\"\" ></div>",
                "example": "[\n  {\n    \"sentToDevice\": true\n  }\n]",
                "summary": "Blink the LEDs on a device"
            },
            {
                "methodGroup": "Devices",
                "methodName": "getNetworkDeviceLldp_cdp",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "serial"
                    },
                    {
                        "camelCaseName": "timespan"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkDeviceLldp_cdp_networkId\"><label for=\"node-input-getNetworkDeviceLldp_cdp_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkDeviceLldp_cdp_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDeviceLldp_cdp_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkDeviceLldp_cdp_serial\"><label for=\"node-input-getNetworkDeviceLldp_cdp_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkDeviceLldp_cdp_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDeviceLldp_cdp_serialType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkDeviceLldp_cdp_timespan\"><label for=\"node-input-getNetworkDeviceLldp_cdp_timespan\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>timespan</b> <i>&nbspinteger</i></span></label><p>The timespan for which LLDP and CDP information will be fetched. Must be in seconds and less than or equal to a month (2592000 seconds). LLDP and CDP information is sent to the Meraki dashboard every 10 minutes. In instances where this LLDP and CDP information matches an existing entry in the Meraki dashboard, the data is updated once every two hours. Meraki recommends querying LLDP and CDP information at an interval slightly greater than two hours, to ensure that unchanged CDP / LLDP information can be queried consistently.</p><input type=\"text\" id=\"node-input-getNetworkDeviceLldp_cdp_timespan\" placeholder=\"msg.timespan\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDeviceLldp_cdp_timespanType\" value=\"integer\" ></div>",
                "example": "[\n  {\n    \"sourceMac\": \"00:11:22:33:44:55\",\n    \"ports\": {\n      \"8\": {\n        \"cdp\": {\n          \"deviceId\": \"e0553d8cdf53\",\n          \"portId\": \"Port 10\",\n          \"address\": \"00:11:22:33:44:55\",\n          \"sourcePort\": \"8\"\n        }\n      },\n      \"12\": {\n        \"cdp\": {\n          \"deviceId\": \"e0553d8cdf53\",\n          \"portId\": \"Port 11\",\n          \"address\": \"00:11:22:33:44:55\",\n          \"sourcePort\": \"12\"\n        },\n        \"lldp\": {\n          \"systemName\": \"Meraki MS350-24X - Phineas\",\n          \"portId\": \"11\",\n          \"managementAddress\": \"00:11:22:33:44:55\",\n          \"sourcePort\": \"12\"\n        }\n      }\n    }\n  }\n]",
                "summary": "List LLDP and CDP information for a device"
            },
            {
                "methodGroup": "Devices",
                "methodName": "getNetworkDeviceLossAndLatencyHistory",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "serial"
                    },
                    {
                        "camelCaseName": "t0"
                    },
                    {
                        "camelCaseName": "t1"
                    },
                    {
                        "camelCaseName": "timespan"
                    },
                    {
                        "camelCaseName": "resolution"
                    },
                    {
                        "camelCaseName": "uplink"
                    },
                    {
                        "camelCaseName": "ip"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkDeviceLossAndLatencyHistory_networkId\"><label for=\"node-input-getNetworkDeviceLossAndLatencyHistory_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkDeviceLossAndLatencyHistory_serial\"><label for=\"node-input-getNetworkDeviceLossAndLatencyHistory_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_serialType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkDeviceLossAndLatencyHistory_t0\"><label for=\"node-input-getNetworkDeviceLossAndLatencyHistory_t0\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>t0</b> <i>&nbspstring</i></span></label><p>The beginning of the timespan for the data. The maximum lookback period is 365 days from today.</p><input type=\"text\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_t0\" placeholder=\"msg.t0\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_t0Type\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkDeviceLossAndLatencyHistory_t1\"><label for=\"node-input-getNetworkDeviceLossAndLatencyHistory_t1\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>t1</b> <i>&nbspstring</i></span></label><p>The end of the timespan for the data. t1 can be a maximum of 31 days after t0.</p><input type=\"text\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_t1\" placeholder=\"msg.t1\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_t1Type\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkDeviceLossAndLatencyHistory_timespan\"><label for=\"node-input-getNetworkDeviceLossAndLatencyHistory_timespan\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>timespan</b> <i>&nbspinteger</i></span></label><p>The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 31 days. The default is 1 day.</p><input type=\"text\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_timespan\" placeholder=\"msg.timespan\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_timespanType\" value=\"integer\" ></div><div class=\"form-row\" id=\"getNetworkDeviceLossAndLatencyHistory_resolution\"><label for=\"node-input-getNetworkDeviceLossAndLatencyHistory_resolution\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>resolution</b> <i>&nbspinteger</i></span></label><p>The time resolution in seconds for returned data. The valid resolutions are: 60, 600, 3600, 86400. The default is 60.</p><input type=\"text\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_resolution\" placeholder=\"msg.resolution\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_resolutionType\" value=\"integer\" ></div><div class=\"form-row\" id=\"getNetworkDeviceLossAndLatencyHistory_uplink\"><label for=\"node-input-getNetworkDeviceLossAndLatencyHistory_uplink\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>uplink</b> <i>&nbspstring</i></span></label><p>The WAN uplink used to obtain the requested stats. Valid uplinks are wan1, wan2, cellular. The default is wan1.</p><input type=\"text\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_uplink\" placeholder=\"msg.uplink\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_uplinkType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkDeviceLossAndLatencyHistory_ip\"><label for=\"node-input-getNetworkDeviceLossAndLatencyHistory_ip\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>ip<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p>The destination IP used to obtain the requested stats. This is required.</p><input type=\"text\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_ip\" placeholder=\"msg.ip\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_ipType\" value=\"string\" ></div>",
                "example": "[\n  [\n    {\n      \"startTime\": \"2018-10-09T22:18:27Z\",\n      \"endTime\": \"2018-10-09T22:19:27Z\",\n      \"lossPercent\": 5,\n      \"latencyMs\": 324\n    },\n    {\n      \"startTime\": \"2018-10-09T22:19:27Z\",\n      \"endTime\": \"2018-10-09T22:20:27Z\",\n      \"lossPercent\": 1,\n      \"latencyMs\": 43\n    },\n    {\n      \"startTime\": \"2018-10-09T22:20:27Z\",\n      \"endTime\": \"2018-10-09T22:21:27Z\",\n      \"lossPercent\": 0,\n      \"latencyMs\": 44\n    }\n  ]\n]",
                "summary": "Get the uplink loss percentage and latency in milliseconds for a wired network device."
            },
            {
                "methodGroup": "Devices",
                "methodName": "getNetworkDevicePerformance",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "serial"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkDevicePerformance_networkId\"><label for=\"node-input-getNetworkDevicePerformance_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkDevicePerformance_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDevicePerformance_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkDevicePerformance_serial\"><label for=\"node-input-getNetworkDevicePerformance_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkDevicePerformance_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDevicePerformance_serialType\" value=\"string\" ></div>",
                "example": "[\n  {\n    \"perfScore\": 10\n  }\n]",
                "summary": "Return the performance score for a single device. Only primary MX devices supported. If no data is available a 204 error code is returned."
            },
            {
                "methodGroup": "Devices",
                "methodName": "rebootNetworkDevice",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "serial"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"rebootNetworkDevice_networkId\"><label for=\"node-input-rebootNetworkDevice_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-rebootNetworkDevice_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-rebootNetworkDevice_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"rebootNetworkDevice_serial\"><label for=\"node-input-rebootNetworkDevice_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-rebootNetworkDevice_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-rebootNetworkDevice_serialType\" value=\"string\" ></div>",
                "example": "[\n  {\n    \"success\": true\n  }\n]",
                "summary": "Reboot a device"
            },
            {
                "methodGroup": "Devices",
                "methodName": "removeNetworkDevice",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "serial"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"removeNetworkDevice_networkId\"><label for=\"node-input-removeNetworkDevice_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-removeNetworkDevice_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-removeNetworkDevice_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"removeNetworkDevice_serial\"><label for=\"node-input-removeNetworkDevice_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-removeNetworkDevice_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-removeNetworkDevice_serialType\" value=\"string\" ></div>",
                "example": "[]",
                "summary": "Remove a single device"
            },
            {
                "methodGroup": "Devices",
                "methodName": "getNetworkDeviceUplink",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "serial"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkDeviceUplink_networkId\"><label for=\"node-input-getNetworkDeviceUplink_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkDeviceUplink_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDeviceUplink_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkDeviceUplink_serial\"><label for=\"node-input-getNetworkDeviceUplink_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkDeviceUplink_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDeviceUplink_serialType\" value=\"string\" ></div>",
                "example": "[\n  [\n    {\n      \"interface\": \"WAN 1\",\n      \"status\": \"Active\",\n      \"ip\": \"1.2.3.4\",\n      \"gateway\": \"1.2.3.5\",\n      \"publicIp\": \"123.123.123.1\",\n      \"dns\": \"8.8.8.8, 8.8.4.4\",\n      \"usingStaticIp\": false\n    }\n  ]\n]",
                "summary": "Return the uplink information for a device."
            },
            {
                "methodGroup": "Devices",
                "methodName": "getOrganizationDevices",
                "parameters": [
                    {
                        "camelCaseName": "organizationId"
                    },
                    {
                        "camelCaseName": "perPage"
                    },
                    {
                        "camelCaseName": "startingAfter"
                    },
                    {
                        "camelCaseName": "endingBefore"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getOrganizationDevices_organizationId\"><label for=\"node-input-getOrganizationDevices_organizationId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>organizationId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getOrganizationDevices_organizationId\" placeholder=\"msg.organizationId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganizationDevices_organizationIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getOrganizationDevices_perPage\"><label for=\"node-input-getOrganizationDevices_perPage\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>perPage</b> <i>&nbspinteger</i></span></label><p>The number of entries per page returned. Acceptable range is 3 - 1000. Default is 1000.</p><input type=\"text\" id=\"node-input-getOrganizationDevices_perPage\" placeholder=\"msg.perPage\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganizationDevices_perPageType\" value=\"integer\" ></div><div class=\"form-row\" id=\"getOrganizationDevices_startingAfter\"><label for=\"node-input-getOrganizationDevices_startingAfter\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>startingAfter</b> <i>&nbspstring</i></span></label><p>A token used by the server to indicate the start of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.</p><input type=\"text\" id=\"node-input-getOrganizationDevices_startingAfter\" placeholder=\"msg.startingAfter\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganizationDevices_startingAfterType\" value=\"string\" ></div><div class=\"form-row\" id=\"getOrganizationDevices_endingBefore\"><label for=\"node-input-getOrganizationDevices_endingBefore\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>endingBefore</b> <i>&nbspstring</i></span></label><p>A token used by the server to indicate the end of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.</p><input type=\"text\" id=\"node-input-getOrganizationDevices_endingBefore\" placeholder=\"msg.endingBefore\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganizationDevices_endingBeforeType\" value=\"string\" ></div>",
                "example": "[\n  {\n    \"name\": \"My AP\",\n    \"lat\": 37.4180951010362,\n    \"lng\": -122.098531723022,\n    \"address\": \"1600 Pennsylvania Ave\",\n    \"notes\": \"My AP's note\",\n    \"tags\": \" recently-added \",\n    \"networkId\": \"N_24329156\",\n    \"serial\": \"Q234-ABCD-5678\",\n    \"model\": \"MR34\",\n    \"mac\": \"00:11:22:33:44:55\",\n    \"lanIp\": \"1.2.3.4\"\n  }\n]",
                "summary": "List the devices in an organization"
            }
        ],
        "currentParams": [
            {
                "methodName": "getNetworkDevices",
                "camelCaseName": "networkId",
                "type": "str",
                "value": "L_646829496481099586"
            },
            {
                "methodName": "getOrganizationDevices",
                "camelCaseName": "organizationId",
                "type": "str",
                "value": "549236"
            }
        ],
        "storedParams": [
            {
                "methodName": "getNetworkDevices",
                "camelCaseName": "networkId",
                "type": "str",
                "value": "L_646829496481099586"
            },
            {
                "methodName": "getOrganizationDevices",
                "camelCaseName": "organizationId",
                "type": "str",
                "value": "549236"
            }
        ],
        "formHtml": "",
        "method": "getOrganizationDevices",
        "x": 690,
        "y": 220,
        "wires": [
            [
                "543e34b0.7c1dfc"
            ]
        ]
    },
    {
        "id": "543e34b0.7c1dfc",
        "type": "debug",
        "z": "f4572282.d383",
        "name": "Devices",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1000,
        "y": 220,
        "wires": []
    },
    {
        "id": "469fb10a.c173d",
        "type": "comment",
        "z": "f4572282.d383",
        "name": "Basic first calls, params defined in the Meraki Node",
        "info": "\n",
        "x": 210,
        "y": 60,
        "wires": []
    },
    {
        "id": "be1a1ada.1287d8",
        "type": "inject",
        "z": "f4572282.d383",
        "name": "Clients",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 300,
        "wires": [
            [
                "a65e8dce.c02da"
            ]
        ]
    },
    {
        "id": "a65e8dce.c02da",
        "type": "meraki-dashboard-api",
        "z": "f4572282.d383",
        "service": "d7e7692b.e5f0c8",
        "name": "getNetworkBluetoothClients",
        "selectedGroup": "Clients",
        "selectedMethod": "getNetworkClients",
        "filteredMethods": [
            {
                "methodGroup": "Clients",
                "methodName": "getDeviceClients",
                "parameters": [
                    {
                        "camelCaseName": "serial"
                    },
                    {
                        "camelCaseName": "t0"
                    },
                    {
                        "camelCaseName": "timespan"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getDeviceClients_serial\"><label for=\"node-input-getDeviceClients_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getDeviceClients_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getDeviceClients_serialType\" value=\"string\" ></div><div class=\"form-row\" id=\"getDeviceClients_t0\"><label for=\"node-input-getDeviceClients_t0\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>t0</b> <i>&nbspstring</i></span></label><p>The beginning of the timespan for the data. The maximum lookback period is 31 days from today.</p><input type=\"text\" id=\"node-input-getDeviceClients_t0\" placeholder=\"msg.t0\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getDeviceClients_t0Type\" value=\"string\" ></div><div class=\"form-row\" id=\"getDeviceClients_timespan\"><label for=\"node-input-getDeviceClients_timespan\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>timespan</b> <i>&nbspinteger</i></span></label><p>The timespan for which the information will be fetched. If specifying timespan, do not specify parameter t0. The value must be in seconds and be less than or equal to 31 days. The default is 1 day.</p><input type=\"text\" id=\"node-input-getDeviceClients_timespan\" placeholder=\"msg.timespan\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getDeviceClients_timespanType\" value=\"integer\" ></div>",
                "example": "[\n  {\n    \"usage\": {\n      \"sent\": 138,\n      \"recv\": 61\n    },\n    \"id\": \"k74272e\",\n    \"description\": \"Miles's phone\",\n    \"mac\": \"00:11:22:33:44:55\",\n    \"ip\": \"1.2.3.4\",\n    \"user\": \"milesmeraki\",\n    \"vlan\": 255,\n    \"switchport\": null,\n    \"mdnsName\": \"Miles's phone\",\n    \"dhcpHostname\": \"MilesPhone\"\n  }\n]",
                "summary": "List the clients of a device up to a maximum of a month ago. The usage of each client is returned in kilobytes. If the device is a switch the switchport is returned; otherwise the switchport field is null."
            },
            {
                "methodGroup": "Clients",
                "methodName": "getNetworkClients",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "t0"
                    },
                    {
                        "camelCaseName": "timespan"
                    },
                    {
                        "camelCaseName": "perPage"
                    },
                    {
                        "camelCaseName": "startingAfter"
                    },
                    {
                        "camelCaseName": "endingBefore"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkClients_networkId\"><label for=\"node-input-getNetworkClients_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkClients_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClients_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkClients_t0\"><label for=\"node-input-getNetworkClients_t0\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>t0</b> <i>&nbspstring</i></span></label><p>The beginning of the timespan for the data. The maximum lookback period is 31 days from today.</p><input type=\"text\" id=\"node-input-getNetworkClients_t0\" placeholder=\"msg.t0\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClients_t0Type\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkClients_timespan\"><label for=\"node-input-getNetworkClients_timespan\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>timespan</b> <i>&nbspinteger</i></span></label><p>The timespan for which the information will be fetched. If specifying timespan, do not specify parameter t0. The value must be in seconds and be less than or equal to 31 days. The default is 1 day.</p><input type=\"text\" id=\"node-input-getNetworkClients_timespan\" placeholder=\"msg.timespan\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClients_timespanType\" value=\"integer\" ></div><div class=\"form-row\" id=\"getNetworkClients_perPage\"><label for=\"node-input-getNetworkClients_perPage\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>perPage</b> <i>&nbspinteger</i></span></label><p>The number of entries per page returned. Acceptable range is 3 - 1000. Default is 10.</p><input type=\"text\" id=\"node-input-getNetworkClients_perPage\" placeholder=\"msg.perPage\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClients_perPageType\" value=\"integer\" ></div><div class=\"form-row\" id=\"getNetworkClients_startingAfter\"><label for=\"node-input-getNetworkClients_startingAfter\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>startingAfter</b> <i>&nbspstring</i></span></label><p>A token used by the server to indicate the start of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.</p><input type=\"text\" id=\"node-input-getNetworkClients_startingAfter\" placeholder=\"msg.startingAfter\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClients_startingAfterType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkClients_endingBefore\"><label for=\"node-input-getNetworkClients_endingBefore\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>endingBefore</b> <i>&nbspstring</i></span></label><p>A token used by the server to indicate the end of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.</p><input type=\"text\" id=\"node-input-getNetworkClients_endingBefore\" placeholder=\"msg.endingBefore\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClients_endingBeforeType\" value=\"string\" ></div>",
                "example": "[\n  {\n    \"usage\": {\n      \"sent\": 138,\n      \"recv\": 61\n    },\n    \"id\": \"k74272e\",\n    \"description\": \"Miles's phone\",\n    \"mac\": \"00:11:22:33:44:55\",\n    \"ip\": \"1.2.3.4\",\n    \"user\": \"milesmeraki\",\n    \"vlan\": 255,\n    \"switchport\": null,\n    \"ip6\": \"\",\n    \"firstSeen\": 1518365681,\n    \"lastSeen\": 1526087474,\n    \"manufacturer\": \"Apple\",\n    \"os\": \"iOS\"\n  }\n]",
                "summary": "List the clients that have used this network in the timespan"
            },
            {
                "methodGroup": "Clients",
                "methodName": "provisionNetworkClients",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "provisionNetworkClients"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"provisionNetworkClients_networkId\"><label for=\"node-input-provisionNetworkClients_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-provisionNetworkClients_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-provisionNetworkClients_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"provisionNetworkClients_provisionNetworkClients\"><label for=\"node-input-provisionNetworkClients_provisionNetworkClients\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>provisionNetworkClients</b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-provisionNetworkClients_provisionNetworkClients\" placeholder=\"msg.provisionNetworkClients\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-provisionNetworkClients_provisionNetworkClientsType\" value=\"\" ></div>",
                "example": "[\n  {\n    \"mac\": \"00:11:22:33:44:55\",\n    \"clientId\": \"k74272e\",\n    \"name\": \"Miles's phone\",\n    \"devicePolicy\": \"Group policy\",\n    \"groupPolicyId\": \"101\"\n  }\n]",
                "summary": "Provisions a client with a name and policy. Clients can be provisioned before they associate to the network."
            },
            {
                "methodGroup": "Clients",
                "methodName": "getNetworkClient",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "clientId"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkClient_networkId\"><label for=\"node-input-getNetworkClient_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkClient_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClient_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkClient_clientId\"><label for=\"node-input-getNetworkClient_clientId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>clientId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkClient_clientId\" placeholder=\"msg.clientId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClient_clientIdType\" value=\"string\" ></div>",
                "example": "[\n  {\n    \"id\": \"k74272e\",\n    \"description\": \"Miles's phone\",\n    \"mac\": \"00:11:22:33:44:55\",\n    \"ip\": \"1.2.3.4\",\n    \"user\": \"null\",\n    \"vlan\": \"255\",\n    \"switchport\": null,\n    \"ip6\": \"\",\n    \"firstSeen\": 1518365681,\n    \"lastSeen\": 1526087474,\n    \"manufacturer\": \"Apple\",\n    \"os\": \"iOS\",\n    \"ssid\": \"My SSID\",\n    \"wirelessCapabilities\": \"802.11ac - 2.4 and 5 GHz\",\n    \"smInstalled\": true,\n    \"recentDeviceMac\": \"00:11:22:33:44:55\",\n    \"clientVpnConnections\": [\n      {\n        \"remoteIp\": \"1.2.3.4\",\n        \"connectedAt\": 1522613355,\n        \"disconnectedAt\": 1522613360\n      }\n    ],\n    \"lldp\": [\n      [\n        \"System name\",\n        \"Some system name\"\n      ],\n      [\n        \"System description\",\n        \"Some system description\"\n      ],\n      [\n        \"Port ID\",\n        \"1\"\n      ],\n      [\n        \"Chassis ID\",\n        \"00:18:0a:00:00:00\"\n      ],\n      [\n        \"Port description\",\n        \"eth0\"\n      ],\n      [\n        \"System capabilities\",\n        \"Two-port MAC Relay\"\n      ]\n    ],\n    \"cdp\": null\n  }\n]",
                "summary": "Return the client associated with the given identifier. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP."
            },
            {
                "methodGroup": "Clients",
                "methodName": "getNetworkClientEvents",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "clientId"
                    },
                    {
                        "camelCaseName": "perPage"
                    },
                    {
                        "camelCaseName": "startingAfter"
                    },
                    {
                        "camelCaseName": "endingBefore"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkClientEvents_networkId\"><label for=\"node-input-getNetworkClientEvents_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkClientEvents_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClientEvents_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkClientEvents_clientId\"><label for=\"node-input-getNetworkClientEvents_clientId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>clientId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkClientEvents_clientId\" placeholder=\"msg.clientId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClientEvents_clientIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkClientEvents_perPage\"><label for=\"node-input-getNetworkClientEvents_perPage\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>perPage</b> <i>&nbspinteger</i></span></label><p>The number of entries per page returned. Acceptable range is 3 - 100. Default is 100.</p><input type=\"text\" id=\"node-input-getNetworkClientEvents_perPage\" placeholder=\"msg.perPage\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClientEvents_perPageType\" value=\"integer\" ></div><div class=\"form-row\" id=\"getNetworkClientEvents_startingAfter\"><label for=\"node-input-getNetworkClientEvents_startingAfter\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>startingAfter</b> <i>&nbspstring</i></span></label><p>A token used by the server to indicate the start of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.</p><input type=\"text\" id=\"node-input-getNetworkClientEvents_startingAfter\" placeholder=\"msg.startingAfter\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClientEvents_startingAfterType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkClientEvents_endingBefore\"><label for=\"node-input-getNetworkClientEvents_endingBefore\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>endingBefore</b> <i>&nbspstring</i></span></label><p>A token used by the server to indicate the end of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.</p><input type=\"text\" id=\"node-input-getNetworkClientEvents_endingBefore\" placeholder=\"msg.endingBefore\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClientEvents_endingBeforeType\" value=\"string\" ></div>",
                "example": "[\n  [\n    {\n      \"deviceSerial\": \"Q234-ABCD-5678\",\n      \"occurredAt\": 1518365681,\n      \"type\": \"l3roaming_assoc_start\",\n      \"details\": {\n        \"vap\": \"1\",\n        \"on_packet\": \"true\"\n      }\n    }\n  ]\n]",
                "summary": "Return the events associated with this client. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP."
            },
            {
                "methodGroup": "Clients",
                "methodName": "getNetworkClientLatencyHistory",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "clientId"
                    },
                    {
                        "camelCaseName": "t0"
                    },
                    {
                        "camelCaseName": "t1"
                    },
                    {
                        "camelCaseName": "timespan"
                    },
                    {
                        "camelCaseName": "resolution"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkClientLatencyHistory_networkId\"><label for=\"node-input-getNetworkClientLatencyHistory_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkClientLatencyHistory_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClientLatencyHistory_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkClientLatencyHistory_clientId\"><label for=\"node-input-getNetworkClientLatencyHistory_clientId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>clientId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkClientLatencyHistory_clientId\" placeholder=\"msg.clientId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClientLatencyHistory_clientIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkClientLatencyHistory_t0\"><label for=\"node-input-getNetworkClientLatencyHistory_t0\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>t0</b> <i>&nbspstring</i></span></label><p>The beginning of the timespan for the data. The maximum lookback period is 791 days from today.</p><input type=\"text\" id=\"node-input-getNetworkClientLatencyHistory_t0\" placeholder=\"msg.t0\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClientLatencyHistory_t0Type\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkClientLatencyHistory_t1\"><label for=\"node-input-getNetworkClientLatencyHistory_t1\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>t1</b> <i>&nbspstring</i></span></label><p>The end of the timespan for the data. t1 can be a maximum of 791 days after t0.</p><input type=\"text\" id=\"node-input-getNetworkClientLatencyHistory_t1\" placeholder=\"msg.t1\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClientLatencyHistory_t1Type\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkClientLatencyHistory_timespan\"><label for=\"node-input-getNetworkClientLatencyHistory_timespan\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>timespan</b> <i>&nbspinteger</i></span></label><p>The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 791 days. The default is 1 day.</p><input type=\"text\" id=\"node-input-getNetworkClientLatencyHistory_timespan\" placeholder=\"msg.timespan\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClientLatencyHistory_timespanType\" value=\"integer\" ></div><div class=\"form-row\" id=\"getNetworkClientLatencyHistory_resolution\"><label for=\"node-input-getNetworkClientLatencyHistory_resolution\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>resolution</b> <i>&nbspinteger</i></span></label><p>The time resolution in seconds for returned data. The valid resolutions are: 86400. The default is 86400.</p><input type=\"text\" id=\"node-input-getNetworkClientLatencyHistory_resolution\" placeholder=\"msg.resolution\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClientLatencyHistory_resolutionType\" value=\"integer\" ></div>",
                "example": "[\n  [\n    {\n      \"t0\": 1550534400,\n      \"t1\": 1550620800,\n      \"latencyBinsByCategory\": {\n        \"backgroundTraffic\": {\n          \"0.5\": 41750,\n          \"1.0\": 21552,\n          \"2.0\": 59940,\n          \"4.0\": 146622,\n          \"8.0\": 57354,\n          \"16.0\": 0,\n          \"32.0\": 9954,\n          \"64.0\": 0,\n          \"128.0\": 0,\n          \"256.0\": 1896,\n          \"512.0\": 0,\n          \"1024.0\": 0,\n          \"2048.0\": 0\n        },\n        \"bestEffortTraffic\": {\n          \"0.5\": 1840899,\n          \"1.0\": 1644506,\n          \"2.0\": 629958,\n          \"4.0\": 449564,\n          \"8.0\": 2009658,\n          \"16.0\": 1329568,\n          \"32.0\": 282168,\n          \"64.0\": 97573,\n          \"128.0\": 191977,\n          \"256.0\": 30560,\n          \"512.0\": 26032,\n          \"1024.0\": 4943,\n          \"2048.0\": 12072\n        },\n        \"videoTraffic\": {\n          \"0.5\": 0,\n          \"1.0\": 0,\n          \"2.0\": 0,\n          \"4.0\": 0,\n          \"8.0\": 0,\n          \"16.0\": 0,\n          \"32.0\": 0,\n          \"64.0\": 0,\n          \"128.0\": 0,\n          \"256.0\": 0,\n          \"512.0\": 0,\n          \"1024.0\": 0,\n          \"2048.0\": 0\n        },\n        \"voiceTraffic\": {\n          \"0.5\": 716,\n          \"1.0\": 948,\n          \"2.0\": 474,\n          \"4.0\": 78,\n          \"8.0\": 0,\n          \"16.0\": 0,\n          \"32.0\": 0,\n          \"64.0\": 0,\n          \"128.0\": 0,\n          \"256.0\": 0,\n          \"512.0\": 0,\n          \"1024.0\": 0,\n          \"2048.0\": 0\n        }\n      }\n    }\n  ]\n]",
                "summary": "Return the latency history for a client. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP. The latency data is from a sample of 2% of packets and is grouped into 4 traffic categories: background best effort video voice. Within these categories the sampled packet counters are bucketed by latency in milliseconds."
            },
            {
                "methodGroup": "Clients",
                "methodName": "getNetworkClientPolicy",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "clientId"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkClientPolicy_networkId\"><label for=\"node-input-getNetworkClientPolicy_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkClientPolicy_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClientPolicy_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkClientPolicy_clientId\"><label for=\"node-input-getNetworkClientPolicy_clientId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>clientId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkClientPolicy_clientId\" placeholder=\"msg.clientId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClientPolicy_clientIdType\" value=\"string\" ></div>",
                "example": "[\n  {\n    \"mac\": \"00:11:22:33:44:55\",\n    \"type\": \"Group policy\",\n    \"groupPolicyId\": \"101\"\n  }\n]",
                "summary": "Return the policy assigned to a client on the network. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP."
            },
            {
                "methodGroup": "Clients",
                "methodName": "updateNetworkClientPolicy",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "clientId"
                    },
                    {
                        "camelCaseName": "updateNetworkClientPolicy"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"updateNetworkClientPolicy_networkId\"><label for=\"node-input-updateNetworkClientPolicy_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-updateNetworkClientPolicy_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateNetworkClientPolicy_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"updateNetworkClientPolicy_clientId\"><label for=\"node-input-updateNetworkClientPolicy_clientId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>clientId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-updateNetworkClientPolicy_clientId\" placeholder=\"msg.clientId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateNetworkClientPolicy_clientIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"updateNetworkClientPolicy_updateNetworkClientPolicy\"><label for=\"node-input-updateNetworkClientPolicy_updateNetworkClientPolicy\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>updateNetworkClientPolicy</b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-updateNetworkClientPolicy_updateNetworkClientPolicy\" placeholder=\"msg.updateNetworkClientPolicy\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateNetworkClientPolicy_updateNetworkClientPolicyType\" value=\"\" ></div>",
                "example": "[\n  {\n    \"mac\": \"00:11:22:33:44:55\",\n    \"type\": \"Group policy\",\n    \"groupPolicyId\": \"101\"\n  }\n]",
                "summary": "Update the policy assigned to a client on the network. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP."
            },
            {
                "methodGroup": "Clients",
                "methodName": "getNetworkClientSplashAuthorizationStatus",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "clientId"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkClientSplashAuthorizationStatus_networkId\"><label for=\"node-input-getNetworkClientSplashAuthorizationStatus_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkClientSplashAuthorizationStatus_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClientSplashAuthorizationStatus_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkClientSplashAuthorizationStatus_clientId\"><label for=\"node-input-getNetworkClientSplashAuthorizationStatus_clientId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>clientId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkClientSplashAuthorizationStatus_clientId\" placeholder=\"msg.clientId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClientSplashAuthorizationStatus_clientIdType\" value=\"string\" ></div>",
                "example": "[\n  {\n    \"ssids\": {\n      \"0\": {\n        \"isAuthorized\": true,\n        \"authorizedAt\": \"2017-07-19 16:24:13 UTC\",\n        \"expiresAt\": \"2017-07-20 16:24:13 UTC\"\n      },\n      \"2\": {\n        \"isAuthorized\": false\n      }\n    }\n  }\n]",
                "summary": "Return the splash authorization for a client for each SSID theyve associated with through splash. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP."
            },
            {
                "methodGroup": "Clients",
                "methodName": "updateNetworkClientSplashAuthorizationStatus",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "clientId"
                    },
                    {
                        "camelCaseName": "updateNetworkClientSplashAuthorizationStatus"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"updateNetworkClientSplashAuthorizationStatus_networkId\"><label for=\"node-input-updateNetworkClientSplashAuthorizationStatus_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-updateNetworkClientSplashAuthorizationStatus_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateNetworkClientSplashAuthorizationStatus_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"updateNetworkClientSplashAuthorizationStatus_clientId\"><label for=\"node-input-updateNetworkClientSplashAuthorizationStatus_clientId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>clientId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-updateNetworkClientSplashAuthorizationStatus_clientId\" placeholder=\"msg.clientId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateNetworkClientSplashAuthorizationStatus_clientIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"updateNetworkClientSplashAuthorizationStatus_updateNetworkClientSplashAuthorizationStatus\"><label for=\"node-input-updateNetworkClientSplashAuthorizationStatus_updateNetworkClientSplashAuthorizationStatus\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>updateNetworkClientSplashAuthorizationStatus</b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-updateNetworkClientSplashAuthorizationStatus_updateNetworkClientSplashAuthorizationStatus\" placeholder=\"msg.updateNetworkClientSplashAuthorizationStatus\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateNetworkClientSplashAuthorizationStatus_updateNetworkClientSplashAuthorizationStatusType\" value=\"\" ></div>",
                "example": "[\n  {\n    \"ssids\": {\n      \"0\": {\n        \"isAuthorized\": true,\n        \"authorizedAt\": \"2017-07-19 16:24:13 UTC\",\n        \"expiresAt\": \"2017-07-20 16:24:13 UTC\"\n      },\n      \"2\": {\n        \"isAuthorized\": false\n      }\n    }\n  }\n]",
                "summary": "Update a clients splash authorization. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP."
            },
            {
                "methodGroup": "Clients",
                "methodName": "getNetworkClientTrafficHistory",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "clientId"
                    },
                    {
                        "camelCaseName": "perPage"
                    },
                    {
                        "camelCaseName": "startingAfter"
                    },
                    {
                        "camelCaseName": "endingBefore"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkClientTrafficHistory_networkId\"><label for=\"node-input-getNetworkClientTrafficHistory_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkClientTrafficHistory_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClientTrafficHistory_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkClientTrafficHistory_clientId\"><label for=\"node-input-getNetworkClientTrafficHistory_clientId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>clientId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkClientTrafficHistory_clientId\" placeholder=\"msg.clientId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClientTrafficHistory_clientIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkClientTrafficHistory_perPage\"><label for=\"node-input-getNetworkClientTrafficHistory_perPage\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>perPage</b> <i>&nbspinteger</i></span></label><p>The number of entries per page returned. Acceptable range is 3 - 1000.</p><input type=\"text\" id=\"node-input-getNetworkClientTrafficHistory_perPage\" placeholder=\"msg.perPage\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClientTrafficHistory_perPageType\" value=\"integer\" ></div><div class=\"form-row\" id=\"getNetworkClientTrafficHistory_startingAfter\"><label for=\"node-input-getNetworkClientTrafficHistory_startingAfter\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>startingAfter</b> <i>&nbspstring</i></span></label><p>A token used by the server to indicate the start of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.</p><input type=\"text\" id=\"node-input-getNetworkClientTrafficHistory_startingAfter\" placeholder=\"msg.startingAfter\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClientTrafficHistory_startingAfterType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkClientTrafficHistory_endingBefore\"><label for=\"node-input-getNetworkClientTrafficHistory_endingBefore\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>endingBefore</b> <i>&nbspstring</i></span></label><p>A token used by the server to indicate the end of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.</p><input type=\"text\" id=\"node-input-getNetworkClientTrafficHistory_endingBefore\" placeholder=\"msg.endingBefore\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClientTrafficHistory_endingBeforeType\" value=\"string\" ></div>",
                "example": "[\n  [\n    {\n      \"ts\": 1518365681,\n      \"application\": \"Google\",\n      \"destination\": \"www.google.com\",\n      \"protocol\": \"UDP\",\n      \"port\": 443,\n      \"recv\": 383,\n      \"sent\": 56,\n      \"numFlows\": 5,\n      \"activeSeconds\": 240\n    }\n  ]\n]",
                "summary": "Return the clients network traffic data over time. Usage data is in kilobytes. This endpoint requires detailed traffic analysis to be enabled on the Network-wide > General page. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP."
            },
            {
                "methodGroup": "Clients",
                "methodName": "getNetworkClientUsageHistory",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "clientId"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkClientUsageHistory_networkId\"><label for=\"node-input-getNetworkClientUsageHistory_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkClientUsageHistory_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClientUsageHistory_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkClientUsageHistory_clientId\"><label for=\"node-input-getNetworkClientUsageHistory_clientId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>clientId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkClientUsageHistory_clientId\" placeholder=\"msg.clientId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClientUsageHistory_clientIdType\" value=\"string\" ></div>",
                "example": "[\n  [\n    {\n      \"sent\": 500,\n      \"received\": 680,\n      \"ts\": 1518365681\n    }\n  ]\n]",
                "summary": "Return the clients daily usage history. Usage data is in kilobytes. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP."
            }
        ],
        "currentParams": [
            {
                "methodName": "getNetworkBluetoothClients",
                "camelCaseName": "networkId",
                "type": "str",
                "value": "L_646829496481099586"
            }
        ],
        "storedParams": [
            {
                "methodName": "getNetworkBluetoothClients",
                "camelCaseName": "networkId",
                "type": "str",
                "value": "L_646829496481099586"
            }
        ],
        "formHtml": "",
        "method": "getNetworkClients",
        "x": 700,
        "y": 300,
        "wires": [
            [
                "b750db5e.712fa8"
            ]
        ]
    },
    {
        "id": "b750db5e.712fa8",
        "type": "debug",
        "z": "f4572282.d383",
        "name": "Clients",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1010,
        "y": 300,
        "wires": []
    },
    {
        "id": "cb21e338.b1dd4",
        "type": "comment",
        "z": "f4572282.d383",
        "name": "UPDATE these nodes with an API service and params",
        "info": "",
        "x": 720,
        "y": 60,
        "wires": []
    },
    {
        "id": "d7e7692b.e5f0c8",
        "type": "meraki-dashboard-api-service",
        "z": "",
        "host": "https://api.meraki.com/api/v0",
        "secureApiKeyHeaderOrQueryName": "X-Cisco-Meraki-API-Key",
        "name": "DevNet Demo Sandbox"
    }
]