examples/Using Function Params.json
[
    {
        "id": "eedfb83f.98c7f8",
        "type": "inject",
        "z": "f4572282.d383",
        "name": "Blink LEDs",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 760,
        "wires": [
            [
                "ec73189f.44d878"
            ]
        ]
    },
    {
        "id": "9984dd42.46488",
        "type": "debug",
        "z": "f4572282.d383",
        "name": "Blink LEDs",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 990,
        "y": 760,
        "wires": []
    },
    {
        "id": "ec73189f.44d878",
        "type": "function",
        "z": "f4572282.d383",
        "name": "Settings JSON - UPDATE ME",
        "func": "msg.networkId = \"L_643451796760561416\";\nmsg.serial = \"Q2QN-58EA-7NTY\";\n\nmsg.payload = {\n    \"duration\": 30\n}\n//msg.blinkNetworkDeviceLeds = msg.payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 760,
        "wires": [
            [
                "2ef2ae95.b31a82"
            ]
        ]
    },
    {
        "id": "106680d5.092d6f",
        "type": "function",
        "z": "f4572282.d383",
        "name": "Settings JSON - UPDATE ME",
        "func": "msg.networkId = \"L_643451796760561416\";\n\n\nmsg.payload = {\n    \"mac\": \"11:22:33:aa:bb:cc\",\n    \"name\": \"Test Client\",\n    \"devicePolicy\": \"Group policy\",\n    \"groupPolicyId\": \"100\"\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 800,
        "wires": [
            [
                "4b5f9488.b4f5bc"
            ]
        ]
    },
    {
        "id": "9791ab75.b3bb68",
        "type": "inject",
        "z": "f4572282.d383",
        "name": "Provision Client",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 800,
        "wires": [
            [
                "106680d5.092d6f"
            ]
        ]
    },
    {
        "id": "aee43345.36285",
        "type": "debug",
        "z": "f4572282.d383",
        "name": "Provision client",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "x": 980,
        "y": 800,
        "wires": []
    },
    {
        "id": "2ef2ae95.b31a82",
        "type": "meraki-dashboard-api",
        "z": "f4572282.d383",
        "service": "",
        "name": "blinkNetworkDeviceLeds",
        "selectedGroup": "Devices",
        "selectedMethod": "blinkNetworkDeviceLeds",
        "filteredMethods": [
            {
                "methodGroup": "Devices",
                "methodName": "getNetworkDevices",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkDevices_networkId\"><label for=\"node-input-getNetworkDevices_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkDevices_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDevices_networkIdType\" value=\"string\" ></div>",
                "example": "[\n  [\n    {\n      \"name\": \"My AP\",\n      \"lat\": 37.4180951010362,\n      \"lng\": -122.098531723022,\n      \"serial\": \"Q234-ABCD-5678\",\n      \"mac\": \"00:11:22:33:44:55\",\n      \"model\": \"MR34\",\n      \"address\": \"1600 Pennsylvania Ave\",\n      \"notes\": \"My AP's note\",\n      \"lanIp\": \"1.2.3.4\",\n      \"tags\": \" recently-added \",\n      \"networkId\": \"N_24329156\",\n      \"beaconIdParams\": {\n        \"uuid\": \"00000000-0000-0000-0000-000000000000\",\n        \"major\": 5,\n        \"minor\": 3\n      },\n      \"firmware\": \"wireless-25-14\"\n    }\n  ]\n]",
                "summary": "List the devices in a network"
            },
            {
                "methodGroup": "Devices",
                "methodName": "claimNetworkDevices",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "claimNetworkDevices"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"claimNetworkDevices_networkId\"><label for=\"node-input-claimNetworkDevices_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-claimNetworkDevices_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-claimNetworkDevices_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"claimNetworkDevices_claimNetworkDevices\"><label for=\"node-input-claimNetworkDevices_claimNetworkDevices\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>claimNetworkDevices<span style=\"color:red;\"> *</span></b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-claimNetworkDevices_claimNetworkDevices\" placeholder=\"msg.claimNetworkDevices\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-claimNetworkDevices_claimNetworkDevicesType\" value=\"\" ></div>",
                "example": "[]",
                "summary": "Claim a device into a network"
            },
            {
                "methodGroup": "Devices",
                "methodName": "getNetworkDevice",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "serial"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkDevice_networkId\"><label for=\"node-input-getNetworkDevice_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkDevice_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDevice_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkDevice_serial\"><label for=\"node-input-getNetworkDevice_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkDevice_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDevice_serialType\" value=\"string\" ></div>",
                "example": "[\n  {\n    \"name\": \"My AP\",\n    \"lat\": 37.4180951010362,\n    \"lng\": -122.098531723022,\n    \"serial\": \"Q234-ABCD-5678\",\n    \"mac\": \"00:11:22:33:44:55\",\n    \"model\": \"MR34\",\n    \"address\": \"1600 Pennsylvania Ave\",\n    \"notes\": \"My AP's note\",\n    \"lanIp\": \"1.2.3.4\",\n    \"tags\": \" recently-added \",\n    \"networkId\": \"N_24329156\",\n    \"beaconIdParams\": {\n      \"uuid\": \"00000000-0000-0000-0000-000000000000\",\n      \"major\": 5,\n      \"minor\": 3\n    },\n    \"firmware\": \"wireless-25-14\"\n  }\n]",
                "summary": "Return a single device"
            },
            {
                "methodGroup": "Devices",
                "methodName": "updateNetworkDevice",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "serial"
                    },
                    {
                        "camelCaseName": "updateNetworkDevice"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"updateNetworkDevice_networkId\"><label for=\"node-input-updateNetworkDevice_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-updateNetworkDevice_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateNetworkDevice_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"updateNetworkDevice_serial\"><label for=\"node-input-updateNetworkDevice_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-updateNetworkDevice_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateNetworkDevice_serialType\" value=\"string\" ></div><div class=\"form-row\" id=\"updateNetworkDevice_updateNetworkDevice\"><label for=\"node-input-updateNetworkDevice_updateNetworkDevice\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>updateNetworkDevice</b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-updateNetworkDevice_updateNetworkDevice\" placeholder=\"msg.updateNetworkDevice\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateNetworkDevice_updateNetworkDeviceType\" value=\"\" ></div>",
                "example": "[\n  {\n    \"name\": \"My AP\",\n    \"lat\": 37.4180951010362,\n    \"lng\": -122.098531723022,\n    \"serial\": \"Q234-ABCD-5678\",\n    \"mac\": \"00:11:22:33:44:55\",\n    \"model\": \"MR34\",\n    \"address\": \"1600 Pennsylvania Ave\",\n    \"notes\": \"My AP's note\",\n    \"lanIp\": \"1.2.3.4\",\n    \"tags\": \" recently-added \",\n    \"networkId\": \"N_24329156\",\n    \"beaconIdParams\": {\n      \"uuid\": \"00000000-0000-0000-0000-000000000000\",\n      \"major\": 5,\n      \"minor\": 3\n    },\n    \"firmware\": \"wireless-25-14\"\n  }\n]",
                "summary": "Update the attributes of a device"
            },
            {
                "methodGroup": "Devices",
                "methodName": "blinkNetworkDeviceLeds",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "serial"
                    },
                    {
                        "camelCaseName": "blinkNetworkDeviceLeds"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"blinkNetworkDeviceLeds_networkId\"><label for=\"node-input-blinkNetworkDeviceLeds_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-blinkNetworkDeviceLeds_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-blinkNetworkDeviceLeds_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"blinkNetworkDeviceLeds_serial\"><label for=\"node-input-blinkNetworkDeviceLeds_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-blinkNetworkDeviceLeds_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-blinkNetworkDeviceLeds_serialType\" value=\"string\" ></div><div class=\"form-row\" id=\"blinkNetworkDeviceLeds_blinkNetworkDeviceLeds\"><label for=\"node-input-blinkNetworkDeviceLeds_blinkNetworkDeviceLeds\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>blinkNetworkDeviceLeds</b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-blinkNetworkDeviceLeds_blinkNetworkDeviceLeds\" placeholder=\"msg.blinkNetworkDeviceLeds\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-blinkNetworkDeviceLeds_blinkNetworkDeviceLedsType\" value=\"\" ></div>",
                "example": "[\n  {\n    \"sentToDevice\": true\n  }\n]",
                "summary": "Blink the LEDs on a device"
            },
            {
                "methodGroup": "Devices",
                "methodName": "getNetworkDeviceLldp_cdp",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "serial"
                    },
                    {
                        "camelCaseName": "timespan"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkDeviceLldp_cdp_networkId\"><label for=\"node-input-getNetworkDeviceLldp_cdp_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkDeviceLldp_cdp_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDeviceLldp_cdp_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkDeviceLldp_cdp_serial\"><label for=\"node-input-getNetworkDeviceLldp_cdp_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkDeviceLldp_cdp_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDeviceLldp_cdp_serialType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkDeviceLldp_cdp_timespan\"><label for=\"node-input-getNetworkDeviceLldp_cdp_timespan\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>timespan</b> <i>&nbspinteger</i></span></label><p>The timespan for which LLDP and CDP information will be fetched. Must be in seconds and less than or equal to a month (2592000 seconds). LLDP and CDP information is sent to the Meraki dashboard every 10 minutes. In instances where this LLDP and CDP information matches an existing entry in the Meraki dashboard, the data is updated once every two hours. Meraki recommends querying LLDP and CDP information at an interval slightly greater than two hours, to ensure that unchanged CDP / LLDP information can be queried consistently.</p><input type=\"text\" id=\"node-input-getNetworkDeviceLldp_cdp_timespan\" placeholder=\"msg.timespan\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDeviceLldp_cdp_timespanType\" value=\"integer\" ></div>",
                "example": "[\n  {\n    \"sourceMac\": \"00:11:22:33:44:55\",\n    \"ports\": {\n      \"8\": {\n        \"cdp\": {\n          \"deviceId\": \"e0553d8cdf53\",\n          \"portId\": \"Port 10\",\n          \"address\": \"00:11:22:33:44:55\",\n          \"sourcePort\": \"8\"\n        }\n      },\n      \"12\": {\n        \"cdp\": {\n          \"deviceId\": \"e0553d8cdf53\",\n          \"portId\": \"Port 11\",\n          \"address\": \"00:11:22:33:44:55\",\n          \"sourcePort\": \"12\"\n        },\n        \"lldp\": {\n          \"systemName\": \"Meraki MS350-24X - Phineas\",\n          \"portId\": \"11\",\n          \"managementAddress\": \"00:11:22:33:44:55\",\n          \"sourcePort\": \"12\"\n        }\n      }\n    }\n  }\n]",
                "summary": "List LLDP and CDP information for a device"
            },
            {
                "methodGroup": "Devices",
                "methodName": "getNetworkDeviceLossAndLatencyHistory",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "serial"
                    },
                    {
                        "camelCaseName": "t0"
                    },
                    {
                        "camelCaseName": "t1"
                    },
                    {
                        "camelCaseName": "timespan"
                    },
                    {
                        "camelCaseName": "resolution"
                    },
                    {
                        "camelCaseName": "uplink"
                    },
                    {
                        "camelCaseName": "ip"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkDeviceLossAndLatencyHistory_networkId\"><label for=\"node-input-getNetworkDeviceLossAndLatencyHistory_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkDeviceLossAndLatencyHistory_serial\"><label for=\"node-input-getNetworkDeviceLossAndLatencyHistory_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_serialType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkDeviceLossAndLatencyHistory_t0\"><label for=\"node-input-getNetworkDeviceLossAndLatencyHistory_t0\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>t0</b> <i>&nbspstring</i></span></label><p>The beginning of the timespan for the data. The maximum lookback period is 365 days from today.</p><input type=\"text\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_t0\" placeholder=\"msg.t0\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_t0Type\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkDeviceLossAndLatencyHistory_t1\"><label for=\"node-input-getNetworkDeviceLossAndLatencyHistory_t1\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>t1</b> <i>&nbspstring</i></span></label><p>The end of the timespan for the data. t1 can be a maximum of 31 days after t0.</p><input type=\"text\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_t1\" placeholder=\"msg.t1\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_t1Type\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkDeviceLossAndLatencyHistory_timespan\"><label for=\"node-input-getNetworkDeviceLossAndLatencyHistory_timespan\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>timespan</b> <i>&nbspinteger</i></span></label><p>The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 31 days. The default is 1 day.</p><input type=\"text\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_timespan\" placeholder=\"msg.timespan\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_timespanType\" value=\"integer\" ></div><div class=\"form-row\" id=\"getNetworkDeviceLossAndLatencyHistory_resolution\"><label for=\"node-input-getNetworkDeviceLossAndLatencyHistory_resolution\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>resolution</b> <i>&nbspinteger</i></span></label><p>The time resolution in seconds for returned data. The valid resolutions are: 60, 600, 3600, 86400. The default is 60.</p><input type=\"text\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_resolution\" placeholder=\"msg.resolution\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_resolutionType\" value=\"integer\" ></div><div class=\"form-row\" id=\"getNetworkDeviceLossAndLatencyHistory_uplink\"><label for=\"node-input-getNetworkDeviceLossAndLatencyHistory_uplink\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>uplink</b> <i>&nbspstring</i></span></label><p>The WAN uplink used to obtain the requested stats. Valid uplinks are wan1, wan2, cellular. The default is wan1.</p><input type=\"text\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_uplink\" placeholder=\"msg.uplink\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_uplinkType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkDeviceLossAndLatencyHistory_ip\"><label for=\"node-input-getNetworkDeviceLossAndLatencyHistory_ip\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>ip<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p>The destination IP used to obtain the requested stats. This is required.</p><input type=\"text\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_ip\" placeholder=\"msg.ip\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_ipType\" value=\"string\" ></div>",
                "example": "[\n  [\n    {\n      \"startTime\": \"2018-10-09T22:18:27Z\",\n      \"endTime\": \"2018-10-09T22:19:27Z\",\n      \"lossPercent\": 5,\n      \"latencyMs\": 324\n    },\n    {\n      \"startTime\": \"2018-10-09T22:19:27Z\",\n      \"endTime\": \"2018-10-09T22:20:27Z\",\n      \"lossPercent\": 1,\n      \"latencyMs\": 43\n    },\n    {\n      \"startTime\": \"2018-10-09T22:20:27Z\",\n      \"endTime\": \"2018-10-09T22:21:27Z\",\n      \"lossPercent\": 0,\n      \"latencyMs\": 44\n    }\n  ]\n]",
                "summary": "Get the uplink loss percentage and latency in milliseconds for a wired network device."
            },
            {
                "methodGroup": "Devices",
                "methodName": "getNetworkDevicePerformance",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "serial"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkDevicePerformance_networkId\"><label for=\"node-input-getNetworkDevicePerformance_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkDevicePerformance_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDevicePerformance_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkDevicePerformance_serial\"><label for=\"node-input-getNetworkDevicePerformance_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkDevicePerformance_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDevicePerformance_serialType\" value=\"string\" ></div>",
                "example": "[\n  {\n    \"perfScore\": 10\n  }\n]",
                "summary": "Return the performance score for a single device. Only primary MX devices supported. If no data is available a 204 error code is returned."
            },
            {
                "methodGroup": "Devices",
                "methodName": "rebootNetworkDevice",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "serial"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"rebootNetworkDevice_networkId\"><label for=\"node-input-rebootNetworkDevice_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-rebootNetworkDevice_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-rebootNetworkDevice_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"rebootNetworkDevice_serial\"><label for=\"node-input-rebootNetworkDevice_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-rebootNetworkDevice_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-rebootNetworkDevice_serialType\" value=\"string\" ></div>",
                "example": "[\n  {\n    \"success\": true\n  }\n]",
                "summary": "Reboot a device"
            },
            {
                "methodGroup": "Devices",
                "methodName": "removeNetworkDevice",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "serial"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"removeNetworkDevice_networkId\"><label for=\"node-input-removeNetworkDevice_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-removeNetworkDevice_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-removeNetworkDevice_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"removeNetworkDevice_serial\"><label for=\"node-input-removeNetworkDevice_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-removeNetworkDevice_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-removeNetworkDevice_serialType\" value=\"string\" ></div>",
                "example": "[]",
                "summary": "Remove a single device"
            },
            {
                "methodGroup": "Devices",
                "methodName": "getNetworkDeviceUplink",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "serial"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkDeviceUplink_networkId\"><label for=\"node-input-getNetworkDeviceUplink_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkDeviceUplink_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDeviceUplink_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkDeviceUplink_serial\"><label for=\"node-input-getNetworkDeviceUplink_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkDeviceUplink_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDeviceUplink_serialType\" value=\"string\" ></div>",
                "example": "[\n  [\n    {\n      \"interface\": \"WAN 1\",\n      \"status\": \"Active\",\n      \"ip\": \"1.2.3.4\",\n      \"gateway\": \"1.2.3.5\",\n      \"publicIp\": \"123.123.123.1\",\n      \"dns\": \"8.8.8.8, 8.8.4.4\",\n      \"usingStaticIp\": false\n    }\n  ]\n]",
                "summary": "Return the uplink information for a device."
            },
            {
                "methodGroup": "Devices",
                "methodName": "getOrganizationDevices",
                "parameters": [
                    {
                        "camelCaseName": "organizationId"
                    },
                    {
                        "camelCaseName": "perPage"
                    },
                    {
                        "camelCaseName": "startingAfter"
                    },
                    {
                        "camelCaseName": "endingBefore"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getOrganizationDevices_organizationId\"><label for=\"node-input-getOrganizationDevices_organizationId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>organizationId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getOrganizationDevices_organizationId\" placeholder=\"msg.organizationId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganizationDevices_organizationIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getOrganizationDevices_perPage\"><label for=\"node-input-getOrganizationDevices_perPage\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>perPage</b> <i>&nbspinteger</i></span></label><p>The number of entries per page returned. Acceptable range is 3 - 1000. Default is 1000.</p><input type=\"text\" id=\"node-input-getOrganizationDevices_perPage\" placeholder=\"msg.perPage\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganizationDevices_perPageType\" value=\"integer\" ></div><div class=\"form-row\" id=\"getOrganizationDevices_startingAfter\"><label for=\"node-input-getOrganizationDevices_startingAfter\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>startingAfter</b> <i>&nbspstring</i></span></label><p>A token used by the server to indicate the start of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.</p><input type=\"text\" id=\"node-input-getOrganizationDevices_startingAfter\" placeholder=\"msg.startingAfter\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganizationDevices_startingAfterType\" value=\"string\" ></div><div class=\"form-row\" id=\"getOrganizationDevices_endingBefore\"><label for=\"node-input-getOrganizationDevices_endingBefore\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>endingBefore</b> <i>&nbspstring</i></span></label><p>A token used by the server to indicate the end of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.</p><input type=\"text\" id=\"node-input-getOrganizationDevices_endingBefore\" placeholder=\"msg.endingBefore\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganizationDevices_endingBeforeType\" value=\"string\" ></div>",
                "example": "[\n  {\n    \"name\": \"My AP\",\n    \"lat\": 37.4180951010362,\n    \"lng\": -122.098531723022,\n    \"address\": \"1600 Pennsylvania Ave\",\n    \"notes\": \"My AP's note\",\n    \"tags\": \" recently-added \",\n    \"networkId\": \"N_24329156\",\n    \"serial\": \"Q234-ABCD-5678\",\n    \"model\": \"MR34\",\n    \"mac\": \"00:11:22:33:44:55\",\n    \"lanIp\": \"1.2.3.4\"\n  }\n]",
                "summary": "List the devices in an organization"
            }
        ],
        "storedParams": [],
        "formHtml": "",
        "method": "blinkNetworkDeviceLeds",
        "x": 750,
        "y": 760,
        "wires": [
            [
                "9984dd42.46488"
            ]
        ]
    },
    {
        "id": "4b5f9488.b4f5bc",
        "type": "meraki-dashboard-api",
        "z": "f4572282.d383",
        "service": "",
        "name": "provisionNetworkClients",
        "selectedGroup": "Clients",
        "selectedMethod": "provisionNetworkClients",
        "filteredMethods": [
            {
                "methodGroup": "Clients",
                "methodName": "getDeviceClients",
                "parameters": [
                    {
                        "camelCaseName": "serial"
                    },
                    {
                        "camelCaseName": "t0"
                    },
                    {
                        "camelCaseName": "timespan"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getDeviceClients_serial\"><label for=\"node-input-getDeviceClients_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getDeviceClients_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getDeviceClients_serialType\" value=\"string\" ></div><div class=\"form-row\" id=\"getDeviceClients_t0\"><label for=\"node-input-getDeviceClients_t0\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>t0</b> <i>&nbspstring</i></span></label><p>The beginning of the timespan for the data. The maximum lookback period is 31 days from today.</p><input type=\"text\" id=\"node-input-getDeviceClients_t0\" placeholder=\"msg.t0\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getDeviceClients_t0Type\" value=\"string\" ></div><div class=\"form-row\" id=\"getDeviceClients_timespan\"><label for=\"node-input-getDeviceClients_timespan\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>timespan</b> <i>&nbspinteger</i></span></label><p>The timespan for which the information will be fetched. If specifying timespan, do not specify parameter t0. The value must be in seconds and be less than or equal to 31 days. The default is 1 day.</p><input type=\"text\" id=\"node-input-getDeviceClients_timespan\" placeholder=\"msg.timespan\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getDeviceClients_timespanType\" value=\"integer\" ></div>",
                "example": "[\n  {\n    \"usage\": {\n      \"sent\": 138,\n      \"recv\": 61\n    },\n    \"id\": \"k74272e\",\n    \"description\": \"Miles's phone\",\n    \"mac\": \"00:11:22:33:44:55\",\n    \"ip\": \"1.2.3.4\",\n    \"user\": \"milesmeraki\",\n    \"vlan\": 255,\n    \"switchport\": null,\n    \"mdnsName\": \"Miles's phone\",\n    \"dhcpHostname\": \"MilesPhone\"\n  }\n]",
                "summary": "List the clients of a device up to a maximum of a month ago. The usage of each client is returned in kilobytes. If the device is a switch the switchport is returned; otherwise the switchport field is null."
            },
            {
                "methodGroup": "Clients",
                "methodName": "getNetworkClients",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "t0"
                    },
                    {
                        "camelCaseName": "timespan"
                    },
                    {
                        "camelCaseName": "perPage"
                    },
                    {
                        "camelCaseName": "startingAfter"
                    },
                    {
                        "camelCaseName": "endingBefore"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkClients_networkId\"><label for=\"node-input-getNetworkClients_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkClients_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClients_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkClients_t0\"><label for=\"node-input-getNetworkClients_t0\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>t0</b> <i>&nbspstring</i></span></label><p>The beginning of the timespan for the data. The maximum lookback period is 31 days from today.</p><input type=\"text\" id=\"node-input-getNetworkClients_t0\" placeholder=\"msg.t0\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClients_t0Type\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkClients_timespan\"><label for=\"node-input-getNetworkClients_timespan\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>timespan</b> <i>&nbspinteger</i></span></label><p>The timespan for which the information will be fetched. If specifying timespan, do not specify parameter t0. The value must be in seconds and be less than or equal to 31 days. The default is 1 day.</p><input type=\"text\" id=\"node-input-getNetworkClients_timespan\" placeholder=\"msg.timespan\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClients_timespanType\" value=\"integer\" ></div><div class=\"form-row\" id=\"getNetworkClients_perPage\"><label for=\"node-input-getNetworkClients_perPage\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>perPage</b> <i>&nbspinteger</i></span></label><p>The number of entries per page returned. Acceptable range is 3 - 1000. Default is 10.</p><input type=\"text\" id=\"node-input-getNetworkClients_perPage\" placeholder=\"msg.perPage\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClients_perPageType\" value=\"integer\" ></div><div class=\"form-row\" id=\"getNetworkClients_startingAfter\"><label for=\"node-input-getNetworkClients_startingAfter\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>startingAfter</b> <i>&nbspstring</i></span></label><p>A token used by the server to indicate the start of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.</p><input type=\"text\" id=\"node-input-getNetworkClients_startingAfter\" placeholder=\"msg.startingAfter\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClients_startingAfterType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkClients_endingBefore\"><label for=\"node-input-getNetworkClients_endingBefore\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>endingBefore</b> <i>&nbspstring</i></span></label><p>A token used by the server to indicate the end of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.</p><input type=\"text\" id=\"node-input-getNetworkClients_endingBefore\" placeholder=\"msg.endingBefore\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClients_endingBeforeType\" value=\"string\" ></div>",
                "example": "[\n  {\n    \"usage\": {\n      \"sent\": 138,\n      \"recv\": 61\n    },\n    \"id\": \"k74272e\",\n    \"description\": \"Miles's phone\",\n    \"mac\": \"00:11:22:33:44:55\",\n    \"ip\": \"1.2.3.4\",\n    \"user\": \"milesmeraki\",\n    \"vlan\": 255,\n    \"switchport\": null,\n    \"ip6\": \"\",\n    \"firstSeen\": 1518365681,\n    \"lastSeen\": 1526087474,\n    \"manufacturer\": \"Apple\",\n    \"os\": \"iOS\"\n  }\n]",
                "summary": "List the clients that have used this network in the timespan"
            },
            {
                "methodGroup": "Clients",
                "methodName": "provisionNetworkClients",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "provisionNetworkClients"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"provisionNetworkClients_networkId\"><label for=\"node-input-provisionNetworkClients_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-provisionNetworkClients_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-provisionNetworkClients_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"provisionNetworkClients_provisionNetworkClients\"><label for=\"node-input-provisionNetworkClients_provisionNetworkClients\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>provisionNetworkClients</b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-provisionNetworkClients_provisionNetworkClients\" placeholder=\"msg.provisionNetworkClients\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-provisionNetworkClients_provisionNetworkClientsType\" value=\"\" ></div>",
                "example": "[\n  {\n    \"mac\": \"00:11:22:33:44:55\",\n    \"clientId\": \"k74272e\",\n    \"name\": \"Miles's phone\",\n    \"devicePolicy\": \"Group policy\",\n    \"groupPolicyId\": \"101\"\n  }\n]",
                "summary": "Provisions a client with a name and policy. Clients can be provisioned before they associate to the network."
            },
            {
                "methodGroup": "Clients",
                "methodName": "getNetworkClient",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "clientId"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkClient_networkId\"><label for=\"node-input-getNetworkClient_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkClient_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClient_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkClient_clientId\"><label for=\"node-input-getNetworkClient_clientId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>clientId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkClient_clientId\" placeholder=\"msg.clientId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClient_clientIdType\" value=\"string\" ></div>",
                "example": "[\n  {\n    \"id\": \"k74272e\",\n    \"description\": \"Miles's phone\",\n    \"mac\": \"00:11:22:33:44:55\",\n    \"ip\": \"1.2.3.4\",\n    \"user\": \"null\",\n    \"vlan\": \"255\",\n    \"switchport\": null,\n    \"ip6\": \"\",\n    \"firstSeen\": 1518365681,\n    \"lastSeen\": 1526087474,\n    \"manufacturer\": \"Apple\",\n    \"os\": \"iOS\",\n    \"ssid\": \"My SSID\",\n    \"wirelessCapabilities\": \"802.11ac - 2.4 and 5 GHz\",\n    \"smInstalled\": true,\n    \"recentDeviceMac\": \"00:11:22:33:44:55\",\n    \"clientVpnConnections\": [\n      {\n        \"remoteIp\": \"1.2.3.4\",\n        \"connectedAt\": 1522613355,\n        \"disconnectedAt\": 1522613360\n      }\n    ],\n    \"lldp\": [\n      [\n        \"System name\",\n        \"Some system name\"\n      ],\n      [\n        \"System description\",\n        \"Some system description\"\n      ],\n      [\n        \"Port ID\",\n        \"1\"\n      ],\n      [\n        \"Chassis ID\",\n        \"00:18:0a:00:00:00\"\n      ],\n      [\n        \"Port description\",\n        \"eth0\"\n      ],\n      [\n        \"System capabilities\",\n        \"Two-port MAC Relay\"\n      ]\n    ],\n    \"cdp\": null\n  }\n]",
                "summary": "Return the client associated with the given identifier. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP."
            },
            {
                "methodGroup": "Clients",
                "methodName": "getNetworkClientEvents",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "clientId"
                    },
                    {
                        "camelCaseName": "perPage"
                    },
                    {
                        "camelCaseName": "startingAfter"
                    },
                    {
                        "camelCaseName": "endingBefore"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkClientEvents_networkId\"><label for=\"node-input-getNetworkClientEvents_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkClientEvents_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClientEvents_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkClientEvents_clientId\"><label for=\"node-input-getNetworkClientEvents_clientId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>clientId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkClientEvents_clientId\" placeholder=\"msg.clientId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClientEvents_clientIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkClientEvents_perPage\"><label for=\"node-input-getNetworkClientEvents_perPage\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>perPage</b> <i>&nbspinteger</i></span></label><p>The number of entries per page returned. Acceptable range is 3 - 100. Default is 100.</p><input type=\"text\" id=\"node-input-getNetworkClientEvents_perPage\" placeholder=\"msg.perPage\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClientEvents_perPageType\" value=\"integer\" ></div><div class=\"form-row\" id=\"getNetworkClientEvents_startingAfter\"><label for=\"node-input-getNetworkClientEvents_startingAfter\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>startingAfter</b> <i>&nbspstring</i></span></label><p>A token used by the server to indicate the start of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.</p><input type=\"text\" id=\"node-input-getNetworkClientEvents_startingAfter\" placeholder=\"msg.startingAfter\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClientEvents_startingAfterType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkClientEvents_endingBefore\"><label for=\"node-input-getNetworkClientEvents_endingBefore\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>endingBefore</b> <i>&nbspstring</i></span></label><p>A token used by the server to indicate the end of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.</p><input type=\"text\" id=\"node-input-getNetworkClientEvents_endingBefore\" placeholder=\"msg.endingBefore\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClientEvents_endingBeforeType\" value=\"string\" ></div>",
                "example": "[\n  [\n    {\n      \"deviceSerial\": \"Q234-ABCD-5678\",\n      \"occurredAt\": 1518365681,\n      \"type\": \"l3roaming_assoc_start\",\n      \"details\": {\n        \"vap\": \"1\",\n        \"on_packet\": \"true\"\n      }\n    }\n  ]\n]",
                "summary": "Return the events associated with this client. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP."
            },
            {
                "methodGroup": "Clients",
                "methodName": "getNetworkClientLatencyHistory",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "clientId"
                    },
                    {
                        "camelCaseName": "t0"
                    },
                    {
                        "camelCaseName": "t1"
                    },
                    {
                        "camelCaseName": "timespan"
                    },
                    {
                        "camelCaseName": "resolution"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkClientLatencyHistory_networkId\"><label for=\"node-input-getNetworkClientLatencyHistory_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkClientLatencyHistory_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClientLatencyHistory_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkClientLatencyHistory_clientId\"><label for=\"node-input-getNetworkClientLatencyHistory_clientId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>clientId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkClientLatencyHistory_clientId\" placeholder=\"msg.clientId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClientLatencyHistory_clientIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkClientLatencyHistory_t0\"><label for=\"node-input-getNetworkClientLatencyHistory_t0\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>t0</b> <i>&nbspstring</i></span></label><p>The beginning of the timespan for the data. The maximum lookback period is 791 days from today.</p><input type=\"text\" id=\"node-input-getNetworkClientLatencyHistory_t0\" placeholder=\"msg.t0\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClientLatencyHistory_t0Type\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkClientLatencyHistory_t1\"><label for=\"node-input-getNetworkClientLatencyHistory_t1\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>t1</b> <i>&nbspstring</i></span></label><p>The end of the timespan for the data. t1 can be a maximum of 791 days after t0.</p><input type=\"text\" id=\"node-input-getNetworkClientLatencyHistory_t1\" placeholder=\"msg.t1\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClientLatencyHistory_t1Type\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkClientLatencyHistory_timespan\"><label for=\"node-input-getNetworkClientLatencyHistory_timespan\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>timespan</b> <i>&nbspinteger</i></span></label><p>The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 791 days. The default is 1 day.</p><input type=\"text\" id=\"node-input-getNetworkClientLatencyHistory_timespan\" placeholder=\"msg.timespan\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClientLatencyHistory_timespanType\" value=\"integer\" ></div><div class=\"form-row\" id=\"getNetworkClientLatencyHistory_resolution\"><label for=\"node-input-getNetworkClientLatencyHistory_resolution\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>resolution</b> <i>&nbspinteger</i></span></label><p>The time resolution in seconds for returned data. The valid resolutions are: 86400. The default is 86400.</p><input type=\"text\" id=\"node-input-getNetworkClientLatencyHistory_resolution\" placeholder=\"msg.resolution\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClientLatencyHistory_resolutionType\" value=\"integer\" ></div>",
                "example": "[\n  [\n    {\n      \"t0\": 1550534400,\n      \"t1\": 1550620800,\n      \"latencyBinsByCategory\": {\n        \"backgroundTraffic\": {\n          \"0.5\": 41750,\n          \"1.0\": 21552,\n          \"2.0\": 59940,\n          \"4.0\": 146622,\n          \"8.0\": 57354,\n          \"16.0\": 0,\n          \"32.0\": 9954,\n          \"64.0\": 0,\n          \"128.0\": 0,\n          \"256.0\": 1896,\n          \"512.0\": 0,\n          \"1024.0\": 0,\n          \"2048.0\": 0\n        },\n        \"bestEffortTraffic\": {\n          \"0.5\": 1840899,\n          \"1.0\": 1644506,\n          \"2.0\": 629958,\n          \"4.0\": 449564,\n          \"8.0\": 2009658,\n          \"16.0\": 1329568,\n          \"32.0\": 282168,\n          \"64.0\": 97573,\n          \"128.0\": 191977,\n          \"256.0\": 30560,\n          \"512.0\": 26032,\n          \"1024.0\": 4943,\n          \"2048.0\": 12072\n        },\n        \"videoTraffic\": {\n          \"0.5\": 0,\n          \"1.0\": 0,\n          \"2.0\": 0,\n          \"4.0\": 0,\n          \"8.0\": 0,\n          \"16.0\": 0,\n          \"32.0\": 0,\n          \"64.0\": 0,\n          \"128.0\": 0,\n          \"256.0\": 0,\n          \"512.0\": 0,\n          \"1024.0\": 0,\n          \"2048.0\": 0\n        },\n        \"voiceTraffic\": {\n          \"0.5\": 716,\n          \"1.0\": 948,\n          \"2.0\": 474,\n          \"4.0\": 78,\n          \"8.0\": 0,\n          \"16.0\": 0,\n          \"32.0\": 0,\n          \"64.0\": 0,\n          \"128.0\": 0,\n          \"256.0\": 0,\n          \"512.0\": 0,\n          \"1024.0\": 0,\n          \"2048.0\": 0\n        }\n      }\n    }\n  ]\n]",
                "summary": "Return the latency history for a client. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP. The latency data is from a sample of 2% of packets and is grouped into 4 traffic categories: background best effort video voice. Within these categories the sampled packet counters are bucketed by latency in milliseconds."
            },
            {
                "methodGroup": "Clients",
                "methodName": "getNetworkClientPolicy",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "clientId"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkClientPolicy_networkId\"><label for=\"node-input-getNetworkClientPolicy_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkClientPolicy_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClientPolicy_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkClientPolicy_clientId\"><label for=\"node-input-getNetworkClientPolicy_clientId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>clientId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkClientPolicy_clientId\" placeholder=\"msg.clientId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClientPolicy_clientIdType\" value=\"string\" ></div>",
                "example": "[\n  {\n    \"mac\": \"00:11:22:33:44:55\",\n    \"type\": \"Group policy\",\n    \"groupPolicyId\": \"101\"\n  }\n]",
                "summary": "Return the policy assigned to a client on the network. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP."
            },
            {
                "methodGroup": "Clients",
                "methodName": "updateNetworkClientPolicy",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "clientId"
                    },
                    {
                        "camelCaseName": "updateNetworkClientPolicy"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"updateNetworkClientPolicy_networkId\"><label for=\"node-input-updateNetworkClientPolicy_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-updateNetworkClientPolicy_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateNetworkClientPolicy_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"updateNetworkClientPolicy_clientId\"><label for=\"node-input-updateNetworkClientPolicy_clientId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>clientId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-updateNetworkClientPolicy_clientId\" placeholder=\"msg.clientId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateNetworkClientPolicy_clientIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"updateNetworkClientPolicy_updateNetworkClientPolicy\"><label for=\"node-input-updateNetworkClientPolicy_updateNetworkClientPolicy\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>updateNetworkClientPolicy</b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-updateNetworkClientPolicy_updateNetworkClientPolicy\" placeholder=\"msg.updateNetworkClientPolicy\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateNetworkClientPolicy_updateNetworkClientPolicyType\" value=\"\" ></div>",
                "example": "[\n  {\n    \"mac\": \"00:11:22:33:44:55\",\n    \"type\": \"Group policy\",\n    \"groupPolicyId\": \"101\"\n  }\n]",
                "summary": "Update the policy assigned to a client on the network. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP."
            },
            {
                "methodGroup": "Clients",
                "methodName": "getNetworkClientSplashAuthorizationStatus",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "clientId"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkClientSplashAuthorizationStatus_networkId\"><label for=\"node-input-getNetworkClientSplashAuthorizationStatus_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkClientSplashAuthorizationStatus_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClientSplashAuthorizationStatus_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkClientSplashAuthorizationStatus_clientId\"><label for=\"node-input-getNetworkClientSplashAuthorizationStatus_clientId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>clientId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkClientSplashAuthorizationStatus_clientId\" placeholder=\"msg.clientId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClientSplashAuthorizationStatus_clientIdType\" value=\"string\" ></div>",
                "example": "[\n  {\n    \"ssids\": {\n      \"0\": {\n        \"isAuthorized\": true,\n        \"authorizedAt\": \"2017-07-19 16:24:13 UTC\",\n        \"expiresAt\": \"2017-07-20 16:24:13 UTC\"\n      },\n      \"2\": {\n        \"isAuthorized\": false\n      }\n    }\n  }\n]",
                "summary": "Return the splash authorization for a client for each SSID theyve associated with through splash. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP."
            },
            {
                "methodGroup": "Clients",
                "methodName": "updateNetworkClientSplashAuthorizationStatus",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "clientId"
                    },
                    {
                        "camelCaseName": "updateNetworkClientSplashAuthorizationStatus"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"updateNetworkClientSplashAuthorizationStatus_networkId\"><label for=\"node-input-updateNetworkClientSplashAuthorizationStatus_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-updateNetworkClientSplashAuthorizationStatus_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateNetworkClientSplashAuthorizationStatus_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"updateNetworkClientSplashAuthorizationStatus_clientId\"><label for=\"node-input-updateNetworkClientSplashAuthorizationStatus_clientId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>clientId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-updateNetworkClientSplashAuthorizationStatus_clientId\" placeholder=\"msg.clientId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateNetworkClientSplashAuthorizationStatus_clientIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"updateNetworkClientSplashAuthorizationStatus_updateNetworkClientSplashAuthorizationStatus\"><label for=\"node-input-updateNetworkClientSplashAuthorizationStatus_updateNetworkClientSplashAuthorizationStatus\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>updateNetworkClientSplashAuthorizationStatus</b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-updateNetworkClientSplashAuthorizationStatus_updateNetworkClientSplashAuthorizationStatus\" placeholder=\"msg.updateNetworkClientSplashAuthorizationStatus\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateNetworkClientSplashAuthorizationStatus_updateNetworkClientSplashAuthorizationStatusType\" value=\"\" ></div>",
                "example": "[\n  {\n    \"ssids\": {\n      \"0\": {\n        \"isAuthorized\": true,\n        \"authorizedAt\": \"2017-07-19 16:24:13 UTC\",\n        \"expiresAt\": \"2017-07-20 16:24:13 UTC\"\n      },\n      \"2\": {\n        \"isAuthorized\": false\n      }\n    }\n  }\n]",
                "summary": "Update a clients splash authorization. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP."
            },
            {
                "methodGroup": "Clients",
                "methodName": "getNetworkClientTrafficHistory",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "clientId"
                    },
                    {
                        "camelCaseName": "perPage"
                    },
                    {
                        "camelCaseName": "startingAfter"
                    },
                    {
                        "camelCaseName": "endingBefore"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkClientTrafficHistory_networkId\"><label for=\"node-input-getNetworkClientTrafficHistory_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkClientTrafficHistory_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClientTrafficHistory_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkClientTrafficHistory_clientId\"><label for=\"node-input-getNetworkClientTrafficHistory_clientId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>clientId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkClientTrafficHistory_clientId\" placeholder=\"msg.clientId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClientTrafficHistory_clientIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkClientTrafficHistory_perPage\"><label for=\"node-input-getNetworkClientTrafficHistory_perPage\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>perPage</b> <i>&nbspinteger</i></span></label><p>The number of entries per page returned. Acceptable range is 3 - 1000.</p><input type=\"text\" id=\"node-input-getNetworkClientTrafficHistory_perPage\" placeholder=\"msg.perPage\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClientTrafficHistory_perPageType\" value=\"integer\" ></div><div class=\"form-row\" id=\"getNetworkClientTrafficHistory_startingAfter\"><label for=\"node-input-getNetworkClientTrafficHistory_startingAfter\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>startingAfter</b> <i>&nbspstring</i></span></label><p>A token used by the server to indicate the start of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.</p><input type=\"text\" id=\"node-input-getNetworkClientTrafficHistory_startingAfter\" placeholder=\"msg.startingAfter\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClientTrafficHistory_startingAfterType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkClientTrafficHistory_endingBefore\"><label for=\"node-input-getNetworkClientTrafficHistory_endingBefore\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>endingBefore</b> <i>&nbspstring</i></span></label><p>A token used by the server to indicate the end of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.</p><input type=\"text\" id=\"node-input-getNetworkClientTrafficHistory_endingBefore\" placeholder=\"msg.endingBefore\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClientTrafficHistory_endingBeforeType\" value=\"string\" ></div>",
                "example": "[\n  [\n    {\n      \"ts\": 1518365681,\n      \"application\": \"Google\",\n      \"destination\": \"www.google.com\",\n      \"protocol\": \"UDP\",\n      \"port\": 443,\n      \"recv\": 383,\n      \"sent\": 56,\n      \"numFlows\": 5,\n      \"activeSeconds\": 240\n    }\n  ]\n]",
                "summary": "Return the clients network traffic data over time. Usage data is in kilobytes. This endpoint requires detailed traffic analysis to be enabled on the Network-wide > General page. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP."
            },
            {
                "methodGroup": "Clients",
                "methodName": "getNetworkClientUsageHistory",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "clientId"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkClientUsageHistory_networkId\"><label for=\"node-input-getNetworkClientUsageHistory_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkClientUsageHistory_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClientUsageHistory_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkClientUsageHistory_clientId\"><label for=\"node-input-getNetworkClientUsageHistory_clientId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>clientId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkClientUsageHistory_clientId\" placeholder=\"msg.clientId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClientUsageHistory_clientIdType\" value=\"string\" ></div>",
                "example": "[\n  [\n    {\n      \"sent\": 500,\n      \"received\": 680,\n      \"ts\": 1518365681\n    }\n  ]\n]",
                "summary": "Return the clients daily usage history. Usage data is in kilobytes. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP."
            }
        ],
        "storedParams": [],
        "formHtml": "",
        "method": "provisionNetworkClients",
        "x": 750,
        "y": 800,
        "wires": [
            [
                "aee43345.36285"
            ]
        ]
    },
    {
        "id": "341bb452.0f807c",
        "type": "comment",
        "z": "f4572282.d383",
        "name": "Use functions to write JSON data for the params.",
        "info": "\n",
        "x": 200,
        "y": 720,
        "wires": []
    },
    {
        "id": "8af75cea.4a5a6",
        "type": "comment",
        "z": "f4572282.d383",
        "name": "Requires WRITE access to Meraki. Read More..",
        "info": "In order to make changes to a Meraki network,\nthe API key must have write access to the network\nor organization.\n\nIf changes are not being saved or you are getting \nan error, try creating a new \"service\" within the \nMeraki Node, and change the base URL from\n`https://api.meraki.com/api/v0`\nto\n`https://n###.meraki.com/api/v0`\nwhere `n###` is the domain for your organization.\n\nFor example, if you login to your Meraki Dashboard\nit will redirect you to your account's domain.\n`https://n143.meraki.com/Hack-Sandbox-swi/n/Izo-3apc/manage/usage/list`\n\nIn this case, the domain is `n143`, so the new \nbase URL would be:\n`https://n143.meraki.com/api/v0`\n",
        "x": 740,
        "y": 720,
        "wires": []
    },
    {
        "id": "1b7a92e5.7da15d",
        "type": "function",
        "z": "f4572282.d383",
        "name": "Settings JSON - UPDATE ME",
        "func": "msg.networkId = \"L_643451796760561416\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 840,
        "wires": [
            [
                "2c475d54.8e5bc2"
            ]
        ]
    },
    {
        "id": "5bff2d63.4ca114",
        "type": "inject",
        "z": "f4572282.d383",
        "name": "Provision Client - multiple times",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 190,
        "y": 840,
        "wires": [
            [
                "1b7a92e5.7da15d"
            ]
        ]
    },
    {
        "id": "d277d326.12221",
        "type": "debug",
        "z": "f4572282.d383",
        "name": "Provision client",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "x": 980,
        "y": 840,
        "wires": []
    },
    {
        "id": "7868f1e4.482db",
        "type": "meraki-dashboard-api",
        "z": "f4572282.d383",
        "service": "",
        "name": "provisionNetworkClients",
        "selectedGroup": "Clients",
        "selectedMethod": "provisionNetworkClients",
        "filteredMethods": [
            {
                "methodGroup": "Clients",
                "methodName": "getDeviceClients",
                "parameters": [
                    {
                        "camelCaseName": "serial"
                    },
                    {
                        "camelCaseName": "t0"
                    },
                    {
                        "camelCaseName": "timespan"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getDeviceClients_serial\"><label for=\"node-input-getDeviceClients_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getDeviceClients_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getDeviceClients_serialType\" value=\"string\" ></div><div class=\"form-row\" id=\"getDeviceClients_t0\"><label for=\"node-input-getDeviceClients_t0\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>t0</b> <i>&nbspstring</i></span></label><p>The beginning of the timespan for the data. The maximum lookback period is 31 days from today.</p><input type=\"text\" id=\"node-input-getDeviceClients_t0\" placeholder=\"msg.t0\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getDeviceClients_t0Type\" value=\"string\" ></div><div class=\"form-row\" id=\"getDeviceClients_timespan\"><label for=\"node-input-getDeviceClients_timespan\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>timespan</b> <i>&nbspinteger</i></span></label><p>The timespan for which the information will be fetched. If specifying timespan, do not specify parameter t0. The value must be in seconds and be less than or equal to 31 days. The default is 1 day.</p><input type=\"text\" id=\"node-input-getDeviceClients_timespan\" placeholder=\"msg.timespan\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getDeviceClients_timespanType\" value=\"integer\" ></div>",
                "example": "[\n  {\n    \"usage\": {\n      \"sent\": 138,\n      \"recv\": 61\n    },\n    \"id\": \"k74272e\",\n    \"description\": \"Miles's phone\",\n    \"mac\": \"00:11:22:33:44:55\",\n    \"ip\": \"1.2.3.4\",\n    \"user\": \"milesmeraki\",\n    \"vlan\": 255,\n    \"switchport\": null,\n    \"mdnsName\": \"Miles's phone\",\n    \"dhcpHostname\": \"MilesPhone\"\n  }\n]",
                "summary": "List the clients of a device up to a maximum of a month ago. The usage of each client is returned in kilobytes. If the device is a switch the switchport is returned; otherwise the switchport field is null."
            },
            {
                "methodGroup": "Clients",
                "methodName": "getNetworkClients",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "t0"
                    },
                    {
                        "camelCaseName": "timespan"
                    },
                    {
                        "camelCaseName": "perPage"
                    },
                    {
                        "camelCaseName": "startingAfter"
                    },
                    {
                        "camelCaseName": "endingBefore"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkClients_networkId\"><label for=\"node-input-getNetworkClients_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkClients_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClients_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkClients_t0\"><label for=\"node-input-getNetworkClients_t0\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>t0</b> <i>&nbspstring</i></span></label><p>The beginning of the timespan for the data. The maximum lookback period is 31 days from today.</p><input type=\"text\" id=\"node-input-getNetworkClients_t0\" placeholder=\"msg.t0\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClients_t0Type\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkClients_timespan\"><label for=\"node-input-getNetworkClients_timespan\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>timespan</b> <i>&nbspinteger</i></span></label><p>The timespan for which the information will be fetched. If specifying timespan, do not specify parameter t0. The value must be in seconds and be less than or equal to 31 days. The default is 1 day.</p><input type=\"text\" id=\"node-input-getNetworkClients_timespan\" placeholder=\"msg.timespan\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClients_timespanType\" value=\"integer\" ></div><div class=\"form-row\" id=\"getNetworkClients_perPage\"><label for=\"node-input-getNetworkClients_perPage\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>perPage</b> <i>&nbspinteger</i></span></label><p>The number of entries per page returned. Acceptable range is 3 - 1000. Default is 10.</p><input type=\"text\" id=\"node-input-getNetworkClients_perPage\" placeholder=\"msg.perPage\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClients_perPageType\" value=\"integer\" ></div><div class=\"form-row\" id=\"getNetworkClients_startingAfter\"><label for=\"node-input-getNetworkClients_startingAfter\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>startingAfter</b> <i>&nbspstring</i></span></label><p>A token used by the server to indicate the start of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.</p><input type=\"text\" id=\"node-input-getNetworkClients_startingAfter\" placeholder=\"msg.startingAfter\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClients_startingAfterType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkClients_endingBefore\"><label for=\"node-input-getNetworkClients_endingBefore\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>endingBefore</b> <i>&nbspstring</i></span></label><p>A token used by the server to indicate the end of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.</p><input type=\"text\" id=\"node-input-getNetworkClients_endingBefore\" placeholder=\"msg.endingBefore\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClients_endingBeforeType\" value=\"string\" ></div>",
                "example": "[\n  {\n    \"usage\": {\n      \"sent\": 138,\n      \"recv\": 61\n    },\n    \"id\": \"k74272e\",\n    \"description\": \"Miles's phone\",\n    \"mac\": \"00:11:22:33:44:55\",\n    \"ip\": \"1.2.3.4\",\n    \"user\": \"milesmeraki\",\n    \"vlan\": 255,\n    \"switchport\": null,\n    \"ip6\": \"\",\n    \"firstSeen\": 1518365681,\n    \"lastSeen\": 1526087474,\n    \"manufacturer\": \"Apple\",\n    \"os\": \"iOS\"\n  }\n]",
                "summary": "List the clients that have used this network in the timespan"
            },
            {
                "methodGroup": "Clients",
                "methodName": "provisionNetworkClients",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "provisionNetworkClients"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"provisionNetworkClients_networkId\"><label for=\"node-input-provisionNetworkClients_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-provisionNetworkClients_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-provisionNetworkClients_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"provisionNetworkClients_provisionNetworkClients\"><label for=\"node-input-provisionNetworkClients_provisionNetworkClients\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>provisionNetworkClients</b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-provisionNetworkClients_provisionNetworkClients\" placeholder=\"msg.provisionNetworkClients\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-provisionNetworkClients_provisionNetworkClientsType\" value=\"\" ></div>",
                "example": "[\n  {\n    \"mac\": \"00:11:22:33:44:55\",\n    \"clientId\": \"k74272e\",\n    \"name\": \"Miles's phone\",\n    \"devicePolicy\": \"Group policy\",\n    \"groupPolicyId\": \"101\"\n  }\n]",
                "summary": "Provisions a client with a name and policy. Clients can be provisioned before they associate to the network."
            },
            {
                "methodGroup": "Clients",
                "methodName": "getNetworkClient",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "clientId"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkClient_networkId\"><label for=\"node-input-getNetworkClient_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkClient_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClient_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkClient_clientId\"><label for=\"node-input-getNetworkClient_clientId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>clientId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkClient_clientId\" placeholder=\"msg.clientId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClient_clientIdType\" value=\"string\" ></div>",
                "example": "[\n  {\n    \"id\": \"k74272e\",\n    \"description\": \"Miles's phone\",\n    \"mac\": \"00:11:22:33:44:55\",\n    \"ip\": \"1.2.3.4\",\n    \"user\": \"null\",\n    \"vlan\": \"255\",\n    \"switchport\": null,\n    \"ip6\": \"\",\n    \"firstSeen\": 1518365681,\n    \"lastSeen\": 1526087474,\n    \"manufacturer\": \"Apple\",\n    \"os\": \"iOS\",\n    \"ssid\": \"My SSID\",\n    \"wirelessCapabilities\": \"802.11ac - 2.4 and 5 GHz\",\n    \"smInstalled\": true,\n    \"recentDeviceMac\": \"00:11:22:33:44:55\",\n    \"clientVpnConnections\": [\n      {\n        \"remoteIp\": \"1.2.3.4\",\n        \"connectedAt\": 1522613355,\n        \"disconnectedAt\": 1522613360\n      }\n    ],\n    \"lldp\": [\n      [\n        \"System name\",\n        \"Some system name\"\n      ],\n      [\n        \"System description\",\n        \"Some system description\"\n      ],\n      [\n        \"Port ID\",\n        \"1\"\n      ],\n      [\n        \"Chassis ID\",\n        \"00:18:0a:00:00:00\"\n      ],\n      [\n        \"Port description\",\n        \"eth0\"\n      ],\n      [\n        \"System capabilities\",\n        \"Two-port MAC Relay\"\n      ]\n    ],\n    \"cdp\": null\n  }\n]",
                "summary": "Return the client associated with the given identifier. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP."
            },
            {
                "methodGroup": "Clients",
                "methodName": "getNetworkClientEvents",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "clientId"
                    },
                    {
                        "camelCaseName": "perPage"
                    },
                    {
                        "camelCaseName": "startingAfter"
                    },
                    {
                        "camelCaseName": "endingBefore"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkClientEvents_networkId\"><label for=\"node-input-getNetworkClientEvents_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkClientEvents_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClientEvents_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkClientEvents_clientId\"><label for=\"node-input-getNetworkClientEvents_clientId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>clientId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkClientEvents_clientId\" placeholder=\"msg.clientId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClientEvents_clientIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkClientEvents_perPage\"><label for=\"node-input-getNetworkClientEvents_perPage\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>perPage</b> <i>&nbspinteger</i></span></label><p>The number of entries per page returned. Acceptable range is 3 - 100. Default is 100.</p><input type=\"text\" id=\"node-input-getNetworkClientEvents_perPage\" placeholder=\"msg.perPage\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClientEvents_perPageType\" value=\"integer\" ></div><div class=\"form-row\" id=\"getNetworkClientEvents_startingAfter\"><label for=\"node-input-getNetworkClientEvents_startingAfter\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>startingAfter</b> <i>&nbspstring</i></span></label><p>A token used by the server to indicate the start of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.</p><input type=\"text\" id=\"node-input-getNetworkClientEvents_startingAfter\" placeholder=\"msg.startingAfter\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClientEvents_startingAfterType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkClientEvents_endingBefore\"><label for=\"node-input-getNetworkClientEvents_endingBefore\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>endingBefore</b> <i>&nbspstring</i></span></label><p>A token used by the server to indicate the end of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.</p><input type=\"text\" id=\"node-input-getNetworkClientEvents_endingBefore\" placeholder=\"msg.endingBefore\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClientEvents_endingBeforeType\" value=\"string\" ></div>",
                "example": "[\n  [\n    {\n      \"deviceSerial\": \"Q234-ABCD-5678\",\n      \"occurredAt\": 1518365681,\n      \"type\": \"l3roaming_assoc_start\",\n      \"details\": {\n        \"vap\": \"1\",\n        \"on_packet\": \"true\"\n      }\n    }\n  ]\n]",
                "summary": "Return the events associated with this client. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP."
            },
            {
                "methodGroup": "Clients",
                "methodName": "getNetworkClientLatencyHistory",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "clientId"
                    },
                    {
                        "camelCaseName": "t0"
                    },
                    {
                        "camelCaseName": "t1"
                    },
                    {
                        "camelCaseName": "timespan"
                    },
                    {
                        "camelCaseName": "resolution"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkClientLatencyHistory_networkId\"><label for=\"node-input-getNetworkClientLatencyHistory_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkClientLatencyHistory_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClientLatencyHistory_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkClientLatencyHistory_clientId\"><label for=\"node-input-getNetworkClientLatencyHistory_clientId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>clientId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkClientLatencyHistory_clientId\" placeholder=\"msg.clientId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClientLatencyHistory_clientIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkClientLatencyHistory_t0\"><label for=\"node-input-getNetworkClientLatencyHistory_t0\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>t0</b> <i>&nbspstring</i></span></label><p>The beginning of the timespan for the data. The maximum lookback period is 791 days from today.</p><input type=\"text\" id=\"node-input-getNetworkClientLatencyHistory_t0\" placeholder=\"msg.t0\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClientLatencyHistory_t0Type\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkClientLatencyHistory_t1\"><label for=\"node-input-getNetworkClientLatencyHistory_t1\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>t1</b> <i>&nbspstring</i></span></label><p>The end of the timespan for the data. t1 can be a maximum of 791 days after t0.</p><input type=\"text\" id=\"node-input-getNetworkClientLatencyHistory_t1\" placeholder=\"msg.t1\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClientLatencyHistory_t1Type\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkClientLatencyHistory_timespan\"><label for=\"node-input-getNetworkClientLatencyHistory_timespan\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>timespan</b> <i>&nbspinteger</i></span></label><p>The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 791 days. The default is 1 day.</p><input type=\"text\" id=\"node-input-getNetworkClientLatencyHistory_timespan\" placeholder=\"msg.timespan\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClientLatencyHistory_timespanType\" value=\"integer\" ></div><div class=\"form-row\" id=\"getNetworkClientLatencyHistory_resolution\"><label for=\"node-input-getNetworkClientLatencyHistory_resolution\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>resolution</b> <i>&nbspinteger</i></span></label><p>The time resolution in seconds for returned data. The valid resolutions are: 86400. The default is 86400.</p><input type=\"text\" id=\"node-input-getNetworkClientLatencyHistory_resolution\" placeholder=\"msg.resolution\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClientLatencyHistory_resolutionType\" value=\"integer\" ></div>",
                "example": "[\n  [\n    {\n      \"t0\": 1550534400,\n      \"t1\": 1550620800,\n      \"latencyBinsByCategory\": {\n        \"backgroundTraffic\": {\n          \"0.5\": 41750,\n          \"1.0\": 21552,\n          \"2.0\": 59940,\n          \"4.0\": 146622,\n          \"8.0\": 57354,\n          \"16.0\": 0,\n          \"32.0\": 9954,\n          \"64.0\": 0,\n          \"128.0\": 0,\n          \"256.0\": 1896,\n          \"512.0\": 0,\n          \"1024.0\": 0,\n          \"2048.0\": 0\n        },\n        \"bestEffortTraffic\": {\n          \"0.5\": 1840899,\n          \"1.0\": 1644506,\n          \"2.0\": 629958,\n          \"4.0\": 449564,\n          \"8.0\": 2009658,\n          \"16.0\": 1329568,\n          \"32.0\": 282168,\n          \"64.0\": 97573,\n          \"128.0\": 191977,\n          \"256.0\": 30560,\n          \"512.0\": 26032,\n          \"1024.0\": 4943,\n          \"2048.0\": 12072\n        },\n        \"videoTraffic\": {\n          \"0.5\": 0,\n          \"1.0\": 0,\n          \"2.0\": 0,\n          \"4.0\": 0,\n          \"8.0\": 0,\n          \"16.0\": 0,\n          \"32.0\": 0,\n          \"64.0\": 0,\n          \"128.0\": 0,\n          \"256.0\": 0,\n          \"512.0\": 0,\n          \"1024.0\": 0,\n          \"2048.0\": 0\n        },\n        \"voiceTraffic\": {\n          \"0.5\": 716,\n          \"1.0\": 948,\n          \"2.0\": 474,\n          \"4.0\": 78,\n          \"8.0\": 0,\n          \"16.0\": 0,\n          \"32.0\": 0,\n          \"64.0\": 0,\n          \"128.0\": 0,\n          \"256.0\": 0,\n          \"512.0\": 0,\n          \"1024.0\": 0,\n          \"2048.0\": 0\n        }\n      }\n    }\n  ]\n]",
                "summary": "Return the latency history for a client. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP. The latency data is from a sample of 2% of packets and is grouped into 4 traffic categories: background best effort video voice. Within these categories the sampled packet counters are bucketed by latency in milliseconds."
            },
            {
                "methodGroup": "Clients",
                "methodName": "getNetworkClientPolicy",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "clientId"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkClientPolicy_networkId\"><label for=\"node-input-getNetworkClientPolicy_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkClientPolicy_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClientPolicy_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkClientPolicy_clientId\"><label for=\"node-input-getNetworkClientPolicy_clientId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>clientId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkClientPolicy_clientId\" placeholder=\"msg.clientId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClientPolicy_clientIdType\" value=\"string\" ></div>",
                "example": "[\n  {\n    \"mac\": \"00:11:22:33:44:55\",\n    \"type\": \"Group policy\",\n    \"groupPolicyId\": \"101\"\n  }\n]",
                "summary": "Return the policy assigned to a client on the network. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP."
            },
            {
                "methodGroup": "Clients",
                "methodName": "updateNetworkClientPolicy",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "clientId"
                    },
                    {
                        "camelCaseName": "updateNetworkClientPolicy"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"updateNetworkClientPolicy_networkId\"><label for=\"node-input-updateNetworkClientPolicy_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-updateNetworkClientPolicy_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateNetworkClientPolicy_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"updateNetworkClientPolicy_clientId\"><label for=\"node-input-updateNetworkClientPolicy_clientId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>clientId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-updateNetworkClientPolicy_clientId\" placeholder=\"msg.clientId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateNetworkClientPolicy_clientIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"updateNetworkClientPolicy_updateNetworkClientPolicy\"><label for=\"node-input-updateNetworkClientPolicy_updateNetworkClientPolicy\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>updateNetworkClientPolicy</b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-updateNetworkClientPolicy_updateNetworkClientPolicy\" placeholder=\"msg.updateNetworkClientPolicy\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateNetworkClientPolicy_updateNetworkClientPolicyType\" value=\"\" ></div>",
                "example": "[\n  {\n    \"mac\": \"00:11:22:33:44:55\",\n    \"type\": \"Group policy\",\n    \"groupPolicyId\": \"101\"\n  }\n]",
                "summary": "Update the policy assigned to a client on the network. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP."
            },
            {
                "methodGroup": "Clients",
                "methodName": "getNetworkClientSplashAuthorizationStatus",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "clientId"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkClientSplashAuthorizationStatus_networkId\"><label for=\"node-input-getNetworkClientSplashAuthorizationStatus_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkClientSplashAuthorizationStatus_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClientSplashAuthorizationStatus_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkClientSplashAuthorizationStatus_clientId\"><label for=\"node-input-getNetworkClientSplashAuthorizationStatus_clientId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>clientId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkClientSplashAuthorizationStatus_clientId\" placeholder=\"msg.clientId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClientSplashAuthorizationStatus_clientIdType\" value=\"string\" ></div>",
                "example": "[\n  {\n    \"ssids\": {\n      \"0\": {\n        \"isAuthorized\": true,\n        \"authorizedAt\": \"2017-07-19 16:24:13 UTC\",\n        \"expiresAt\": \"2017-07-20 16:24:13 UTC\"\n      },\n      \"2\": {\n        \"isAuthorized\": false\n      }\n    }\n  }\n]",
                "summary": "Return the splash authorization for a client for each SSID theyve associated with through splash. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP."
            },
            {
                "methodGroup": "Clients",
                "methodName": "updateNetworkClientSplashAuthorizationStatus",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "clientId"
                    },
                    {
                        "camelCaseName": "updateNetworkClientSplashAuthorizationStatus"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"updateNetworkClientSplashAuthorizationStatus_networkId\"><label for=\"node-input-updateNetworkClientSplashAuthorizationStatus_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-updateNetworkClientSplashAuthorizationStatus_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateNetworkClientSplashAuthorizationStatus_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"updateNetworkClientSplashAuthorizationStatus_clientId\"><label for=\"node-input-updateNetworkClientSplashAuthorizationStatus_clientId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>clientId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-updateNetworkClientSplashAuthorizationStatus_clientId\" placeholder=\"msg.clientId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateNetworkClientSplashAuthorizationStatus_clientIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"updateNetworkClientSplashAuthorizationStatus_updateNetworkClientSplashAuthorizationStatus\"><label for=\"node-input-updateNetworkClientSplashAuthorizationStatus_updateNetworkClientSplashAuthorizationStatus\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>updateNetworkClientSplashAuthorizationStatus</b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-updateNetworkClientSplashAuthorizationStatus_updateNetworkClientSplashAuthorizationStatus\" placeholder=\"msg.updateNetworkClientSplashAuthorizationStatus\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateNetworkClientSplashAuthorizationStatus_updateNetworkClientSplashAuthorizationStatusType\" value=\"\" ></div>",
                "example": "[\n  {\n    \"ssids\": {\n      \"0\": {\n        \"isAuthorized\": true,\n        \"authorizedAt\": \"2017-07-19 16:24:13 UTC\",\n        \"expiresAt\": \"2017-07-20 16:24:13 UTC\"\n      },\n      \"2\": {\n        \"isAuthorized\": false\n      }\n    }\n  }\n]",
                "summary": "Update a clients splash authorization. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP."
            },
            {
                "methodGroup": "Clients",
                "methodName": "getNetworkClientTrafficHistory",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "clientId"
                    },
                    {
                        "camelCaseName": "perPage"
                    },
                    {
                        "camelCaseName": "startingAfter"
                    },
                    {
                        "camelCaseName": "endingBefore"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkClientTrafficHistory_networkId\"><label for=\"node-input-getNetworkClientTrafficHistory_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkClientTrafficHistory_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClientTrafficHistory_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkClientTrafficHistory_clientId\"><label for=\"node-input-getNetworkClientTrafficHistory_clientId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>clientId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkClientTrafficHistory_clientId\" placeholder=\"msg.clientId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClientTrafficHistory_clientIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkClientTrafficHistory_perPage\"><label for=\"node-input-getNetworkClientTrafficHistory_perPage\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>perPage</b> <i>&nbspinteger</i></span></label><p>The number of entries per page returned. Acceptable range is 3 - 1000.</p><input type=\"text\" id=\"node-input-getNetworkClientTrafficHistory_perPage\" placeholder=\"msg.perPage\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClientTrafficHistory_perPageType\" value=\"integer\" ></div><div class=\"form-row\" id=\"getNetworkClientTrafficHistory_startingAfter\"><label for=\"node-input-getNetworkClientTrafficHistory_startingAfter\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>startingAfter</b> <i>&nbspstring</i></span></label><p>A token used by the server to indicate the start of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.</p><input type=\"text\" id=\"node-input-getNetworkClientTrafficHistory_startingAfter\" placeholder=\"msg.startingAfter\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClientTrafficHistory_startingAfterType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkClientTrafficHistory_endingBefore\"><label for=\"node-input-getNetworkClientTrafficHistory_endingBefore\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>endingBefore</b> <i>&nbspstring</i></span></label><p>A token used by the server to indicate the end of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.</p><input type=\"text\" id=\"node-input-getNetworkClientTrafficHistory_endingBefore\" placeholder=\"msg.endingBefore\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClientTrafficHistory_endingBeforeType\" value=\"string\" ></div>",
                "example": "[\n  [\n    {\n      \"ts\": 1518365681,\n      \"application\": \"Google\",\n      \"destination\": \"www.google.com\",\n      \"protocol\": \"UDP\",\n      \"port\": 443,\n      \"recv\": 383,\n      \"sent\": 56,\n      \"numFlows\": 5,\n      \"activeSeconds\": 240\n    }\n  ]\n]",
                "summary": "Return the clients network traffic data over time. Usage data is in kilobytes. This endpoint requires detailed traffic analysis to be enabled on the Network-wide > General page. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP."
            },
            {
                "methodGroup": "Clients",
                "methodName": "getNetworkClientUsageHistory",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "clientId"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkClientUsageHistory_networkId\"><label for=\"node-input-getNetworkClientUsageHistory_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkClientUsageHistory_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClientUsageHistory_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkClientUsageHistory_clientId\"><label for=\"node-input-getNetworkClientUsageHistory_clientId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>clientId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkClientUsageHistory_clientId\" placeholder=\"msg.clientId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkClientUsageHistory_clientIdType\" value=\"string\" ></div>",
                "example": "[\n  [\n    {\n      \"sent\": 500,\n      \"received\": 680,\n      \"ts\": 1518365681\n    }\n  ]\n]",
                "summary": "Return the clients daily usage history. Usage data is in kilobytes. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP."
            }
        ],
        "storedParams": [],
        "formHtml": "",
        "method": "provisionNetworkClients",
        "x": 750,
        "y": 840,
        "wires": [
            [
                "d277d326.12221"
            ]
        ]
    },
    {
        "id": "2c475d54.8e5bc2",
        "type": "function",
        "z": "f4572282.d383",
        "name": "List of clients - UPDATE ME",
        "func": "var clients = [\n    {\n    \"mac\": \"11:22:33:aa:aa:aa\",\n    \"name\": \"Billy Test\",\n    \"devicePolicy\": \"Group policy\",\n    \"groupPolicyId\": \"100\"\n    },\n    {\n    \"mac\": \"11:22:33:bb:bb:bb\",\n    \"name\": \"Bob Test\",\n    \"devicePolicy\": \"Group policy\",\n    \"groupPolicyId\": \"100\"\n    },\n    {\n    \"mac\": \"11:22:33:cc:cc:cc\",\n    \"name\": \"Sally Test\",\n    \"devicePolicy\": \"Group policy\",\n    \"groupPolicyId\": \"100\"\n    },\n    {\n    \"mac\": \"11:22:33:dd:dd:dd\",\n    \"name\": \"Susan Test\",\n    \"devicePolicy\": \"Group policy\",\n    \"groupPolicyId\": \"100\"\n    }\n];\n\nmsg.payload = clients;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 880,
        "wires": [
            [
                "8a3630d4.d8373"
            ]
        ]
    },
    {
        "id": "8a3630d4.d8373",
        "type": "split",
        "z": "f4572282.d383",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 390,
        "y": 920,
        "wires": [
            [
                "a0236cc5.4763d"
            ]
        ]
    },
    {
        "id": "a0236cc5.4763d",
        "type": "delay",
        "z": "f4572282.d383",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "3",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 530,
        "y": 920,
        "wires": [
            [
                "7868f1e4.482db"
            ]
        ]
    },
    {
        "id": "4b0f8bc7.bbac74",
        "type": "inject",
        "z": "f4572282.d383",
        "name": "Enable SSID",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 960,
        "wires": [
            [
                "27d3e5a9.b54b0a"
            ]
        ]
    },
    {
        "id": "3982b4b4.1cee6c",
        "type": "debug",
        "z": "f4572282.d383",
        "name": "Update SSID",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 990,
        "y": 980,
        "wires": []
    },
    {
        "id": "fba2f912.645b58",
        "type": "meraki-dashboard-api",
        "z": "f4572282.d383",
        "service": "",
        "name": "updateNetworkSsid",
        "selectedGroup": "SSIDs",
        "selectedMethod": "updateNetworkSsid",
        "filteredMethods": [
            {
                "methodGroup": "SSIDs",
                "methodName": "getNetworkDeviceWirelessStatus",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "serial"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkDeviceWirelessStatus_networkId\"><label for=\"node-input-getNetworkDeviceWirelessStatus_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkDeviceWirelessStatus_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDeviceWirelessStatus_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkDeviceWirelessStatus_serial\"><label for=\"node-input-getNetworkDeviceWirelessStatus_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkDeviceWirelessStatus_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDeviceWirelessStatus_serialType\" value=\"string\" ></div>",
                "example": "[\n  {\n    \"basicServiceSets\": [\n      {\n        \"ssidName\": \"My SSID\",\n        \"ssidNumber\": 0,\n        \"enabled\": true,\n        \"band\": \"2.4 GHz\",\n        \"bssid\": \"8A:15:04:00:00:00\",\n        \"channel\": 11,\n        \"channelWidth\": \"20 MHz\",\n        \"power\": \"18 dBm\",\n        \"visible\": true,\n        \"broadcasting\": true\n      },\n      {\n        \"ssidName\": \"My SSID\",\n        \"ssidNumber\": 0,\n        \"enabled\": true,\n        \"band\": \"5 GHz\",\n        \"bssid\": \"8A:15:14:00:00:00\",\n        \"channel\": 149,\n        \"channelWidth\": \"80 MHz\",\n        \"power\": \"18 dBm\",\n        \"visible\": true,\n        \"broadcasting\": true\n      }\n    ]\n  }\n]",
                "summary": "Return the SSID statuses of an access point"
            },
            {
                "methodGroup": "SSIDs",
                "methodName": "getNetworkSsids",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkSsids_networkId\"><label for=\"node-input-getNetworkSsids_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkSsids_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkSsids_networkIdType\" value=\"string\" ></div>",
                "example": "[\n  [\n    {\n      \"number\": 0,\n      \"name\": \"My SSID\",\n      \"enabled\": true,\n      \"splashPage\": \"Click-through splash page\",\n      \"ssidAdminAccessible\": false,\n      \"authMode\": \"8021x-radius\",\n      \"encryptionMode\": \"wpa-eap\",\n      \"wpaEncryptionMode\": \"WPA2 only\",\n      \"radiusServers\": [\n        {\n          \"host\": \"0.0.0.0\",\n          \"port\": 3000\n        }\n      ],\n      \"radiusAccountingEnabled\": false,\n      \"radiusEnabled\": true,\n      \"radiusAttributeForGroupPolicies\": \"Filter-Id\",\n      \"radiusFailoverPolicy\": \"null\",\n      \"radiusLoadBalancingPolicy\": \"null\",\n      \"ipAssignmentMode\": \"NAT mode\",\n      \"adminSplashUrl\": \"http://example.com\",\n      \"splashTimeout\": \"30 minutes\",\n      \"walledGardenEnabled\": true,\n      \"walledGardenRanges\": \"example.com\",\n      \"minBitrate\": 11,\n      \"bandSelection\": \"5 GHz band only\",\n      \"perClientBandwidthLimitUp\": 0,\n      \"perClientBandwidthLimitDown\": 0\n    }\n  ]\n]",
                "summary": "List the SSIDs in a network. Supports networks with access points or wireless-enabled security appliances and teleworker gateways."
            },
            {
                "methodGroup": "SSIDs",
                "methodName": "getNetworkSsid",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "number"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkSsid_networkId\"><label for=\"node-input-getNetworkSsid_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkSsid_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkSsid_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkSsid_number\"><label for=\"node-input-getNetworkSsid_number\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>number<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkSsid_number\" placeholder=\"msg.number\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkSsid_numberType\" value=\"string\" ></div>",
                "example": "[\n  {\n    \"number\": 0,\n    \"name\": \"My SSID\",\n    \"enabled\": true,\n    \"splashPage\": \"Click-through splash page\",\n    \"ssidAdminAccessible\": false,\n    \"authMode\": \"8021x-radius\",\n    \"encryptionMode\": \"wpa-eap\",\n    \"wpaEncryptionMode\": \"WPA2 only\",\n    \"radiusServers\": [\n      {\n        \"host\": \"0.0.0.0\",\n        \"port\": 3000\n      }\n    ],\n    \"radiusAccountingEnabled\": false,\n    \"radiusEnabled\": true,\n    \"radiusAttributeForGroupPolicies\": \"Filter-Id\",\n    \"radiusFailoverPolicy\": \"null\",\n    \"radiusLoadBalancingPolicy\": \"null\",\n    \"ipAssignmentMode\": \"NAT mode\",\n    \"adminSplashUrl\": \"http://example.com\",\n    \"splashTimeout\": \"30 minutes\",\n    \"walledGardenEnabled\": true,\n    \"walledGardenRanges\": \"example.com\",\n    \"minBitrate\": 11,\n    \"bandSelection\": \"5 GHz band only\",\n    \"perClientBandwidthLimitUp\": 0,\n    \"perClientBandwidthLimitDown\": 0\n  }\n]",
                "summary": "Return a single SSID"
            },
            {
                "methodGroup": "SSIDs",
                "methodName": "updateNetworkSsid",
                "parameters": [
                    {
                        "camelCaseName": "networkId"
                    },
                    {
                        "camelCaseName": "number"
                    },
                    {
                        "camelCaseName": "updateNetworkSsid"
                    }
                ],
                "formHtml": "<h4>Parameters</h4><div class=\"form-row\" id=\"updateNetworkSsid_networkId\"><label for=\"node-input-updateNetworkSsid_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-updateNetworkSsid_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateNetworkSsid_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"updateNetworkSsid_number\"><label for=\"node-input-updateNetworkSsid_number\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>number<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-updateNetworkSsid_number\" placeholder=\"msg.number\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateNetworkSsid_numberType\" value=\"string\" ></div><div class=\"form-row\" id=\"updateNetworkSsid_updateNetworkSsid\"><label for=\"node-input-updateNetworkSsid_updateNetworkSsid\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>updateNetworkSsid</b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-updateNetworkSsid_updateNetworkSsid\" placeholder=\"msg.updateNetworkSsid\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateNetworkSsid_updateNetworkSsidType\" value=\"\" ></div>",
                "example": "[\n  {\n    \"number\": 0,\n    \"name\": \"My SSID\",\n    \"enabled\": true,\n    \"splashPage\": \"Click-through splash page\",\n    \"ssidAdminAccessible\": false,\n    \"authMode\": \"8021x-radius\",\n    \"encryptionMode\": \"wpa-eap\",\n    \"wpaEncryptionMode\": \"WPA2 only\",\n    \"radiusServers\": [\n      {\n        \"host\": \"0.0.0.0\",\n        \"port\": 3000\n      }\n    ],\n    \"radiusAccountingEnabled\": false,\n    \"radiusEnabled\": true,\n    \"radiusAttributeForGroupPolicies\": \"Filter-Id\",\n    \"radiusFailoverPolicy\": \"null\",\n    \"radiusLoadBalancingPolicy\": \"null\",\n    \"ipAssignmentMode\": \"NAT mode\",\n    \"adminSplashUrl\": \"http://example.com\",\n    \"splashTimeout\": \"30 minutes\",\n    \"walledGardenEnabled\": true,\n    \"walledGardenRanges\": \"example.com\",\n    \"minBitrate\": 11,\n    \"bandSelection\": \"5 GHz band only\",\n    \"perClientBandwidthLimitUp\": 0,\n    \"perClientBandwidthLimitDown\": 0\n  }\n]",
                "summary": "Update the attributes of an SSID"
            }
        ],
        "currentParams": [
            {
                "methodName": "updateNetworkSsid",
                "camelCaseName": "updateNetworkSsid",
                "type": "str",
                "value": ""
            },
            {
                "methodName": "updateNetworkSsid",
                "camelCaseName": "number",
                "type": "str",
                "value": ""
            }
        ],
        "storedParams": [
            {
                "methodName": "updateNetworkSsid",
                "camelCaseName": "updateNetworkSsid",
                "type": "str",
                "value": ""
            },
            {
                "methodName": "updateNetworkSsid",
                "camelCaseName": "number",
                "type": "str",
                "value": ""
            }
        ],
        "formHtml": "",
        "method": "updateNetworkSsid",
        "x": 800,
        "y": 980,
        "wires": [
            [
                "3982b4b4.1cee6c"
            ]
        ]
    },
    {
        "id": "35b0d7ef.ec45e8",
        "type": "change",
        "z": "f4572282.d383",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "networkId",
                "pt": "msg",
                "to": "networkId",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 980,
        "wires": [
            [
                "fba2f912.645b58"
            ]
        ]
    },
    {
        "id": "27d3e5a9.b54b0a",
        "type": "function",
        "z": "f4572282.d383",
        "name": "Settings JSON - UPDATE ME",
        "func": "msg.number = 11; // SSID number\nmsg.payload = {\n    \"enabled\": true\n}\n//msg.updateNetworkSsid = msg.payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 960,
        "wires": [
            [
                "35b0d7ef.ec45e8"
            ]
        ]
    },
    {
        "id": "67364800.5a9fc8",
        "type": "inject",
        "z": "f4572282.d383",
        "name": "Disable SSID",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 1000,
        "wires": [
            [
                "10ec3f5f.b4cb01"
            ]
        ]
    },
    {
        "id": "10ec3f5f.b4cb01",
        "type": "function",
        "z": "f4572282.d383",
        "name": "Settings JSON - UPDATE ME",
        "func": "msg.number = 11; // SSID number\nmsg.payload = {\n    \"enabled\": \"disable\"\n}\n//msg.updateNetworkSsid = msg.payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 1000,
        "wires": [
            [
                "35b0d7ef.ec45e8"
            ]
        ]
    }
]